﻿

<div id="Registro">

</div>

<div id="Capacitaciones" class="form-group row">
</div>
<div id="Fechas">
</div>
<div id="Message">
</div>


<script src="https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/js/intranet.js"></script>
<script src="https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/js/components/Flujo/Constructor.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
</head>