body {
    font-family: 'fselliot', sans-serif;
}
.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.directorio {

}
.directorio .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
}
.directorio .nav-tabs > li.active > a, 
.directorio .nav-tabs > li.active > a:focus, 
.directorio.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #ee3036;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.directorio-contenido {
    padding: 35px 0;
}
.directorio h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000;
    float: left;
}
.directorio h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.directorio-contenido-tittle img {
    float: left;
    margin-right: 15px;
}
.directorio-contenido-tittle {
    display: table;
    width: 100%;
}
.directorio-tab-content {
    margin-top: 25px;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
}

/* Small Devices Potrait */
@media (max-width : 767px){
   
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}