﻿body {
    font-family: 'fselliot', sans-serif;
}
.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.mision .ne-image img, 
.vision .ne-image img {
    width: 100%;
}

.vision .ne-text-content {
    background: url('../images/bg-mision.png') no-repeat right 65px;
}
.norte-estrategico .ne-header img {
    max-width: 265px;
    margin-right: 12px; 
}
.norte-estrategico .ne-header img.vuelo2020 {
    max-width: 190px;
}
.norte-estrategico .mision > div {
    width: 50%;
    float: left;
}
.norte-estrategico .vision > div {
    width: 50%;
    float: right;
}
.norte-estrategico .ne-text-content {
    padding: 15px;
}
.norte-estrategico .row > div h2,
.ne-valores h2,
.ne-objetivos h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
}
.ne-valores h2,
.ne-objetivos h2 {
    text-align: center;
    margin-bottom: 35px;
}
.mision p, 
.vision p {
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    color: #575858;
}
.norte-estrategico .row > div p span {
    font-weight: bold;
}
.ne-header {
    margin: 25px 0;
}
.ne-line {
    text-align: center;
    margin: 35px 0 0 0;
}
.ne-valores.row > div p {
    font-size: 20px;
    line-height: 32px;
    color: #575858;
}
.item-valores {
    border: 1px dotted #c6c6c6;
    margin-bottom: 25px;
    width: 47%;
    padding: 1.5%;
    margin-right: 5%;
    float: left;
}
.item-valores:last-child {
    margin-right: 0%;
}
.titulos-valores {
    display: table;
    width: 100%;
    margin-bottom: 25px;
}
.titulos-valores img {
    max-width: 100px;
    float: left;
    margin-right: 15px;
}

.titulos-valores h3 {
    font-weight: 400;
    font-size: 22px;
    color:#ee3036;
}
.titulos-valores h3 span {
    font-weight: 700;
    font-size: 28px;
}
.row.ne-objetivos-content {
    max-width: 750px;
    margin: 0 auto;
}
.ne-objetivos-item {
    padding: 25px 0;
    border-bottom: 1px dotted #c6c6c6;
}
.ne-objetivos-item-tittle {
    color:#ee3036;
    text-transform: uppercase;
    display: table;
    width: 100%;
    margin-bottom: 18px;
}
.ne-objetivos-item-tittle h3,
.ne-objetivos-item-tittle h4 {
    float: left;
    font-size: 28px;
    font-weight: 300;
    margin:0px;
}
.ne-objetivos-item-tittle h4{
    font-weight: bold;
}
.ne-objetivos-item p {
    font-size: 22px;
    color: #575858;
}
.ne-objetivos-item.image {
    text-align: center;
}
.ne-objetivos-item img {
    width: 100%;
    max-width:500px;
}
.mision h2, 
.vision h2 {
    background: #ee3036;
    color: #FFF;
    padding: 12px;
    margin-top: 0;
}
.vision h2 span {
    font-weight: 300;
    font-size: 32px;
    margin-left: 8px;
}
.mision > img, 
.vision > img {
    width: initial;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    .item-valores {
        width: 100%;
        margin: 0 0 12px 0;
    }
    .center-container .row {  
        margin: 25px auto;
    }
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .center-container .row {
        width: 100%;    
        margin: 25px auto;
    }
    .norte-estrategico .mision > div, .norte-estrategico .vision > div {
        width: 100%;
    }
    .item-valores {
        width: 100%;
        margin: 0 0 12px 0;
    }
    .titulos-valores {
        text-align: center;
    }
    .titulos-valores img {
        float: none; 
    }
    .norte-estrategico .row > div h2, .ne-valores h2, .ne-objetivos h2 {
        font-size: 32px;
    }
    .norte-estrategico .mision > div {
        float: left;
    }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .container-fluid{
    	padding-left: 5px;
		padding-right: 5px;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  .container-fluid{
  		padding-left: 5px;
		padding-right: 5px;
		
	}
	.ne-objetivos-item-tittle h3, .ne-objetivos-item-tittle h4 {
	    display: block;
	    width: 100%;
	}


}