﻿.vp-video { 
  position: relative;
}
.vp-video-content { 
  position: relative;
}
.vp-video h5 {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0;
}
.vp-video h5::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 68px;
  height: 3px;
  background-color: #ee3036;
}
.vp-video h3 { 
  position: absolute;
  width: 80%;
  bottom: 25px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
  text-align: right;
  padding-top: 35px;
  background: url('../../../../images/vps/videoVP/bg-comillas.png') no-repeat right top;
}
.vp-video img { 
   width:400px;
   height: 480px;
   margin:0px auto !important;
}
.vp-video .circulo { 
  border-radius: 100%;
}
.vp-video .bg-play { 
  width: 62px; 
  height: 62px; 
  background-color: #ee3036; 
  z-index: 3; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
}
.vp-video .bg-play i { 
  position: absolute; 
  top: 50%; 
  left: 55%; 
  font-size: 24px; 
  color: #ffffff; 
}
.vp-video .centrado-total { 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    .vp-video-content {
        position: relative;
        display: table;
        width: 100%;
    }
    .vp-video img {
        width: 25%;
        float: left;
        margin-right: 5%;
    }
    .vp-video h3 {
        width: 68%;
        text-align: left;
        background: url('../../../../images/vps/videoVP/bg-comillas.png') no-repeat left top;
        float: left;
        position: relative;
        color: #000;
        margin-top: 45px;
    }
    .vp-video .bg-play {
        position: initial;
        float: left;
        margin: 24px 0 0 5px;
    }
    
    .vp-video img { 
	   width:100%;
	   height: 100%;

	}

}
/* Small Devices Potrait */
@media (max-width : 767px){

	.vp-video img {
        width: 100%;
        height: auto;
    }
    .vp-video h3 {
	    width: 52%;
	    font-size: 20px;
	    color: #000;
	} 
   .vp-video .bg-play {
        display: none;
    }

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .vp-video img {
        width: 100%;
        height: auto;
    }
    .vp-video h3 {
	    width: 52%;
	    font-size: 20px;
	    color: #000;
	} 
   .vp-video .bg-play {
        display: none;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
