﻿@import url('../../spForm.css');

[sp-view="edit-comments"] div.row:not([sp-hidden="true"]):not([sp-static-name="QuienAsume"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view-attachments"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-static-name="NumeroRadicado"]
{
	pointer-events:none;
	opacity:0.7;
}

[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .button-tittle,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] > label,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] #ico-help-sp-forms-attachment,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .delete-doc,
{
	pointer-events:none;
	opacity:0.7;
}
[sp-static-name="Title"],
[sp-static-name="Estados"]
{
	display:none !important;
}
