﻿.projects{
	margin: 45px auto;
}

.list-projects {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  max-height: 350px;
}

.list-projects .slick-list{
	width: 90%;
	margin: 0 auto;
}

.list-projects-item a{
	text-decoration: none !important;
	color:#000 !important;
}
.list-projects-item a h3{
	text-decoration: none !important;
	color:#07539d!important;
}

.list-projects-item a:hover, .list-projects-item a:active, .list-projects-item a:visited {
  text-decoration: none !important;
  color: #ee3036 !important;
}


.title-projects{
	margin-bottom:40px;
	font-size:30px;
	font-weight:bold;
}

.slider-tag {
    left: 50%;
    margin-left: -17px;
    position: absolute;
   	bottom: -30px;
    
}
.current-items {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
}

.total-items {
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
}

.list-projects .list-projects-item {
  max-width: 297px;	
  min-width: 297px;
  text-align: left;
  padding: 0 20px 20px 20px;
  border-right: 1px solid #e1e1e1; 
  float: left;
  display: table;
  color: #000;
}
.list-projects .list-projects-item:first-child {
  border-left: 1px solid #e1e1e1; 
}
.list-projects .list-projects-item h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 45px 0 20px 0;
}
.list-projects .list-projects-item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  max-height: 80px;
  min-height: 80px;
}

.list-projects > .slick-prev, .list-projects > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30%;
    display: block;
  	border: 2px solid #e1e1e1 !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.list-projects > .slick-next{
	margin-right: 0;
}

.list-projects > .slick-next{
	right: 0%;
}

.list-projects > .slick-prev{
	left: 0%;
}


.list-projects .slick-prev:before, .list-projects .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 10px;
    line-height: 1;
    opacity: .75;
    color: #000;
    text-align:center;
    -moz-osx-font-smoothing: grayscale;
}
    
.list-projects .slick-prev::before {
    content: "\e902";
}

.list-projects .slick-next:before {
	content: "\e901";
}

.list-projects .slick-next:hover{ 
 	 border-color: #07539d !important;
	 background: url('../../../../images/components/distributionTable/timeLine/ico-truck.png') #07539d no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.list-projects .slick-next:hover:before{
	content:"";
}


.list-projects .slick-prev:hover{ 
 	 border-color: #07539d !important;
	 background: url('../../../../images/components/distributionTable/timeLine/ico-truck-prev.png') #07539d no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.list-projects .slick-prev:hover:before{
	content:"";
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

.list-projects .list-projects-item {
  max-width: none;	
  min-width: 0;
}

.list-projects .list-projects-item {
        text-align: center;
        border: none;
        max-width: none;	
 		min-width: 0;

    }
    .list-projects .list-projects-item img {
        margin: 0 auto;
    }
    .slider-tag {
        margin: 0 auto;
        position: initial; 
        display: table;
    }


}
/* Small Devices Potrait */
@media (max-width : 767px){
.list-projects .list-projects-item {
        text-align: center;
        border: none;
        max-width: none;	
 		min-width: 0;

    }
    
    .list-projects .list-projects-item {
        text-align: center;
        border: none;
        max-width: none;	
 		min-width: 0;

    }
    .list-projects .list-projects-item img {
        margin: 0 auto;
    }
    .slider-tag {
        margin: 0 auto;
        position: initial; 
        display: table;
    }


}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .list-projects {
        max-height: 300px;
    }
    .list-projects .list-projects-item {
        text-align: center;
        border: none;
        max-width: none;	
 		min-width: 0;

    }
    .list-projects .list-projects-item img {
        margin: 0 auto;
    }
    .slider-tag {
        margin: 0 auto;
        position: initial; 
        display: table;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}

.list-projects-item > a img {
    max-width: 70px;
    margin: 0 auto;
}


