﻿@import url('../CambioCuentaNomina/main.css');
[sp-static-name="Medios"],
[sp-static-name="FechaCierreRecoleccion"],
[sp-static-name="FechaInicioRecoleccion"],
[sp-static-name="Periodicidad"],
[sp-static-name="Tama_x00f1_oPoblacion"],
[sp-static-name="NivelConfianza"],
[sp-static-name="Tama_x00f1_oMuestra"],
[sp-static-name="e"],
[sp-static-name="P"],
[sp-static-name="q"],
[sp-static-name="Z"],
[sp-static-name="EstadoComunicados"],
[sp-static-name="ObservacionesComunicados"],
[sp-static-name="TieneRevision"],
[sp-static-name="UsuariosRevisores"],
[sp-static-name="NumeroRadicado"],
[sp-static-name="CantidadRevisores"],
[sp-static-name="RevidoresAprobados"],
[sp-static-name="UrlOnedrive"],
[sp-static-name="FechaAprobacion"],
[sp-static-name="NumeroRevisoresAprobados"]
{
	display:none ;
}


[sp-static-name="NombrePersona1"]
{
	pointer-events:none;
	opacity:0.7;
}

