﻿.module-keyquestions .panel-heading {
  border-radius: 0px;
  padding: 0;
}
.module-keyquestions .panel {
  box-shadow: none;
}
.module-keyquestions .panel-default {
  border: none;
}
.module-keyquestions .panel-default > .panel-heading {
  background: #f2f4f5;
  color: #434343;
  font-size: 14px;
  border: none;
}
.module-keyquestions .panel-default > .panel-heading:hover {
  background: #ee3036;
  color: #ffffff;
}
.module-keyquestions .panel-default > .panel-heading a {
  width: 100%;
  text-decoration: none;
  display: table;
  outline: none;
  padding: 0;
}
.module-keyquestions .panel-default > .panel-heading a {
  background: #ee3036;
  color: #ffffff;
}
.module-keyquestions .panel-default > .panel-heading a.collapsed {
  background: #f2f4f5;
  color: #434343;
}
.module-keyquestions .panel-default > .panel-heading a h3 {
  padding: 22px 0 0 0;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  word-break: keep-all;
}
.module-keyquestions .panel-default > .panel-heading a.collapsed .keyquestions-ico {
  width: 60px;
  height: 60px;
  background: url('../../../../images/campaigns/keyQuestions/keyquestions-ico-close.png') center #e9ebec no-repeat;
  display: block;
  float: left;
  margin-right: 25px;
}
.module-keyquestions .panel-default > .panel-heading a .keyquestions-ico {
  width: 60px;
  height: 60px;
  background: url("../../../../images/campaigns/keyQuestions/keyquestions-ico-open.png") center #ee3036 no-repeat;
  display: block;
  float: left;
  margin-right: 25px;
}
.module-keyquestions .panel-body {
  background: url("../../../../images/campaigns/keyQuestions/keyquestions-ico-content.png") top left no-repeat;
  padding-left: 65px;
}
.module-keyquestions .panel-body p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.tittle-keyquestions h5 {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0;
  display:block;
  float:left;
}

.tittle-keyquestions h5::before {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 75px;
    height: 3px;
    background-color: #ee3036;
}

.tittle-keyquestions {
    width: 100%;
    float: left;
    display: table;
    position: relative;
}
.module-keyquestions {
    float: left;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .module-keyquestions .panel-default > .panel-heading a h3 {
      padding: 15px 0 0 0;
      float: none;
      
    }
    .module-keyquestions .panel-default > .panel-heading a.collapsed .keyquestions-ico, .module-keyquestions .panel-default > .panel-heading a .keyquestions-ico {
      margin-right: 10px;
    }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .module-keyquestions .panel-default > .panel-heading a h3 {
	    padding: 8px 0 0 0;
	    float: none;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}