﻿.module-requirements {
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
}
.requirements-int {
	display: inline-block;
  	padding: 40px 80px 0 80px;
  	background: url('../../../../images/beneficios/benefitDetail/bg-detailbenefit.png') no-repeat left 30px;
}
.requirements-int h2 { 
  color: #8a8b8c; 
  font-size: 12px; 
  letter-spacing: 3px; 
  margin: 0 0 20px;
}
.requirements-int h1 { 
  font-size: 35px; 
  letter-spacing: 1px; 
  margin: 0 0 20px; 
  position: relative; 
  text-align: left;
}
.requirements-int p { 
  color: #575858; 
  font-size: 18px; 
  margin: 0 0 20px; 
}
ul.requirements-list {
	list-style: none;
	padding: 0px;
}
ul.requirements-list li {
	display: table;
	width: 100%;
	float: left;
	padding: 10px 0;
}
ul.requirements-list .requirements-number {
	float: left;
	margin-right: 12px;
}
ul.requirements-list li .requirements-number-circle {
	border-radius: 100%;
	background: #ee3036;
	color: #FFF;
	width: 45px;
    height: 45px;
	display: table;
	position: relative;
	text-align: center;
	
}
ul.requirements-list li .requirements-number-circle span {
	line-height: 45px;
	
}
ul.requirements-list li p {
	font-size: 16px;
	line-height: 26px;
	color: #555;
	float: left;
	width: 90%;
}

.requirements-seemore{
	margin: 2em 1em;
}

.requirements-seemore a {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding-right: 22px;
	background: url('../../../../images/beneficios/requirements/ico-seemore.png') no-repeat center right;
}
.requirements-seemore a:hover {
	text-decoration: none;
	color: #000;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	
}

/* Small Devices Potrait */
@media (max-width : 767px){
	ul.requirements-list li .requirements-number-circle {
		margin-bottom: 15px;
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.requirements-int {
		    padding: 110px 0px 0px 0px;
		    width: 100%;
	}
	ul.requirements-list li p {
	    width: 100%;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}