﻿@import url('main.css');
.delete-doc, #sp-forms-add-attachment,#Equipo{
	display:none;
}
.ico-help:not(#ico-help-ComentariosRE){
	display:none;
}
.form-control:not(#ComentariosRE){
	border: 0px !important;
	background-color: transparent;
}
