﻿@import url('CajaCompensacion.css');

#NombrePersona1,#DocumentoIdentidad,#NumeroCelular,#CorreoElectronico,#NumeroRadicado,#EstadosCajaCompensacion{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}

.form-group label {
    text-align: left !important;
}

