﻿
#glossaryContainer {
	max-width: 990px;
    margin: 0 auto;
}
.searchGlossary, .dynatable-per-page { display: none; }
#Pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
}
.Item {
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted #cfcfcf;
}
#Pagination .Item:last-child {
	margin-bottom: 20px;
}
.termTitle {
	font-size: 22px;
}
.termTitle::after {
	content: "";
	position: initial;
	margin: 5px 0 10px 0;
	width: 40px;
	height: 3px;
	background-color: #ee3036;
	display: block;
}
.termDefinition {
	font-size: 16px;
}
#letterFilter {
	padding: 10px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
}
.letter {
	padding: 6px;
	cursor: pointer;
}
.letter:hover {
	color: #ee3036;
}
.contentAreaCategory {
	width: 100%;
	float: left;
	margin: 4px 0 18px 0;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 16px;
}
.areaGlossary {
	float: left;
}
.areaGlossary label, .CategoryGlossary label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
}
.CategoryGlossary {
	float: left;
	margin-left: 25px;
}
.areaGlossary select, .CategoryGlossary select {
	padding: 5px;
}
.dynatable-search {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	font-size: 18px;
}
.dynatable-search input {
	padding: 8px;
	width: 45%;
	margin-left: 12px;
}
.dynatable-search input:focus,
.dynatable-search input:hover,
.contentAreaCategory select:focus,
.contentAreaCategory select:hover {
	border: 1px solid #ee3036;
}
.dynatable-active-page {
	background: #ee3036 !important;
	color: #FFF !important;
}
.dynatable-record-bounds {
	font-weight: bold;
}
.dynatable-pagination-links a,
.dynatable-pagination-links a:hover,
.dynatable-pagination-links a:visited {
	color: #000;
}



 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .CategoryGlossary {
		margin-left: 0;
		margin-top: 20px;
	}
	#glossaryContainer {
		width: 96%;
		padding: 2%;
	}
	.dynatable-pagination-links {
		float: left;
		padding: 0;
		width: 100%;
	}
	.dynatable-search input {
		width: 60%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}

.directory-header {
	background: url('/sites/Intranet/SiteAssets/Development/images/components/employeeDirectory/bg-directory.jpg') no-repeat center;
	width: 100%;
	padding: 50px 0;
	text-align: center;
}

.directory-formname {
	border: 1px solid #cfcfcf;
	padding: 8px;
	width: 45%;
	margin: 25px auto;
	display: block;
	text-align: center;
}

#module-directory {
	max-width: 990px;
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
	display: table;
}

.controls-directory {
	width: 100%;
	float: left;
	display: table;
	padding: 20px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
controls-directory-content {
	width: 75%;
	margin:auto;
}
.controls-region,
.controls-base,
.controls-paginator {
	float: left;
	margin-right: 20px;
}
.controls-region label, 
.controls-base label,
.controls-paginator label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
	display: block;
}
.controls-region select, 
.controls-base select,
.controls-paginator select
{
	padding: 5px;
	min-width: 200px;
}
#directory-list-contact {
    display: table;
    width: 100%;
    padding: 0px;
}
.controls-directory-content{
	width:75%;
	margin:auto;
}
.info-contact {
    width: 50%;
    padding: 25px 2%;
    border-bottom: 1px dotted #cfcfcf;
    display: inline-block;
    float: left;
    min-height: 220px; 
    max-height: 220px;    
}

li.item-contact {
    list-style-type: none;
}
#paginator {
	padding: 10px 0;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
	display: table;
	width: 100%
}
#paginator label {
	padding: 6px;
	cursor: pointer;
}
#paginator label:hover {
	color: #ee3036;
}
label.active-page {
    background: #ee3036;
 	padding: 6px;
 	color: #fff;
}
.ms-dialog #globalNavBox{
	height:0px !important;
}
#glossaryFooter {
	padding: 10px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
}
.letter,
#glossaryFooter label {
	padding: 8px;
	cursor: pointer;
}
.letter:hover,
#glossaryFooter label:hover {
	color: #ee3036;
}
.contentAreaCategory {
	width: 100%;
	float: left;
	margin: 4px 0 18px 0;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 16px;
}
.content-search,
#glossaryList,
#glossaryFooter,
#headerList {
	display: table;
	width: 100%;
}
/* Small Devices Potrait */
@media (max-width : 767px){
    .element-person {
		width: 100%;
		padding: 25px 0px;
		min-height: auto;
		max-height: none;
	}
	.element-person img {
		width: 25%;
		margin-right: 5%;
		height: auto;
	}
	.element-person a {
		width: 100%;
	}
	.directory-formname {
		width: 85%;
	}
	.dynatable-per-page {
		padding: 20px 20px 0 0px;
	}
	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .dynatable-pagination-links {
		float: left;
		padding: 0;
		width: 100%;
	}
	.dynatable-search input {
		width: 60%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}

/*Person style*/
.element-person {
	width: 50%;
	padding: 25px 2%;
	border-bottom: 1px dotted #cfcfcf;
	display: table;
	float: left;
	min-height: 175px;
	max-height: 175px;
}
.element-person img, .element-person a {
	float: left;
}
.element-person img {
	height:9.5rem; 
	width:25%;
	margin-right: 5%;
}
.element-person a,
.element-person a:hover,
.element-person a:visited {
	color: #333;
	text-decoration: none;
	width: 100%;
}
.info-person h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.searchPaginator{
	    margin-top: 20px;
}
.buscar{
	 background-color: #ee3036;
    color: #FFFFFF;
    white-space: nowrap;
    position: relative;
    padding: 10px;
    vertical-align: bottom;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    height: 45px;
}