﻿.quick-access { background-color: #1e2732; color: #ffffff; padding: 30px 0px 25px;}
.zone-access > .row > .swiper-slide { height: 120px; border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgba(255,255,255,0.08); padding: 22px 5px 5px 5px; margin-right:0 !important;}
.zone-access > .row > .swiper-slide > .txt-accesos { margin-left: auto; margin-right: auto; width: 20%;} 
.zone-access > .row > .swiper-slide > .txt-accesos { color: #ffffff;} 

.quick-access .swiper-wrapper { margin-bottom: -1px; }
.quick-access .row { border-width: 0px 0px 1px 0px; border-style: solid; border-color: rgba(255,255,255,0.08); }
.quick-access .row:last-child { border-bottom-width:0px; border-bottom-style:none;}
.quick-access h1 { font-size: 14px; letter-spacing: 2px; position: relative; display: inline-block; margin: 0 0 0; padding-left: 80px; }
.quick-access h1 i { width: 64px; height: 1px; background-color: #ee3036; position: absolute; top: 50%; left: 0; }

.quick-access .navigation-bullets {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 999;
	padding: 20px 0 10px 0;
}

.zone-access { padding: 22px 0 5px; }
.txt-accesos img { min-width: 50px; max-width:50px; margin-bottom: 12px; }
.txt-accesos span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff !important;
}
.txt-accesos-apps {
	text-align: center;
	padding: 15px;
}
.txt-accesos-apps span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ee3036 !important;
}

.txt-accesos-apps img { min-width: 50px; max-width:50px; margin-bottom: 12px; }


.pagination-accesos { line-height: 0; margin-top: 15px; }
.pagination-accesos .swiper-pagination-bullet { width: 12px; height: 12px; border: 2px solid #d02808; margin: 0 3px; background: transparent; opacity: 1; }
.pagination-accesos .swiper-pagination-bullet-active { background: #d02808 }

.quick-access > a{
	position: absolute;
	bottom: 0;
	left: 45%;
	margin-bottom: 3%;
}

.tooltip-app .tooltip-content {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 40%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-app .tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -23px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-app:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    z-index:99;
}

.txt-accesos .tooltip-app:hover{
	color: #ee3036 !important;
	cursor:pointer;
} 

#apps-1 .row .swiper-slide a:hover{
     text-decoration: none !important;
}

#apps-1 .row .swiper-slide a:visited{
     color:#fff !important;
     text-decoration: none;
}

.apps-container-children .apps-children a:visited{
	color:#ee3036 !important;
     text-decoration: none;
}

.apps-container-children .apps-children a:hover{
	color:#ee3036 !important;
     text-decoration: none;
}

.quick-access .view-all{
	color: #FFF;
	letter-spacing: 0.4em;
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	font-weight: 700;
}

.quick-access .view-all:hover{
 	text-decoration:none;
 	color: #FFF;

}
.quick-access .view-all:active{
 	text-decoration:none !important;
 	color: #FFF;

}


.quick-access .view-all-icon{
	color: #ee3036;
	font-size: 14px;
}  
