﻿@import url('../../spForm.css');

[sp-view="edit"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosInformacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-static-name="NumeroRadicado"]
{
	pointer-events:none;
	opacity:0.7;
}

[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .button-tittle,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] > label,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] #ico-help-sp-forms-attachment,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .delete-doc,
{
	pointer-events:none;
	opacity:0.7;
}
[sp-static-name="EstadosCajaCompensacion"]
{
	display:none !important;
}
[sp-view="view"] div[sp-static-name="sp-forms-attachment"]{
	opacity:1 !important;
}
[sp-static-name="EstadosInformacion"],
[sp-static-name="CantidadRevisores"],
[sp-static-name="NumeroRevisoresAprobados"],
[sp-static-name="EstacionesAprobadas"]
{
	display:none !important;
}
[sp-static-name="FechaInformacion"] label{
text-align: left;
}