﻿.content-links { text-align: center; }
.content-links ul { padding: 0px; margin:0px;}
.content-links ul li { display: inline-block; vertical-align: top; width: 210px; margin: 0 10px 30px; }
.content-links ul li a, .content-links ul li a:hover {text-decoration: none;}
.content-links ul li a h1, .content-links ul li a:hover h1, .content-links ul li a:visited h1 { font-size: 17.66px; margin: 0 0 15px; color:#000; text-decoration:none;}
.content-links ul li a h2, .content-links ul li a:hover h2, .content-links ul li a:visited h2 { font-size: 13.73px; color: #575858; margin: 0; text-decoration:none;}
.content-links ul li img { max-width: 55px; margin: 0 auto 35px auto; }