﻿@import url('main.css');
.delete-doc, #sp-forms-add-attachment{
	display:none;
}
.ico-help:not(#ico-help-ComentariosFZ){
	display:none;
}
.form-control:not(#ComentariosFZ){
	border: 0px !important;
	background-color: transparent;
}
