﻿@import url('main.css');
.delete-doc, #sp-forms-add-attachment{
	display:none;
}
.ico-help:not(#ico-help-ComentariosFZ):not(#ico-help-CentroDeCostos){
	display:none;
}
.form-control:not(#ComentariosFZ):not(#CentroDeCostos){
	border: 0px !important;
	background-color: transparent;
}
div[sp-static-name='CentroDeCostos']{
	pointer-events:auto !important;
}
#ComentariosFZ{
	display:none;
}