﻿.gallery { 
  position: relative;
}
.gallery-content { 
  position: relative;
}

.gallery-cpms {
    margin: 30px auto;
}
.gallery-cpms .container-controls-gallery h5 {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0;
  display:block;
  float:left;
}

.container-controls-gallery {
    display: table;
    width: 100%;
    padding-right: 80px;
}
.container-controls-gallery .slider-tag-gallery {
	float:right;
	padding:15px;
}

.gallery-cpms .container-controls-gallery h5::before {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 15px;
    width: 75px;
    height: 3px;
    background-color: #ee3036;
}

.list-gallery > .slick-prev, .list-gallery > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -48px;
    display: block;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.list-gallery > .slick-next{
	margin-right: 0;
	right:10px;
}

.list-gallery > .slick-prev{
	right: 40px;
}


.list-gallery .slick-prev:before, .list-gallery .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 18px;
    line-height: 1;
    color: #ee3036;
    text-align:center;
}
    
.list-gallery .slick-prev::before {
    content: "\e902";
}

.list-gallery .slick-next::before {
	content: "\e901";
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .gallery-cpms .row > div {
    margin-bottom: 25px;
  }
}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .gallery-cpms .container-controls-gallery h5 {
    padding-left: 40px;
  }
  .gallery-cpms .container-controls-gallery h5::before {
    width: 32px;
  }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
   