﻿@font-face {
  font-family: 'avianca';
  src:  url('avianca/avianca.eot?1lsxtm');
  src:  url('avianca/avianca.eot?1lsxtm#iefix') format('embedded-opentype'),
    url('avianca/avianca.ttf?1lsxtm') format('truetype'),
    url('avianca/avianca.woff?1lsxtm') format('woff'),
    url('avianca/avianca.svg?1lsxtm#avianca') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('glyphicons/glyphicons-halflings-regular.eot');
    src: url('glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

[class^="inc-"], [class*=" inc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'avianca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inc-archivos:before {
  content: "\e900";
}
.inc-arrow-1:before {
  content: "\e901";
}
.inc-arrow-2:before {
  content: "\e902";
}
.inc-arrow-3:before {
  content: "\e903";
}
.inc-arrow-4:before {
  content: "\e904";
}
.inc-arrow-5:before {
  content: "\e905";
}
.inc-arrow-6:before {
  content: "\e906";
}
.inc-avancemos:before {
  content: "\e907";
}
.inc-avion-1:before {
  content: "\e908";
}
.inc-avion-2:before {
  content: "\e909";
}
.inc-bandera:before {
  content: "\e90a";
}
.inc-blog:before {
  content: "\e90b";
}
.inc-book:before {
  content: "\e90c";
}
.inc-buscar:before {
  content: "\e90d";
}
.inc-calendario:before {
  content: "\e90e";
}
.inc-camara:before {
  content: "\e90f";
}
.inc-camara-2:before {
  content: "\e910";
}
.inc-carrito:before {
  content: "\e911";
}
.inc-cerca-de-ti:before {
  content: "\e912";
}
.inc-comillas:before {
  content: "\e913";
}
.inc-enlace:before {
  content: "\e914";
}
.inc-estadistica:before {
  content: "\e915";
}
.inc-expandir:before {
  content: "\e916";
}
.inc-fb:before {
  content: "\e917";
}
.inc-Foursquare:before {
  content: "\e918";
}
.inc-indicador-sroll-down:before {
  content: "\e919";
}
.inc-info:before {
  content: "\e91a";
}
.inc-instagram:before {
  content: "\e91b";
}
.inc-mundo:before {
  content: "\e91c";
}
.inc-noticias:before {
  content: "\e91d";
}
.inc-pinterest:before {
  content: "\e91e";
}
.inc-play:before {
  content: "\e91f";
}
.inc-publicaciones:before {
  content: "\e920";
}
.inc-reloj:before {
  content: "\e921";
}
.inc-twitter:before {
  content: "\e922";
}
.inc-universidad:before {
  content: "\e923";
}
.inc-web:before {
  content: "\e924";
}
.inc-youtube:before {
  content: "\e925";
}

