﻿@import url('../../spForm.css');

div[sp-static-name="ComentariosCoordinadorRegional"],
div[sp-static-name="ComentariosDirectorLogistica"],
div[sp-static-name="FechaEntrega"],
div[sp-static-name="EstadoAyudas"],
div[sp-static-name="NumeroGuia"],
div[sp-static-name="ValorAsociado"]
{
	display:none;
}
div[sp-static-name="FechaSolicitudAyuda"]{
	pointer-events:none;
  	color: #B1B1B1;
  	border-color: #E1E1E1;
}