﻿.module-breadcrumb {
	padding: 12px;
	top: 12px;
	left: 0;
	z-index: 9999;
}
ol.list-breadcrumb {
  list-style-type: none;
}

ol.list-breadcrumb li {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
}
ol.list-breadcrumb li a {
  color: #000;
}
ol.list-breadcrumb li::before, ol.list-breadcrumb li::after {
  font-size: 1.5rem;
  color: #b9b9b9;
  margin: 0 8px;
}
ol.list-breadcrumb li::after {
  content: ' > ';
}
ol.list-breadcrumb li:last-of-type {
  color: #ee3036;
}
ol.list-breadcrumb li:last-of-type::after {
  content: '';
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
}
/* Small Devices Potrait */
@media (max-width : 767px){
  .module-breadcrumb {
    position: relative;
  }
  ol.list-breadcrumb {
    padding: 0;
  }
  ol.list-breadcrumb li {
    font-size: 1em;
  }
  ol.list-breadcrumb li a,
  ol.list-breadcrumb li::before, 
  ol.list-breadcrumb li::after {
    color: #333;
    font-size: 1em;
  }
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  
 
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
 
