﻿.module-classifiedsInt {
	max-width: 990px;
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
	display: table;
}
.classifiedsInt-controls {
	width: 100%;
	float: left;
	display: table;
	padding: 20px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.classifiedsInt-controls-country,
.classifiedsInt-controls-city,
.classifiedsInt-controls-page,
.classifiedsInt-controls-search {
	float: left;
	margin-right: 20px;
}
.classifiedsInt-controls-country label, 
.classifiedsInt-controls-city label,
.classifiedsInt-controls-page label,
.classifiedsInt-controls-search label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
	display: block;
}
.classifiedsInt-controls-country select, 
.classifiedsInt-controls-city select,
.classifiedsInt-controls-page select,
.classifiedsInt-controls-search input {
	padding: 5px;
	min-width: 200px;
}
.classifiedsInt-list {
	width: 100%;
	float: left;
	display: table;
	padding-top: 20px;
}
.classifiedsInt-item {
	width: 100%;
	float: left;
	display: flex;
	padding: 3%;
	border-bottom: 1px dotted #cfcfcf;
	align-items: center;
}
.classifiedsInt-item img {
	width: 30%;
	float: left;
}
.classifiedsInt-item .classifiedsInt-item-dates {
	width: 65%;
	margin-left: 5%;
	float: left;
}
.classifiedsInt-item .classifiedsInt-item-dates h3 {
	font-size: 22px;
	margin-top: 0px;
}
.classifiedsInt-item .classifiedsInt-item-dates p {
	font-size: 16px;
	color: #333;
}
.classifiedsInt-item .classifiedsInt-item-dates h4 {
	font-size: 20px;
	color: #333;
	margin: 0;
}
.classifiedsInt-item .classifiedsInt-item-dates p.classifiedsInt-item-contact {
	font-size: 16px;
}
.classifiedsInt-item .classifiedsInt-item-dates a {
	background: #ee3036;
	padding: 8px;
	font-size: 16px;
	border-radius: 6px;
	color: #FFF;
	border: none;
	min-width: 120px;
	cursor: pointer;
	display: table;
	text-decoration: none;
}
.classifiedsInt-list ul{
	list-style-type:none;
}

#resultsList {
	display: table;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}

#historyFooter {
	padding: 10px 0;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
	display: table;
	width: 100%
}
#historyFooter label {
	padding: 6px;
	cursor: pointer;
}
#historyFooter label:hover {
	color: #ee3036;
}
label.active-page {
    background: #ee3036;
 	padding: 6px;
 	color: #fff;
}

/* Small Devices, Tablets */

@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.classifiedsInt-item {
		display: initial;
	}
	.classifiedsInt-item img {
		width: 100%;
	}
    .classifiedsInt-item .classifiedsInt-item-dates {
		width: 100%;
		margin-left: 0%;
	}
	.classifiedsInt-controls-city {
		margin-top: 15px;
	}
	.classifiedsInt-controls-country label, 
	.classifiedsInt-controls-city label,
	.classifiedsInt-controls-page label,
	.classifiedsInt-controls-search label{
		margin: 0px 0px 10px 0px;
		display: block;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}