﻿@import url('newContactDirectory.css');

div[sp-static-name="NombrePersona1"],
div[sp-static-name="Extension"],
div[sp-static-name="NumeroTelefono"],
div[sp-static-name="CorreoElectronicoAlterno"],
div[sp-static-name="DescripcionSolicitudCambio"]
{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;

}

div[sp-static-name="ObservacionesResponsable"]
{
	display: block;
}

.form-treeview label span::before{	
  color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help, .input-group-addon{
	display:none !important;
}
.form-group label i {
	display:none;
}

#ComentariosTH {
	border-radius: 0px;
    border: 1px solid #cfcfcf !important;
    border-bottom: 3px solid #cfcfcf !important;
    transition: border-color 0.5s;
}

#ico-help-ComentariosTH, #ico-help-sp-forms-attachment{
 display:inherit !important;
}