﻿.benefitdetail {
    display: block;
}
.module-benefitdetail {
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
}
.benefitdetail-image,
.benefitdetail-text {
	width: 50%;
	float: left;
	position: relative;
	padding: 2%;
	display: table;
}
.benefitdetail-image .circulo { 
	border-radius: 100%; 
}
.benefitdetail-image .bg-play {
    width: 62px;
    height: 62px;
    background-color: #ee3036;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -31px;
}
.benefitdetail-image .bg-play i { 
	position: absolute; 
	top: 32%; 
	left: 36%; 
	font-size: 24px; 
	color: #ffffff; 
}
.benefitdetail-image img { 
	width: 100%;
	height: auto; 
}
.benefitdetail-text-int {
	display: table;
  	padding: 40px 80px 0 80px;
  	background: url('../../../../images/beneficios/benefitDetail/bg-detailbenefit.png') no-repeat left 30px;
}
.benefitdetail-text h2 { 
  color: #8a8b8c; 
  font-size: 12px; 
  letter-spacing: 3px; 
  margin: 0 0 20px;
}
.benefitdetail-text h1 { 
  font-size: 35px; 
  letter-spacing: 1px; 
  margin: 0 0 20px; 
  position: relative; 
  text-align: left;
}
.benefitdetail-text p { 
  color: #575858; 
  font-size: 18px; 
  margin: 0 0 20px; 
}
.benefitdetail-country {
	
}
.benefitdetail-country label{
	width: 100%;
	display: block;
	float: left;
}
.benefitdetail-country label img,
.benefitdetail-country label p {
	float: left;
	margin-right: 10px;
	color: #000;
	font-size: 18px;
}
.benefitdetail-country select {
	float: left;
	display: block;
	width: 100%;
	background: #eeeff1;
	border: none;
	padding: 12px;
}



 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.benefitdetail-text-int {
	  	padding: 25px 15px 0px 80px;
	  	background-position: left 25px;
	}
	
	.benefitdetail-image, .benefitdetail-text {
    	width: 100%;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.benefitdetail-text-int {
	  	padding: 40px 10px 0 80px;
	}
	
	.benefitdetail-image, .benefitdetail-text {
    	width: 100%;
	}

}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .benefitdetail-image,
	.benefitdetail-text {
		width: 100%;
		padding: 0;
	}
	.benefitdetail-text-int {
	  	padding: 110px 0px 0px 0px;
	  	background: url('../../../../images/beneficios/benefitDetail/bg-detailbenefit.png') no-repeat left 25px;
	}
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}