﻿.agreements{
	margin: 30px auto;
    padding-bottom: 80px;
}
.agreements-content {
    position: relative;
}
.list-agreements {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 800px;
}

.container-item-agreement {
    display: block;
    text-align: center;
    width: 100%;
}

.list-agreements .slick-list{
	width: 90%;
	margin: 0 auto;
}

.item-agreement a {
    text-decoration: none !important;
    color: #000 !important;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.item-agreement a:hover, .item-agreement a:active, .item-agreement a:visited {
  text-decoration: none !important;
}

.desc-agreement{
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 0px;
	line-height: 1.6;
}

.title-agreement{
	margin-bottom:40px;
	font-size:30px;
	font-weight:bold;
}
.slider-tag {
    left: 50%;
    margin-left: -17px;
    position: absolute;
    bottom: -80px;    
}
.current-items {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
}

.total-items {
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
}

.list-agreements .item-agreement {
    padding: 40px 20px 20px 20px;
    float: left;
    display: table;
    color: #000;
    background-color: #f5f6f7;
    margin-bottom: 5px;
}

.list-agreements .item-agreement h3 {
    font-size: 16px;
    margin: 45px 0 20px 0;
    width: 100%;
    display: table;
}

.slick-slide .item-agreement img {
    margin: 0 auto;
    max-height: 50px;
    min-height: 50px;
}
.list-agreements > .slick-prev, .list-agreements > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
  	border: 2px solid #e1e1e1 !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.list-agreements > .slick-next{
	margin-right: 0;
}

.list-agreements > .slick-next{
	right: 0%;
}

.list-agreements> .slick-prev{
	left: 0%;
}


.list-agreements .slick-prev:before, .list-agreements .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 10px;
    line-height: 1;
    opacity: .75;
    color: #000;
    text-align:center;
    -moz-osx-font-smoothing: grayscale;
}
    
.list-agreements .slick-prev::before {
    content: "\e902";
}

.list-agreements .slick-next:before {
	content: "\e901";
}

.list-agreements .slick-next:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../images/vps/projects/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}

.list-agreements .slick-next:hover:before{
	content:"";
}

.list-agreements .slick-prev:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../images/vps/projects/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.list-agreements .slick-prev:hover:before{
	content:"";
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
}
/* Small Devices Potrait */
@media (max-width : 767px){
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .list-agreements {
        max-height: 500px;
    }
    .list-agreements .item-agreement {
        text-align: center;
        border: none;
    }
    .list-agreements .item-agreement img {
        margin: 0 auto;
    }
    .slider-tag {
        margin: 0 auto;
        position: initial; 
        display: table;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


