﻿.anothers-benefits{
	margin-bottom: 60px;
}

.otherbenefits-item .otherbenefits-item-int a h3{
	font-size: 17px;
	font-weight:bold;
}
.desc-benefit{
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 0px;
	line-height: 1.6;
}

.title-benefit{
	margin-bottom:40px;
	font-size:30px;
	font-weight:bold;
}

.otherbenefits-item a:hover{
	color: #000;
	text-decoration: none;
	display: block;
}


.module-otherbenefits {
	width: 100%;
	max-width: 1050px;
	margin: 0px auto;
	display: table;
}
.otherbenefits-item {
  width:24%;
  display:inline-block;
  float: left;
  padding: 1em;
  text-align: center;
  position: relative;
  background: #f5f4f4;
  margin: 0.5%;
}
.otherbenefits-item::before{
	content:"";
	display:block;
	padding-top:100%;
  	float: left; 
}
.otherbenefits-item-int {
	top: 50%;
	position: absolute;
	margin-top: -25%;
	margin: -25% auto 0 -25%;
	left: 50%;
	width: 50%;
}
.otherbenefits-item a {
	color: #000;
	text-decoration: none;
	display: block;
}
.otherbenefits-item a img.icon {
	max-height: 60px;
	width: auto;
	-webkit-filter: brightness(0%);
	filter: brightness(0%);
	
}
.module-otherbenefits .otherbenefits-file:nth-of-type(2n+1) .otherbenefits-item:nth-of-type(2n),
.module-otherbenefits .otherbenefits-file:nth-of-type(2n) .otherbenefits-item:nth-of-type(2n+1) {
  background-color:#ee3036;
} 
.module-otherbenefits .otherbenefits-file:nth-of-type(2n+1) .otherbenefits-item:nth-of-type(2n) a,
.module-otherbenefits .otherbenefits-file:nth-of-type(2n) .otherbenefits-item:nth-of-type(2n+1) a {
  color: #FFF;
} 

.otherbenefits-file:nth-child(2n+1) .otherbenefits-item:nth-child(2n) img,
.otherbenefits-file:nth-child(2n) .otherbenefits-item:nth-child(2n+1) img{
	filter: brightness(600%);	
} 

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.otherbenefits-item-int {
		top: 50%;
		position: absolute;
		margin: -35% auto 0 -50%;
		left: 50%;
		width: 100%;
	}
	
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.otherbenefits-item {
  		width:49%;
  		margin: 0.5%;
	}
	.otherbenefits-item::before {
		padding-top: 0%;
	}
	.otherbenefits-item-int {
		position: initial;
		width: 100%;
		margin: 0px;
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .otherbenefits-item {
  		width:100%;
  		margin: 2% 0;
	}
	.otherbenefits-item-int {
		margin: 25px 0;
	}
	.otherbenefits-item::before {
		padding-top: 0%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}