﻿@import url('../../spForm.css');

div[sp-static-name="NumeroRadicado"]{
	display:none;
}

[sp-hidden="true"]{	
	transition:0s;
	-moz-transition:0s;
	-webkit-transition:0s;
}

[sp-hidden="false"]{	
	transition:0s;
	-moz-transition:0s;
	-webkit-transition:0s;
}
