﻿.module-moreinfo {
	margin: 0 auto;
	width: 100%;
	background: #f5f5f5;
	display: table;
}
.moreinfo-content {
	float: left;
	display: block;
	padding: 15px 25px;
	width: 100%;
}
.moreinfo-content h2 {
	font-size: 22px;
}
.moreinfo-item {
	color: #000;
}
.moreinfo-item h3 {
	font-size: 18px;
	padding-left: 25px;
	background: url('../../../../images/beneficios/apply/bg-tittle-moreinfo.png') no-repeat left center; 
}
.moreinfo-item p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.moreinfo-buttons {
	float: left;
	display: block;
	width: 100%;
}
.moreinfo-buttons a {
	width: 50%;
	float: left;
	padding: 15px 0;
	font-size: 12px;
	letter-spacing: 0.3em;
	font-weight: bold;
	text-align: center;
}
a.moreinfo-bmoreinfo,
a.moreinfo-bmoreinfo:hover {
	background: #ee3036;
	color: #fff;
	text-decoration: none;
}
a.moreinfo-bformat,
a.moreinfo-bformat:hover {
	background: #ebebeb;
	color: #6c6c6c;
	text-decoration: none;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	
}

/* Small Devices Potrait */
@media (max-width : 767px){
	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.info-benefit {
	    width: 100%;
	}
	.moreinfo-buttons a {
	    width: 100%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}