﻿div[sp-static-name="Title"],
div[sp-static-name="EstadoInscripcion"],
div[sp-static-name="IDCapacitacion"]
{
	display:none; 
	}
#NombreVoluntario,#CiudadInscripcion,#NombreCapacitacion,#FechaCapacitacion,#Estacion,#ObservacionesRechazoInscripcion{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

