﻿@import url('../../spForm.css');

[sp-view="edit-comments"] div.row:not([sp-hidden="true"]):not([sp-static-name="ObservacionesRechazoInscripcion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view-attachments"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-static-name="NumeroRadicado"]
{
	pointer-events:none;
	opacity:0.7;
}

[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .button-tittle,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] > label,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] #ico-help-sp-forms-attachment,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .delete-doc,
{
	pointer-events:none;
	opacity:0.7;
}
[sp-static-name="EstadoInscripcion"],
[sp-static-name="IDCapacitacion"]
{
	display:none !important;
}
[sp-view="editIn"] div.row:not([sp-hidden="true"]):not([sp-static-name="NombreVoluntario"]):not([sp-static-name="CiudadInscripcion"]):not([sp-static-name="Estacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form){
	pointer-events:none;
	opacity:0.7;

}
[sp-view="edit"] div[sp-static-name="ObservacionesRechazoInscripcion"]{
	display:none !important;
}


