﻿.information-numbers h5{
    padding-left:92px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.information-numbers h5::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 14px;
    width: 68px;
    height: 3px;
    background-color: #ee3036;
} 

.information-numbers{
	margin: 0 auto;
}
 .information-numbers img {
    width: 550px;
    height: 450px;
}

.information-numbers .slick-prev, .information-numbers > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
	width: 30px;
	height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 300;
    border-radius: 50%;
}

.information-numbers > .slick-next{
	margin-right: 14px;
}

.information-numbers > .slick-prev{
	left: 26px;
}

.information-numbers > .slick-next{
	right: 12px;
}

.information-numbers .slick-prev:before, .information-numbers .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #07539d;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.information-numbers .slick-prev::before {
    content: "\e902";
}

.information-numbers 	.slick-next:before {
	content: "\e901";
}


.information-numbers .slick-next:hover{
	 border-color: #07539d !important;
	 background: url('../../../../images/components/classifieds/ico-truck-hover.png') #07539d no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}

.information-numbers .slick-prev:hover{
	 border-color: #07539d !important;
	 background: url('../../../../images/components/classifieds/ico-truck-hover-left.png') #07539d no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}
.information-numbers .slick-prev:hover::before,
.information-numbers .slick-next:hover::before {
	 display: none;
}

.information-numbers .slick-slide{
	
	position:relative;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .information-numbers h5 {
	    padding-left: 60px;
	    font-size: 15px;
	}
	
	.information-numbers h5::before{
    	width: 40px;
    }
    .information-numbers img {
	    width: 100%;
	    height: 100%;
	}

}
/* Small Devices Potrait */
@media (max-width : 767px){
  .information-numbers img {
    width: 100%;
    height: 100%;
}

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .information-numbers h5{
    font-size: 16px;
	}
	
	.information-numbers img {
    width: 100%;
    height: 100%;
}

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


