﻿.team { 
  position: relative;
}
.team-content { 
  position: relative;
  /*min-height:560px;
  max-height:560px;*/
}

.team-vps {
    margin: 30px auto;
}
.team-vps .container-controls-team h5 {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0;
  display:block;
  float:left;
}

.container-controls-team {
    display: table;
    width: 100%;
    padding-right: 80px;
}
.container-controls-team .slider-tag-team {
	float:right;
	padding:15px;
}

.container-controls-team .img-medal {
    float: right;
    margin-top: 5px;
}
.team-vps .container-controls-team h5::before {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 15px;
    width: 75px;
    height: 3px;
    background-color: #ee3036;
}
.team-text {
	font-weight: bold;
	color: #fff;
	text-align: right;
	position: absolute;
	right: 68px;
	top: 25px;
	width: 47%;
	display: table;
}
.team-text h3 { 
 letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}
.team-text h2 { 
  font-size: 32px;
  font-weight: bold;
}

.team img { 
  width: 900px;
  height: 480px;
}

.list-team > .slick-prev, .list-team > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -48px;
    display: block;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.list-team > .slick-next{
	margin-right: 0;
	right:10px;
}

.list-team > .slick-prev{
	right: 40px;
}


.list-team .slick-prev:before, .list-team .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 18px;
    line-height: 1;
    color: #07539d;
    text-align:center;
}
    
.list-team .slick-prev::before {
    content: "\e902";
}

.list-team .slick-next::before {
	content: "\e901";
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .team-vps .row > div {
    margin-bottom: 25px;
  }
  .team-content {  
  min-height:inherit;
  max-height:inherit;
}
.team img { 
  width: 100%;
  height: 100%;
}

}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .container-controls-team .img-medal {
    display: none;
  }
  .team-vps .container-controls-team h5 {
    padding-left: 40px;
  }
  .team-vps .container-controls-team h5::before {
    width: 32px;
  }
  .team-text {
    right: 15px;
    top: 0px;
  }
  .team-text h3 {
    font-size: 14px;
  }
  .team-text h2 {
    font-size: 18px;
    font-weight: normal;
  }
  
  .team-content {  
  min-height:inherit;
  max-height:inherit;
 }
 
	.team img { 
	  width: 100%;
	  height: 100%;
	}

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  .team-content {  
  	min-height:inherit;
  	max-height:inherit;
}

.team img { 
  width: 100%;
  height: 100%;
}

}
   