﻿.social-share {
    position: fixed;
    right: 15px;
    top: 30%;
    display: table;
    z-index: 2;
    opacity:0;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
}

.social-share:hover{
	opacity:1;
}

.social-share-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
.button-share {
  background: #ee3036;
  padding: 8px;
  display: table;
}


/*.button-share + .social-share-list {	
	display:none;
}*/
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.social-share{
		display:none;
	}

}

/* Small Devices Potrait */
@media (max-width : 767px){
	.social-share{
		display:none;
	}
	/*.social-share {
      position: relative;
      margin: 0 auto;
      display: table;
      opacity:1;
    }
  .social-share-list li {
      float: left;
      text-align: center;
    }*/
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .social-share{
		display:none;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
.social-share{
		display:none;
	}

}