﻿#O365fpcontainerid{
	background-color: rgb(41, 50, 60);
	opacity: 0.9;
	border:#000000;
}
div.ms-fcl-tp.o365cs-nfd-normal-lineheight{
	text-align: left;
	position: relative;
	left: 3%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding-bottom: 5px;
	padding-top: 5px;
}
div.ms-fcl-tp.o365cs-nfd-normal-lineheight:first-child{
	text-align: center;
	border: 1px solid #ee3036;
	background-color: #ee3036;
	color: #FFFFFF;
	line-height: 5px;
	padding: 5px;
	padding-bottom: 10px;
	left:0;
	width: 103%;
}

div.o365cs-mfp-linklist.o365cs-segoeRegular.o365cs-text-align-left{
	top: 30px;
	position: relative;
	left: -3%;
}
div.ms-fcl-tp.o365cs-nfd-normal-lineheight span {
    color: #FFF;
    font-weight: bold;
	font-size:1.5rem;
	font-family:fselliot;	
}
div.ms-fcl-tp.o365cs-nfd-normal-lineheight:first-child span {
   font-size: 1.3rem;
}
div.o365cs-mfp-personaView{

}
div.o365cs-mfp-personaDetails {
   top: 30px;
   position: relative;
}
div.o365cs-mfp-personaDetails span {
  color: #ee3036;
  font-weight: bold;
  font-size: 1.5rem;
  font-family:fselliot;
}
div.o365cs-mfp-personaDetails span:first-child{
	color: #FFF;
}
div.o365cs-mfp-personaView {
  width: 110%;
  left: -3%;
  position: relative;
}
button.o365cs-me-personaPhoto.o365button{
	pointer-events:none;
}
div.o365cs-flexpane-settings-title {
	color:#FFFFFF;
	font-family:fselliot;
	font-size: 1.7rem !important;
	text-transform: uppercase;
	left: -3%;
	position: relative;
}
div.o365cs-flexpane-settings-title + div{
	top:-40px;
	position:relative;
}
button.o365cs-flexPane-closebutton{
	display:none;
}

#btn-close-accountBar{
	left: 53%;
	position: relative;
	border-radius: 50%;
	border: 2px solid #ee3036;
	color: #ee3036;
	padding: 3px 8px 3px 8px;
	font-size: 1.3rem;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	top: -3px;
}
