﻿/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*============== 4. Carrousel ==============*/

/* 4.1 Header */

header.slide {
    height: 550px;
}

/* 4.2 Controls */

#carousel-header .controls-banner {
    width: 70px;
    height: 132px;
    position: absolute;
    top: 35%;
}

/* 4.3 Items */

#carousel-header .item {
    height: 550px;
    padding-right: 0px;
    clear: both;
}
#carousel-header .carousel-inner > .item > a > img, #carousel-header .carousel-inner > .item > img, #carousel-header .img-responsive, .thumbnail a > img, .thumbnail > img{
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: 550px;
	min-height: 550px;
}

#carousel-header .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 0 20px 20px 20px;
    width: 50%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    color: #fff;
    bottom: 60px;
    left: 5%;
    z-index: 10;
    position: absolute;
    right: inherit;
}

@media (max-width : 767px) {
   #carousel-header .carousel-caption {
        width:90%;
    }
    
     #carousel-header .carousel-caption h2{
		font-size:23px;
	}
}


@media (max-width : 479px) {
	#carousel-header .carousel-caption {
        width:90%;
    }
    
     #carousel-header .carousel-caption h2{
		font-size:23px;
	}


}
/*============== 5. Buttons ==============*/

/* 5.1 Light Red Button */

.light-red-button {
    background: #ee3036;
    padding: 10px 20px;
    font-size: 12px !important;
	font-weight: bold !important;
    text-shadow: none;
    color: #fff !important;
    text-decoration: none;
    padding: 10px 30px !important;
}

.light-red-button:hover {
    background: #ee3036;
    color: #fff !important;
    text-decoration: none;
}

.container-slider{
	position:relative;
}
