﻿/*
-----Estulos para ocultar campos--------
*/
div[sp-static-name="sysContactosLocales"],
	div[sp-static-name="sysContactosNotificacion"],
	div[sp-static-name="sysInformacionPrimaria"],
	div[sp-static-name="sysSalasAsistencia"]
	{
		display:none;
	}
	
/*
-------Estilos para Tabs --------
*/

#tabs-contactos .row {
    padding: 15px 0;
    border-bottom: 1px solid #dadada;
} 

#tab-content .col-md-4, #tab-content .col-md-3 {
    text-align: right;
} 
#tabs-contactos .tab-content .tab-pane div:first-child .col-md-4,
#tabs-contactos .tab-content .tab-pane div:first-child .col-md-3 {
	text-align: left;
}   

#tabs-contactos {
  width: 100%;
  margin: 30px auto;
  position: relative;
  display: table;
  max-width: 1360px;
}
#tabs-contactos .nav-tabs { 
 
}

#tabs-contactos .nav-tabs > li {
  margin-right: 8px;
  position: relative;
}
#tabs-contactos .nav-tabs > li > a {
  background: #e0e0e0;
  color: #000000;
  border-radius: 0px 10px 0 0;
}
#tabs-contactos .nav-tabs > li.active > a, 
#tabs-contactos .nav-tabs > li.active > a:focus, 
#tabs-contactos .nav-tabs > li.active > a:hover,
#tabs-contactos .nav-tabs > li > a:hover {
  background: #ee3036;
  color: #ffffff;
  border: 1px solid #ee3036;
}
#tabs-contactos .nav-tabs > li.active > a::after, 
#tabs-contactos .nav-tabs > li.active > a:focus::after, 
#tabs-contactos .nav-tabs > li.active > a:hover::after{  
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -21px;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  #tabs-contactos .nav-tabs {
    position: relative; 
    margin-bottom: 55px;
    width: 100%; 
    z-index:auto;
  }  
  
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-4,
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-3 {
	display:none;
  }   


}

/* Small Devices Potrait */
@media (max-width : 767px){
  #tabs-contactos .nav-tabs {
    position: relative;
     z-index:auto;  
  } 
  
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-4,
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-3 {
	display:none;
  } 
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  #tabs-contactos .nav-tabs > li {
    margin-right: 0px;
    width: 100%;
    border-bottom: 2px solid #d2d2d2;
  }
  #tabs-contactos .nav-tabs > li > a {
    border-radius: 0px;
    width: 100%;
  }
  #tabs-contactos .nav-tabs > li.active > a::after, 
  #tabs-contactos .nav-tabs > li.active > a:focus::after, 
  #tabs-contactos .nav-tabs > li.active > a:hover::after,
  #tabs-contactos .nav-tabs > li > a:hover::after {
    display: none;
  }
  
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-4,
  #tabs-contactos .tab-content .tab-pane div:first-child .col-md-3 {
	display:none;
  } 
}


/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
