﻿@import url('contactos.css');

#Title, #Region,input[type="text"] {
  pointer-events:none;
  color: #3E3E3E;
  border-color: #E1E1E1;
}

.form-control-help .ico-help{
	display:none !important;
}
.form-group label i {
	display:none;
}

.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
