.popUpVideo-container{
    width: 100%;
    overflow: none;
}
.popUpVideo-container img{
    width: 96%;
}
.popUpVideo-container video{
    width: 96%;
}
.popUpVideo-container ifram{
    width: 96%;
}
.dialog-title{
    height: 5%;
}