﻿@import url('Solicitudes.css');


#PrimerNombreV, #SegundoNombreV, #PrimerApellidoV, #SegundoApellidoV, #CedulaV, #NumeroTelefonoV, #TelefonoOficinaV, #EstacionTrabajoV, #AreaV, #CorreoV, #CorreoTrabajoV, #FechaPasaporteV,#FechaVisaV,#VacunaV ,#NombreContactoEmergencia,#Parentesco,#TelefonocontactoEmergencia,#Estado,#ObservacionesJefe,#ObservacionesTH{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}
#spForm {
    display: none;
}
#Mensaje {
    display: none;
}


