﻿@import url('../../spForm.css');

[sp-view="edit-comments"] div.row:not([sp-hidden="true"]):not([sp-static-name="ObservacionesJefe"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view-TH"] div.row:not([sp-hidden="true"]):not([sp-static-name="ObservacionesTH"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view-attachments"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-static-name="NumeroRadicado"]
{
	pointer-events:none;
	opacity:0.7;
}

[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .button-tittle,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] > label,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] #ico-help-sp-forms-attachment,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .delete-doc,
{
	pointer-events:none;
	opacity:0.7;
}
[sp-static-name="Estado"]
{
	display:none !important;
}
[sp-view="edit-comments"] div[sp-static-name="ObservacionesTH"]{
	display:none !important;
}
[sp-view="view-TH"] div[sp-static-name="ObservacionesJefe"]{
	display:none !important;
}
.Message-template {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -100px;
}

.Message-template p {
    font-size: 18px;
    color: #575858;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


