﻿div[sp-static-name="Title"],
div[sp-static-name="Estado"],
div[sp-static-name="ka9a0dc9075e40b68498b7acd43885f1"],
div[sp-static-name="ObservacionesJefe"],
div[sp-static-name="ObservacionesTH"]

{
	display:none; 
	}
	
.Message-template {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -100px;
}

.Message-template p {
    font-size: 18px;
    color: #575858;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


