﻿
   div[sp-static-name="Title"]
{
	display:none;	
}

#PrimerNombreV, #SegundoNombreV, #PrimerApellidoV, #SegundoApellidoV, #CedulaV, #NumeroTelefonoV, #TelefonoOficinaV, #EstacionTrabajoV, #AreaV, #CorreoV, #CorreoTrabajoV, #FechaPasaporteV,#FechaVisaV,#VacunaV ,#NombreContactoEmergencia,#Parentesco,#TelefonocontactoEmergencia,#Estado,#ObservacionesJefe,#ObservacionesTH{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help{
	display:none !important;
}
.form-group label i {
	display:none;
}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.Message-template {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -100px;
}

.Message-template p {
    font-size: 18px;
    color: #575858;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


