
.module-directory {
	max-width: 990px;
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
}
.directory-header {
	background: url('/sites/Intranet/SiteAssets/Development/images/components/employeeDirectory/bg-directory.jpg') no-repeat center;
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.directory-formname {
	border: 1px solid #cfcfcf;
	padding: 8px;
	width: 45%;
	margin: 25px auto;
	display: block;
	text-align: center;
}
.directory-button, .directory-header input[type="button"] {
	background: #ee3036;
	padding: 8px;
	font-size: 16px;
	border-radius: 6px;
	color: #FFF;
	border: none;
	min-width: 120px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
.directory-list {
	width: 100%;
	display: table;
}
.element-person {
	width: 50%;
	padding: 25px 2%;
	border-bottom: 1px dotted #cfcfcf;
	display: table;
	float: left;
	min-height: 175px;
	max-height: 175px;
}
.element-person img, .element-person a {
	float: left;
}
.element-person img {
	height:9.5rem; 
	width:25%;
	margin-right: 5%;
}
.element-person a,
.element-person a:hover,
.element-person a:visited {
	color: #333;
	text-decoration: none;
	width: 100%;
}
.info-person a h4 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.info-person p {
	font-size: 14px;
	color: #333;
}
.info-person {
	min-height: 20rem;
	width: 70%;
	float: left;
}
#dynatable-record-count-resultsList{
	float:left;
}
#dynatable-search-resultsList{
	display:none;
}
#resultsList {
	display: table;
	width: 100%;
	padding: 0px;
}
.dynatable-per-page {
	padding: 20px 20px 0 20px;
	display: block;
}
.dynatable-per-page .dynatable-per-page-label {
	font-size: 18px;
	font-weight: normal;
}
.dynatable-per-page select {
	
}


.dynatable-search {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	font-size: 18px;
}
.dynatable-search input {
	padding: 8px;
	width: 45%;
	margin-left: 12px;
}
.dynatable-search input:focus,
.dynatable-search input:hover,
.contentAreaCategory select:focus,
.contentAreaCategory select:hover {
	border: 1px solid #ee3036;
}
.dynatable-active-page {
	background: #ee3036 !important;
	color: #FFF !important;
}
.dynatable-record-bounds {
	font-weight: bold;
}
.dynatable-pagination-links a,
.dynatable-pagination-links a:hover,
.dynatable-pagination-links a:visited {
	color: #000;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 800px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .element-person {
		width: 100%;
		padding: 25px 0px;
		min-height: auto;
		max-height: none;
	}
	.element-person img {
		width: 25%;
		margin-right: 5%;
		height: auto;
	}
	.element-person a {
		width: 100%;
	}
	.directory-formname {
		width: 85%;
	}
	.dynatable-per-page {
		padding: 20px 20px 0 0px;
	}
	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .dynatable-pagination-links {
		float: left;
		padding: 0;
		width: 100%;
	}
	.dynatable-search input {
		width: 60%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}