﻿.module-events-content {width: 95%; margin: 0 auto;}
.tittle-events {float: left; width: 100%; background: #e4e7ea; margin-bottom: 5px;}
.tittle-events div { float:left; padding:0 12px;}

.tittle-events-tittle, .item-events-text { width: 50% }
.tittle-events-date, .tittle-events-hour, .item-events-date, .item-events-hour { width: 17%; }
.tittle-events-arrow, .item-events-text-arrow {width: 16%;}

.tittle-events h3 {text-transform: uppercase; font-size: 14px; color: #373737; letter-spacing: 0.4em; }
.list-items-events, .more-events { float: left; width: 100%; }
.item-events {float: left; width: 100%; background: #f2f5f8; margin-bottom: 5px; display: flex; height: 100%;}
.item-events-text { padding: 12px; }
.item-events h2 { font-size: 16px; color: #000; font-weight: normal; margin: 5px 0;}
.item-events p { font-size: 13px; color: #575858; font-weight: 300; }
.item-events div { border-left: 1px solid #e4e7ea; min-height: 75px; position: relative;}
.item-events div:first-child { border-left: none;}
.item-events h3, .item-events span {text-align: center; width: 100%; display: table; }
.item-events h3 { color: #373737; font-size: 14px; margin: 15px 0 0 0 ;}
.item-events span { font-size: 24px; margin: 0; }
.item-events i {color: #ee3036; font-size: 26px; position: absolute; top: 32%; right: 40%;}
.more-events { margin-top: 25px; }
.more-events a { color: #000; letter-spacing: 0.4em; font-size: 11px; text-transform: uppercase; float: right; font-weight: 700; }
.more-events a:hover { text-decoration: none; }
.more-events i {color: #ee3036; font-size: 14px; }

.item-events-text-arrow:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 30px 30px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
     cursor:pointer;
}

.item-events-text-arrow:hover i{
	display:none;
}
 .events {margin-bottom: 20px;}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

}

/* Small Devices Potrait */
@media (max-width : 767px){
	.item-events {display: block;}
	.tittle-events-date, .tittle-events-hour { display: none; }
	.tittle-events-tittle, .item-events-text { width: 100% }
	.tittle-events-date, .tittle-events-hour, .item-events-date, .item-events-hour,.tittle-events-arrow, .item-events-text-arrow { width: 33.3%; float: left; }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.tittle-events-tittle, .item-events-text { width: 100% }
	.tittle-events-date, .tittle-events-hour, .item-events-date, .item-events-hour,.tittle-events-arrow, .item-events-text-arrow { width: 33.3%; float: left; }
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}