﻿.social-twitter-image{
	width: 20%;
	float: left;
}
.social-twitter-text{
	width:80%;
	float: left;
}
.social-twitter-text > #title-twitt{
	font-size: 13px !important;
	font-weight: bold !important;
	margin-bottom: 2px !important;
}

.social-twitter-text > #desc-twitt{
	font-size: 11px !important;
}

#social-twitter img {
    width: 100%;
    height: auto;
    max-width: 290px;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .social-twitter-image {
    width: auto;
    float: left;
}
.social-twitter-text {
    width: auto;
    float: left;
    padding-left: 15px;
}
}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}