﻿.otherNews-item {
	display: flex;
	height: 100%;
	align-items: center;
	margin-bottom: 15px;
}
.otherNews-item-image-container {
	position: relative;
	width: 30%;
	float: left;
}

.otherNews-item-image-image {
	display: block;
	width: 100%;
	height: auto;
}

.otherNews-item-image-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ee3036;
	overflow: hidden;
	width: 0;
	height: 100%;
	opacity: 0.8;
	transition: .5s ease;
}

.otherNews-item-image-container:hover {
	cursor: pointer;
}

.otherNews-item-image-container:hover .otherNews-item-image-overlay {
	width: 100%;
}

.otherNews-item-image-text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.otherNews-item-text-container {
	width: 65%;
	margin-left: 5%;
	float: left;
}

.otherNews-item-text-container h3 {
	margin: 0 0 8px 0;
	font-size: 18px;
	font-weight: bold;
}

.otherNews-item-text-container p {
	margin: 0 0 8px 0;
	font-size: 13px;
}

.otherNews-item-text-container a {
	font-weight: bold;
	font-size: 13px;
	color: #000 !important;
}

.otherNews-item-text-container a i {
	font-size: 14px;
	color: #ee3036;
}

.otherNews-item-text-container a, .otherNews-item-text-container a:focus, .otherNews-item-text-container a:visited {
    font-weight: bold;
    font-size: 13px;
    color: #000 !important;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
      .news {
        margin: 20px 0;
        padding: 0 20px;
        width: 100%;
        display: table;
    }
    .otherNews-item {
        width: 33.3%;
        float: left;
    }
    
    .contaniner-links .row{
		    width: 100%;
	    max-width: 1360px;
	    margin: 0 auto;
	}
}
/* Small Devices Potrait */
@media (max-width : 767px){
   .contaniner-links .row{
		width: 100%;
	    max-width: 1360px;
	    margin: 0 auto;
	}

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
     .contaniner-links .row{
		width: 100%;
	    max-width: 1360px;
	    margin: 0 auto;
	}

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}

