﻿body {
    font-family: 'fselliot', sans-serif;
}
.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.certificaciones-reconocimientos .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
}
.certificaciones-reconocimientos .nav-tabs > li.active > a, 
.certificaciones-reconocimientos .nav-tabs > li.active > a:focus, 
.certificaciones-reconocimientos.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #ee3036;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.certificaciones-reconocimientos-contenido {
    padding: 35px 0;
}
.certificaciones-reconocimientos h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000;
    float: left;
    text-transform: capitalize;
}
.certificaciones-reconocimientos h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.certificaciones-reconocimientos-contenido-tittle img {
    float: left;
    margin-right: 15px;
    max-width: 150px;
    min-width: 150px;

}
.certificaciones-reconocimientos-contenido-tittle {
    display: table;
    width: 100%;
}
.certificaciones-reconocimientos-tab-content {
    margin-top: 25px;
}

.certificaciones-reconocimientos .accordion-titleSection {
    cursor: pointer;
    background: #f2f4f5;
    color: #434343;
    font-size: 14px;
    border: none;
    margin-top: 5px;
    display: table;
    width: 100%;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.certificaciones-reconocimientos .accordion-titleSection:not(.collapsed) {
    background: #ee3036;
    color: #ffffff;
   transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.certificaciones-reconocimientos .accordion-titleSection .accordion-iconTitle {
    width: 60px;
    height: 60px;
    background: url(../../../images/components/certifications/accordion-ico-close.png) center #e9ebec no-repeat;
    display: block;
    float: left;
    margin-right: 25px;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.certificaciones-reconocimientos .accordion-titleSection:not(.collapsed) .accordion-iconTitle {
    background: url(../../../images/components/certifications/accordion-ico-open.png) center #ee3036 no-repeat;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.certificaciones-reconocimientos .accordion-titleSection h3{
    font-size:2rem;
}
.certificaciones-reconocimientos .collapse{
    transition:2s;
    -moz-transition:2s;
    -webkit-transition:2s;
}
.certificaciones-reconocimientos .collapse.in{
    transition:2s;
    -moz-transition:2s;
    -webkit-transition:2s;
}

.item-reconocimientos {
    text-align: center;
    border:1px dotted #c6c6c6;
    background: url("../../../images/components/certifications/ico-reconocimiento.png") no-repeat 20px 20px;
    height: 320px;
}
.item-certificacion {
    text-align: center;
    border:1px dotted #c6c6c6;
    background: url("../../../images/components/certifications/ico-certificacion.png") no-repeat 20px 20px;
    height: 270px;
}
.item-image {
    display: flex;
    align-items: center;
    height: 80px;
    text-align: center;
}
.item-image img {
    max-height: 70px;
    width: auto;
    margin: 0 auto;
    z-index:-1;
    max-width: 110px;
}

.list-reconocimientos-certificados h3 {
    margin: 12px auto;
    font-size: 18px;
    max-width: 300px;
    color: #000;
}
.list-reconocimientos-certificados p {
    font-size: 14px;
    max-width: 300px;
    margin: 0 auto;
}
.list-reconocimientos-certificados p.item-year,
.list-reconocimientos-certificados p.item-year-large {
    font-size: 12px;
    margin: 8px auto;
    background: #ee3036;
    color: #fff;
    padding: 4px 8px;
    display: table;
    bottom: 0;
    position: absolute;
    left: 40%;
}
.list-reconocimientos-certificados p.item-year-large{
    left:35%;
}
.row{
    margin-left:0px;
    margin-right: 0px;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
}

/* Small Devices Potrait */
@media (max-width : 767px){
   
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}