﻿<script type="text/javascript" src='https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/js/components/PopupDiario/constructor.js'></script>
<script type="text/javascript">
	debugger;
	executePopUp();
</script><head><title>popup</title>
</head>