﻿
#glossaryContainer {
	max-width: 990px;
    margin: 0 auto;
}
.searchGlossary, .dynatable-per-page { display: none; }
#Pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
}
.Item {
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted #cfcfcf;
}
#Pagination .Item:last-child {
	margin-bottom: 20px;
}
.termTitle {
	font-size: 22px;
}
.termTitle::after {
	content: "";
	position: initial;
	margin: 5px 0 10px 0;
	width: 40px;
	height: 3px;
	background-color: #ee3036;
	display: block;
}
.termDefinition {
	font-size: 16px;
}
#letterFilter {
	padding: 10px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
}
.letter {
	padding: 6px;
	cursor: pointer;
}
.letter:hover {
	color: #ee3036;
}
.contentAreaCategory {
	width: 100%;
	float: left;
	margin: 4px 0 18px 0;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 16px;
}
.areaGlossary {
	float: left;
}
.areaGlossary label, .CategoryGlossary label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
}
.CategoryGlossary {
	float: left;
	margin-left: 25px;
}
.areaGlossary select, .CategoryGlossary select {
	padding: 5px;
}
.dynatable-search {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	font-size: 18px;
}
.dynatable-search input {
	padding: 8px;
	width: 45%;
	margin-left: 12px;
}
.dynatable-search input:focus,
.dynatable-search input:hover,
.contentAreaCategory select:focus,
.contentAreaCategory select:hover {
	border: 1px solid #ee3036;
}
.dynatable-active-page {
	background: #ee3036 !important;
	color: #FFF !important;
}
.dynatable-record-bounds {
	font-weight: bold;
}
.dynatable-pagination-links a,
.dynatable-pagination-links a:hover,
.dynatable-pagination-links a:visited {
	color: #000;
}



 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .CategoryGlossary {
		margin-left: 0;
		margin-top: 20px;
	}
	#glossaryContainer {
		width: 96%;
		padding: 2%;
	}
	.dynatable-pagination-links {
		float: left;
		padding: 0;
		width: 100%;
	}
	.dynatable-search input {
		width: 60%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


