﻿@import url('../Licencias/main.css');
.delete-doc, #sp-forms-add-attachment{
	display:none;
}

.ico-help:not(#ico-help-ComentariosTH){
	display:none;
}
.form-control:not(#ComentariosTH){
	border: 0px !important;
	background-color: transparent;
}
