﻿@import url('CuentasAFC.css');

#NombrePersona1,#DocumentoIdentidad,#NumeroCelular,#CorreoElectronico,#NumeroRadicado,#EstadosCajaCompensacion,#ComentariosTH,#TipodeAporteVoluntario,#TipoSolicitud,#Banco,#NumeroCuenta,#Valordescontarenla1eraQuincena,#Valordescontarenla2daQuincena{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.col-md-6.col-xs-6.delete-doc {
    display: none;
}
a#sp-forms-add-attachment {
    display: none;
}
