﻿div[sp-static-name="Title"],
div[sp-static-name="bfdea3c69419401889188eaef5f9a62d"],
div[sp-static-name="NumeroRadicado"],
div[sp-static-name="EstadosCajaCompensacion"],
div[sp-static-name="ComentariosTH"]
{
	display:none; 
	}
#TotalValordescontar{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}
