﻿@import url('../CambioCuentaNomina/main.css');
[sp-static-name="NumeroRadicado"],
[sp-static-name="EstadosCajaCompensacion"]
{
	display:none !important;
}
#TotalValordescontar{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}
