﻿div[sp-static-name="Title"],
div[sp-static-name="bfdea3c69419401889188eaef5f9a62d"],
div[sp-static-name="EstadosCajaCompensacion"],#btn-Enviar,#btn-Cancelar
{
	display:none; 
	}
#NombrePersona1,#DocumentoIdentidad,#NumeroCelular,#CorreoElectronico,#BasePersona,#NumeroRadicado,#TipodeAporteVoluntario,#TipoSolicitud,#Banco,#NumeroCuenta,#Valordescontarenla1eraQuincena,#Valordescontarenla2daQuincena,#TotalValordescontar,#ComentariosTH{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help{
	display:none !important;
}
.form-group label i {
	display:none;
}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.col-md-6.col-xs-6.delete-doc {
    display: none;
}
a#sp-forms-add-attachment {
    display: none;
}
.item-doc a {
  pointer-events: none;
   cursor: default;
}


