﻿@import url('../../spForm.css');

[sp-view="view"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosTH"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="Business"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosPublicacion"]):not([sp-static-name="RequiereAprobacionesTI"]):not([sp-static-name="FechaAprobacion"]):not([sp-static-name="UrlOnedrive"]):not([sp-static-name="UsuariosRevisores"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="Inicial"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosPublicacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="Area"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosPublicacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="AreaTI"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosPublicacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="Arquitectura"] div.row:not([sp-hidden="true"]):not([sp-static-name="ComentariosPublicacion"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="Finalizado"] div.row:not([sp-hidden="true"]):not([sp-static-name="UrlOnedrive"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-view="view-attachments"] div.row:not([sp-hidden="true"]):not([sp-static-name="sp-forms-attachment"]):not(.buttons-form),
[sp-static-name="NumeroRadicado"]
{
	pointer-events:none;
	opacity:0.7;
}

[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .button-tittle,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] > label,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] #ico-help-sp-forms-attachment,
[sp-view="view"] div[sp-static-name="sp-forms-attachment"] .delete-doc,
{
	pointer-events:none;
	opacity:0.7;
}
[sp-static-name="EstadosPublicacion"]
{
	display:none ;
}


[sp-view="Inicial"] div[sp-static-name="RequiereAprobacionesTI"],[sp-view="Arquitectura"] div[sp-static-name="RequiereAprobacionesTI"]
{
	display:none ;
}
[sp-view="Revision"] div[sp-static-name="TieneRevision"],[sp-view="Revision"] div[sp-static-name="UsuariosRevisores"]{
	display:none ;
}
[sp-view="edit"] div[sp-static-name="TieneRevision"], [sp-view="edit"] div[sp-static-name="UrlOnedrive"],[sp-view="edit"] div[sp-static-name="UsuariosRevisores"],[sp-view="edit"] div[sp-static-name="NumeroRevisoresAprobados"],[sp-view="edit"] div[sp-static-name="FechaAprobacion"]{
	display:none ;
}
[sp-view="Inicial"] div[sp-static-name="TieneRevision"], [sp-view="Inicial"] div[sp-static-name="UrlOnedrive"],[sp-view="Inicial"] div[sp-static-name="UsuariosRevisores"],[sp-view="Inicial"] div[sp-static-name="FechaAprobacion"],[sp-view="Inicial"] div[sp-static-name="NumeroRevisoresAprobados"]{
	display:none ;
}
[sp-view="view"] div[sp-static-name="TieneRevision"], [sp-view="view"] div[sp-static-name="UrlOnedrive"],[sp-view="view"] div[sp-static-name="UsuariosRevisores"],[sp-view="view"] div[sp-static-name="FechaAprobacion"],[sp-view="view"] div[sp-static-name="NumeroRevisoresAprobados"]{
	display:none ;
}
[sp-view="Noti"] div[sp-static-name="UsuariosRevisores"],[sp-view="Noti"] div[sp-static-name="UrlOnedrive"],[sp-view="Noti"] div[sp-static-name="FechaAprobacion"],[sp-view="Noti"] div[sp-static-name="NumeroRevisoresAprobados"]{
	display:none ;
}
[sp-view="Finalizado"] div[sp-static-name="UsuariosRevisores"],[sp-view="Finalizado"] div[sp-static-name="FechaAprobacion"],[sp-view="Finalizado"] div[sp-static-name="NumeroRevisoresAprobados"]{
	display:none ;
}




/*table*/
.ms-long{
	width:90%!important;
}
#table-contacts{
	width:685px;
	padding-bottom:15px;
}
#header-contacts{
	height:50px;
}
#header-contacts div {
    width: 24%;
    display: inline-block;
    line-height:50px;
}
#header-contacts div:last-child label {
	width:100%;
	color:green;
	text-align:center;
	font-size:2rem;
	font-weight:bold;
	cursor:pointer;
}
#header-contacts div h3{
	vertical-align:middle;
}
.row-contact{
	height:55px;
}
.row-contact div {
    width: 24%;
    display: inline-block;
    height:55px;
    vertical-align:top;
}
.row-contact div:last-child {
	width:4%;
}

.row-contact div textarea,
.row-contact div input{
	width:90%;
	height:30px;
	overflow-x:hidden;
	overflow-y:auto;
	resize:none;
}
.row-contact div input{
	top:1px;
	position:relative;
}
.row-contact div:last-child{
	line-height:30px;
}
.row-contact div:last-child label {
	width:100%;
	color:red;
	text-align:center;
	font-size:2rem;
	font-weight:bold;
	cursor:pointer;
	vertical-align:middle;
	position:relative;
	top: -5px;
	left: 2px;
}
.row-contact div span span{
	font-size:10px;
	color:red;
}
@import url("convenios.css");

.ms-dialog{
	opacity:0;
	transition:2s;
	-webkit-transition:2s;
	-moz-transition:2s;
}
#s4-ribbonrow{
	display:none!important;
}

#body-contacts{
	display:none;
}

.data-row-contact div{
	display:none;
}

.data-row-contact section{
	display:inline-block;
	width:24%;
}
input,textarea{
	color:black!important;
	border:0px!important;
}
section h1{
	padding-top:20px;
}

header section{
	display:inline-block;
	width:60%;
	vertical-align:middle;
	text-align:justify;
}
header section:first-child{
	width:25%;
	padding-right:15%;
	vertical-align:top;
	text-align:center;
}
.row-contact {
    height: 25px;
}
#header-contacts {
  	height: 100px;
	border-bottom: 1px solid rgba(119,119,119,0.7);
	/*padding-top: 15px;*/
}
#header-contacts div {
    line-height: 3px;
}

.row-contact div {
    width: 24%;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    font-size:0.8rem;
}

.row-contact div textarea, .row-contact div input {
    width: 90%;
    height: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}
#body-contacts {
    padding-top: 5px;
}

@media (max-width : 479px) {
	header section{
	    width: 100%!important;
	    display: block;
	    padding-top: 20px;
	}

	header section:first-child {
	    padding: 0px;
	    text-align: center;
	}
	
	#header-contacts{
		display:none;
	}
	.data-row-contact section,
	.data-row-contact div{
		width:45%;
		display:inline-block;
	}
	.data-row-contact{
		margin-top: 15px;
		border-top: 1px solid rgba(119,119,119,0.7);
		padding-bottom: 10px;
		width: 90%;
	}
	
	.data-row-contact div h3{
		font-weight:bold;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
	header section{
	    width: 100%!important;
	    display: block;
	    padding-top: 20px;
	}

	header section:first-child {
	    padding: 0px;
	    text-align: center;
	}
	
	#header-contacts{
		display:none;
	}
	.data-row-contact section,
	.data-row-contact div{
		width:45%;
		display:inline-block;
	}
	.data-row-contact{
		margin-top: 15px;
		border-top: 1px solid rgba(119,119,119,0.7);
		padding-bottom: 10px;
		width: 90%;
	}
	.data-row-contact div h3{
		font-weight:bold;
	}

}






