﻿@import url('nuevoAlivio.css');

div[sp-static-name="NumeroRadicado"]
{
display:block;
}
div[sp-static-name="NumeroRadicado"]
{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;

}

#NumeroRadicado{
	border:0px !important;
	border-bottom:0px !important;
}

#ico-help-NumeroRadicado{
	display:none;
}