﻿.information{
	max-width:1140px;
	margin:40px auto;
}

.hproject { 
  position: relative;
  max-width:555px;
  margin:0 auto;
}
.hproject-content { 
  position: relative;
}
.hproject h5 {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0;
}
.hproject h5::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 68px;
  height: 3px;
  background-color: #ee3036;
}
.hproject-text {
	font-weight: bold;
  color: #000;
  text-align: right;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 60%;
  display: inline;
}
.hproject-text h3 { 
  font-size: 18px;
}
.hproject-text h2 { 
  font-size: 24px;
}
.hproject img { 
  width: 550px;
  height:450px;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .hproject img { 
	  width: 100%;
	  height:100%;
	}


}

/* Small Devices Potrait */
@media (max-width : 767px){
	.hproject img { 
	  width: 100%;
	  height:100%;
	}

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	 .hproject img { 
	  width: 100%;
	  height:100%;
	}

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}

