﻿.notificaciones { padding: 0; background-color: #e4e9eb; color: #000;}
.zona-notificaciones { padding: 5px 27px; position: relative; }
.slide-notificaciones .txt-notificacion { display: inline-block; font-size: 18px; position: relative; padding: 10px 10px 15px 40px; }
.slide-notificaciones .txt-notificacion i { font-size: 35px; position: absolute; top: 10%; left: 0; color: #ee3036; }
.slide-siguiente, .slide-anterior { position: absolute; top: 50%; left: 0; cursor: pointer; }
.slide-siguiente { left: auto; right: 0; }

.slide-notificaciones > .swiper-wrapper .slick-prev, .slide-notificaciones > .swiper-wrapper .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slide-notificaciones > .swiper-wrapper .slick-prev:hover, .slide-notificaciones > .swiper-wrapper .slick-next:hover{
	background-color:transparent !important;
	border-color:transparent !important;
}


.slide-notificaciones > .swiper-wrapper .slick-next{
	right:0;
}
.slide-notificaciones > .swiper-wrapper .slick-prev:before, .slide-notificaciones > .swiper-wrapper .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.slide-notificaciones > .swiper-wrapper .slick-prev::before {
    content: "\e902";
}

.slide-notificaciones > .swiper-wrapper .slick-next:before {
	content: "\e901";
}

.slide-notificaciones > .swiper-wrapper .slick-list{
	margin-left: 30px;
	margin-right: 30px;
}

.slide-notificaciones a:hover,
.slide-notificaciones a:focus,
.slide-notificaciones a:visited {
    color: #ee3036;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .slide-notificaciones .txt-notificacion {
        font-size: 12px;
        padding: 10px 10px 15px 30px;
    }
    .slide-notificaciones .txt-notificacion i {
        font-size: 25px;
        top: 50%;
        margin-top: -13px;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}