﻿/*timeLine*/
.distributionTable div.timeline-content {
     width: 100%;
 	 position: relative;
	 display: table;
 	 padding-top: 60px;}
.distributionTable div.timeline-control {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.distributionTable div.timeline-control .draggable{
    background: url("/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/bg-years.png") no-repeat center;
    height: 5rem
}
.distributionTable div.timeline-control .slick-slide label{
    cursor:pointer;  
    color: #555;
    background: rgba(255,255,255,0.4);
    padding: 13px 8px;
    border-radius:100%;
    
    
}
.distributionTable div.timeline-control .item-active label{
    color: #07539d;
    font-weight: bold;
}
.distributionTable div.timeline-control div{
    min-height: 1px;
    min-width:1px;
    height: 100%; 
}
.fullCol div.timeline-control .slick-slide{
    display: none;
    float: left; 
    position: relative;
    z-index: 10; 
    text-align: center;           
}
.middleCol div.timeline-control .slick-slide{
    display: none;
    float: left;    
    height: 30rem;      
    position: relative;
    z-index: 10;
    
}
.smallCol div.timeline-control .slick-slide{
    display: none;
    float: left;    
    height: 20rem;
    position: relative;
    z-index: 10;  
}
.distributionTable div.timeline-control [dir='rtl'] .slick-slide{
    float: right;
}
.distributionTable div.timeline-control .slick-slide{
    display: block;    
}
.distributionTable div.timeline-control .slick-loading .slick-slide{
    visibility: hidden;
}
.distributionTable div.timeline-control .slick-list{
	 position: relative;
 	display: block;
 	overflow: hidden;
	 margin: 0%;
 	padding: 0%;
	 width: 90%;
	 float: left;   
   }
.distributionTable div.timeline-control .slick-arrow{
 	min-width: 35px;
	 width: 5%;
	 margin-top: 1%;
	 float: left;
	 background-color: transparent;
	 background-repeat: no-repeat;
	 color: transparent;
	 border: none;}
.distributionTable div.timeline-control .slick-arrow:hover{
    opacity: 0.6;
}
.distributionTable div.timeline-control .slick-slide label:hover {
    color: #ee3036;
    font-weight: bold;
}

.distributionTable div.timeline-control .slick-next{
 background-image: url("/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/next-32.png");
 background-position: center top;
}
.distributionTable div.timeline-control .slick-prev{
     background-image: url(/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/prev-32.png);
 background-position: center top;
}
.distributionTable div.timeline-control .slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.distributionTable div.timeline-control .slick-list .dragging{
    cursor: pointer;
    cursor: hand;
}
.distributionTable div.timeline-control .slick-slider .slick-track,
.distributionTable div.timeline-control .slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.distributionTable div.timeline-control .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.distributionTable div.timeline-control .slick-loading .slick-track{
    visibility: hidden;
}
.distributionTable .timeline-image {
    float: right;
    width: 50%;
    text-align:center;
    min-height:430px;
    background: url("https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/bg-timeline.png") no-repeat center top;
}
.distributionTable .timeline-image-content {
	padding-top: 25px;
}
.distributionTable .timeline-image .timeline-image-content img {
	width: 85% !important;
	height: auto !important;
	border: 8px solid #fff;
	border-bottom: 45px solid #fff;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
}
.distributionTable .timeline-text {
    float: right;
    width: 50%;
    min-height: 590px;
    position: relative;
    margin-top: 5%;
    height: 100%;
    align-items: center;
}
.distributionTable .timeline-text-content {
    width: 80%;
    margin: 0 auto;
    display: table;
}
.distributionTable .timeline-text h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 15px 0px;
    color:#07539d;
}
.distributionTable .timeline-text h2::after {
    height: 3px;
    width: 45px;
    background: #07539d;
    display: block;
    content: "";
}
.distributionTable .timeline-text h3 {
    color: #898a8b;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 14px;
    font-weight: 300;
    margin: 0px 0px 15px 0px;
}
.distributionTable .timeline-text p {
    color: #555;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}

.distributionTable .timeline-text div {
    color: #555;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}

.distributionTable .item-company {
    margin-bottom: 25px;
    display: table;
}
.module-timeline {
    max-width: 1200px;
    width: 100%;
    display: table;
    margin: 0 auto;
    
}
.distributionTable div.timeline-control .item-active::after {
    content: url("https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/ico-truck.png");
    position: absolute;    
        bottom: -7px;
	margin-left: -40px;
    animation: arrive 2.3s linear;    
}
.distributionTable div.timeline-control .item-inactive::after {
    content: url("https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/distributionTable/timeLine/ico-truck.png");
    position: absolute;   
    opacity:0; 
    bottom: -7px;
	margin-left: -40px;
	animation: takeOff 1.3s linear;
}
@keyframes arrive {
  0%{bottom:30px;margin-left:-75px;opacity:0}
  20%{bottom:30px;margin-left:-75px;opacity:0}
  40%{bottom:30px;margin-left:-75px;opacity:0}
  60%{bottom:25px;margin-left:-40px;opacity:0.4}
  80%{bottom:15px;margin-left:-40px;opacity:0.8}
  90%{bottom:5px;margin-left:-40px;opacity:1}
  100%{bottom:-7px;margin-left:-40px;opacity:1}
   
}
@keyframes takeOff {
  0%{bottom:0px;opacity:1}
  10%{bottom:10px;margin-left:-35px;opacity:1}
  20%{bottom:20px;margin-left:-35px;opacity:1}
  30%{bottom:30px;margin-left:-35px;opacity:1}
  40%{bottom:30px;margin-left:25%;opacity:0.9}
  50%{bottom:30px;margin-left:50%;opacity:0.8}
  60%{bottom:30px;margin-left:75%;opacity:0.7}
  70%{bottom:30px;margin-left:100%;opacity:0.6}
  80%{bottom:30px;margin-left:125%;opacity:0.5}
  90%{bottom:30px;margin-left:150%;opacity:0.5}
  100%{bottom:30px;margin-left:175%;opacity:0.3}  
}
/*
@media screen and (min-width: 1024px){
    .distributionTable .table-responsive{
        font-size:1.5rem !important;
    }
    .distributionTable .table-responsive img{
        max-width: 200px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 801px){
    .distributionTable .table-responsive{
        font-size:1rem !important;
    } 
    .distributionTable .table-responsive img{
         max-width: 100px;
    }
}
@media screen and (max-width: 800px) and (min-width: 601px){
    .distributionTable .table-responsive{
        font-size:0.7rem !important;
    }
    .distributionTable .table-responsive img{
         max-width: 25px;
    }
}
@media screen and(max-width : 767px){
    .timeline-image, 
    .timeline-text,
    .timeline-control,
    .timeline-text-content {
        float: left;
        width: 100%;
    }
    .timeline-control {
        position: initial;
    }
}
@media screen and (max-width: 600px){
    .distributionTable .table-responsive{
        font-size:0.5rem !important;
    }
    .distributionTable .table-responsive button{
        font-size:0.7rem !important;
    }
    .distributionTable .table-responsive img{
          max-width: 20px;
    }
    .distributionTable div.carouselResponsive .slick-list{ 
        width: 80%;        
    }
    .distributionTable div.carouselResponsive .slick-slide 
    .ms-rte-wpbox .mediaPlayerTitleOverlay{
        font-size:0.7rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 781px){   
    .distributionTable div.carouselResponsive .slick-slide,
    .distributionTable div.carouselResponsive .slick-slide div{   
        height: 30rem !important;
    }
    .fullCol {
        max-height: 400px; 
    }
    .middleCol {
        max-height: 400px; 
    }
    .smallCol {
        max-height: 400px; 
    }

}
@media screen and (max-width: 780px) and (min-width: 601px){   
    .distributionTable div.carouselResponsive .slick-slide,
    .distributionTable div.carouselResponsive .slick-slide div{   
        height: 35rem !important;
    }
    .fullCol {
        max-height: 500px; 
    }
    .middleCol {
        max-height: 500px; 
    }
    .smallCol {
        max-height: 500px; 
    }
}
@media screen and (max-width: 600px) and (min-width: 481px){
    .distributionTable div.timeline-content {
        display: block; 
         width:100%;
    }
    .distributionTable div.timeline-control {
        position: relative;
        margin-bottom: 15px;
         width:100%;
    }
    .distributionTable .timeline-image {
        float: left;
        width: 100%;
    }
    .distributionTable .timeline-text {
        float: left;
        width: 100%;
        min-height: 590px;        
        margin-top: 15px;
        height: 100%;
        align-items:center;
        text-align: justify;
    }
    .distributionTable div.carouselResponsive .slick-slide,
    .distributionTable div.carouselResponsive .slick-slide div{   
        height: 25rem !important;
    }    
    .fullCol {
        max-height: 400px; 
    }
    .middleCol {
        max-height: 400px; 
    }
    .smallCol {
        max-height: 400px; 
    }
}
@media screen and (max-width: 480px){
    .distributionTable div.carouselResponsive .slick-slide,
    .distributionTable div.carouselResponsive .slick-slide div{   
        height: 20rem !important;
    }
    .table-responsive{
        font-size:0.4rem;
    }
    .distributionTable div.timeline-content {
        display: block; 
         width:100%;
    }
    .distributionTable div.timeline-control {
        position: relative;
        margin-bottom: 15px;
        width:100%;
    }
    .distributionTable .timeline-image {
        float: left;
        width: 100%;
    }
    .distributionTable .timeline-text {
        float: left;
        width: 100%;
        min-height: 590px;        
        margin-top: 15px;
        height: 100%;
        align-items:center;
        text-align: justify;
    }
}
*/
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	  .timeline-control {
		position: initial;
		float: left;
		width: 100%;
		margin-bottom: 40px;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .timeline-image, 
    .timeline-text,
    .timeline-control,
    .timeline-text-content {
		float: left !important;
		width: 100% !important;
	}
	.timeline-control {
		position: initial;
	}
	.distributionTable .timeline-image {
		min-height: inherit;
		background-size: contain;
	}
	.distributionTable .timeline-image .timeline-image-content img {
		width: 100% !important;
	}
}
