﻿@import url('../../spForm.css');

div[sp-static-name="NumeroRadicado"],
div[sp-static-name="NombrePersona1"],
div[sp-static-name="Empresa"],
div[sp-static-name="Pais"],
div[sp-static-name="WorkCity"],
div[sp-static-name="Area"],
div[sp-static-name="UbicacionFisica"],
div[sp-static-name="PersonalInvolucrado"],
div[sp-static-name="PersonasInvolucradas"],
div[sp-static-name="DescripcionSituacion"],
div[sp-static-name="Auditor"],
div[sp-static-name="ComentariosGerente"]
{
	pointer-events:none;
  	color: #B1B1B1;
  	border-color: #E1E1E1;

}

div[sp-static-name="EstadoAuditoria"]{
		display:none;
}

.form-control,.sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help, .input-group-addon{
	display:none !important;
}
.form-group label i {
	display:none;
}

#FechaAuditoria {
	border-radius: 0px;
    border: 1px solid #cfcfcf !important;
    border-bottom: 3px solid #cfcfcf !important;
    transition: border-color 0.5s;
}

#ico-help-FechaAuditoria{
 display:inherit !important;
}


