﻿.module-otherNewsVP {
  max-width: 320px;
  float: left;
}
.otherNewsVP-item {
  max-width: 320px;
  width: 100%;
  float: left;
}
.otherNewsVP-item:first-child {
  margin-bottom: 15px;
}
.otherNewsVP-item img {
  max-width: 290px;
  width: 100%;
  max-height:150px;
}
.otherNewsVP-item-text {
  padding: 0.5em;
}
.otherNewsVP-item-text h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin: 0;
}
.otherNewsVP-item-text p {
  font-weight: 300;
  font-size: 13px;
  color: #575858;
  margin: 12px 0;
}
.otherNewsVP-item-text a {
  font-weight: bold;
  font-size: 13px;
  color: #000;
}
.otherNewsVP-item-text a i {
  color: #ee3036;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    .module-otherNewsVP {
        max-width: none;
        width: 100%;
        padding: 20px;
    }
    .otherNewsVP-item {
        max-width: none;
        width: 48%;
    }
    .otherNewsVP-item:first-child {
        margin-right: 4%;
    }
    .otherNewsVP-item img {
        max-width: none;
        height: auto;
    }
}
/* Small Devices Potrait */
@media (max-width : 767px){
    .module-otherNewsVP {
        max-width: none;
        width: 100%;
        padding: 20px;
    }
    .otherNewsVP-item {
        max-width: none;
        width: 48%;
    }
    .otherNewsVP-item:first-child {
        margin-right: 4%;
    }
    .otherNewsVP-item img {
        max-width: none;
        height: auto;
    }
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .otherNewsVP-item {
        width: 100%;
    }
    .otherNewsVP-item:first-child {
        margin-right: 0%;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}