﻿.information{
	margin: 60px 0px;
}

.information-numbers h5, .information-offers h5, .information-important .important h5{
    padding-left:92px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.information-numbers h5::before, .information-offers h5::before , .information-important .important h5::before{
    content: "";
    position: absolute;
    bottom: 18px;
    left: 14px;
    width: 68px;
    height: 3px;
    background-color: #ee3036;
} 


.information-important, .information-numbers, .information-offers{
	max-width:440px !important;
	margin: 0 auto;
}
.information-numbers .slick-prev, .information-numbers > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
	width: 30px;
	height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 300;
    border-radius: 50%;
}

.information-numbers > .slick-next{
	margin-right: 14px;
}

.information-numbers > .slick-prev{
	left: 26px;
}

.information-numbers > .slick-next{
	right: 12px;
}

.information-numbers .slick-prev:before, .information-numbers .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ee3036;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.information-numbers .slick-prev::before {
    content: "\e902";
}

.information-numbers 	.slick-next:before {
	content: "\e901";
}

.information-offers .slick-prev, .information-offers > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
	width: 30px;
	height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 300;
    border-radius: 50%;
}

.information-offers > .slick-next{
	margin-right: 14px;
}

.information-offers > .slick-prev{
	left: 26px;
}

.information-offers > .slick-next{
	right: 12px;
}


.information-offers .slick-prev:before, .information-offers .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ee3036;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.information-offers .slick-prev::before {
    content: "\e902";
}

.information-offers	.slick-next:before {
	content: "\e901";
}


.information-numbers .slick-next:hover , .information-offers .slick-next:hover {
	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}

.information-numbers .slick-prev:hover , .information-offers .slick-prev:hover {
	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}

.information-numbers .slick-slide, .information-offers .slick-slide{
	
	position:relative;
}

.important img{
	height:420px;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
	 .information-numbers h5, .information-offers h5,.information-important .important h5{
	    padding-left: 60px;
	    font-size: 15px;
	 }
		
	.information-numbers h5::before, .information-offers h5::before, .information-important .important h5::before {
    	width: 40px;
    }
	.important img{
		height: auto;
		width:100%;
	}
	
	.information-important .important h5::before {
	    content: "";
	    position: absolute;
	    bottom: 18px;
	    left: 200px;
	    height: 3px;
	    background-color: #ee3036;
	    width: 40px;
	} 



}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .information-numbers h5, .information-offers h5, .information-important .important h5 {
    	font-size: 16px;
	}
	.important img{
		height: auto;
		width:100%;
	}
	

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


