﻿#contentScreen {
	width: 94%;
	max-width: 990px;
	margin: 0 auto;
	padding: 3%;
}
#contentCategorys {
	width: 100%;
	float: left;
	align-items: center;
	height: 100%;
}  
#ImagenScreen, #Categorys {
	width: 50%;
	float: left;
	display: table;
}
#ImagenScreen img {
	width: 95%;
	height: auto;
}
.MenuItemCategory, 
.MenuItemCategory:visited, 
.MenuItemCategory:link, 
.MenuItemCategory:focus  {
	background: url("https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/screenplays/bg-categories.png") no-repeat #FFF;
	background-position:  center left;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 22px;
	font-weight: normal;
	border-bottom: 1px dotted #cfcfcf;
	-webkit-transition: padding-left 0.5s, background 0.5s, color 0.5s; /* Safari */
  transition: padding-left 0.5s, background 0.5s, color 0.5s; 
	color:#000;
	text-decoration: none;
}
.MenuItemCategory:hover {
	color: #FFF;
	background: url("https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/screenplays/bg-categories.png") no-repeat #ee3036;
	background-position: center right;
	padding-left: 25px;
	text-decoration: none;
}
#accordion {
	width: 100%;
	float: left;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    #ImagenScreen, #Categorys {
		width: 100%;
	}

}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    #ImagenScreen, #Categorys {
		width: 100%;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
.dynatable-search {
    display: none;
}
.dynatable-per-page{
    display: none;
}
.module-keyquestions .panel-heading {
  border-radius: 0px;
  padding: 0;
}
.module-keyquestions .panel {
  box-shadow: none;
}
.module-keyquestions .panel-default {
  border: none;
}
.module-keyquestions .panel-default > .panel-heading {
  background: #f2f4f5;
  color: #434343;
  font-size: 14px;
  border: none;
}
.module-keyquestions .panel-default > .panel-heading:hover {
  background: #ee3036;
  color: #ffffff;
}
.module-keyquestions .panel-default > .panel-heading a {
  width: 100%;
  text-decoration: none;
  display: table;
  outline: none;
  padding: 0;
}
.module-keyquestions .panel-default > .panel-heading a {
  background: #ee3036;
  color: #ffffff;
}
.module-keyquestions .panel-default > .panel-heading a.collapsed {
  background: #f2f4f5;
  color: #434343;
}
.module-keyquestions .panel-default > .panel-heading a h3 {
  padding: 22px 0 0 0;
  font-size: 14px;
  float: left;
  margin: 0;
  font-weight: bold;
}
.module-keyquestions .panel-default > .panel-heading a.collapsed .keyquestions-ico {
  width: 60px;
  height: 60px;
  background: url("/sites/Intranet/SiteAssets/Development/images/components/screenplays/keyquestions-ico-close.png") center #e9ebec no-repeat;
  display: block;
  float: left;
  margin-right: 25px;
}
.module-keyquestions .panel-default > .panel-heading a .keyquestions-ico {
  width: 60px;
  height: 60px;
  background: url("/sites/Intranet/SiteAssets/Development/images/components/screenplays/keyquestions-ico-open.png") center #ee3036 no-repeat;
  display: block;
  float: left;
  margin-right: 25px;
}
.module-keyquestions .panel-body {
  padding-left: 65px;
}
.module-keyquestions .panel-body p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .module-keyquestions .panel-default > .panel-heading a h3 {
      padding: 15px 0 0 0;
      float: none;
    }
    .module-keyquestions .panel-default > .panel-heading a.collapsed .keyquestions-ico, .module-keyquestions .panel-default > .panel-heading a .keyquestions-ico {
      margin-right: 10px;
    }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
.panel.panel-default {
    margin-top: 5px;
}
.MenuItemCategory.active{
color: #FFF;
    background: url(https://avianca.sharepoint.com/sites/Intranet/SiteAssets/Development/images/components/screenplays/bg-categories.png) no-repeat #ee3036;
    background-position: center right;
    padding-left: 25px;
    text-decoration: none;
	
}

