﻿#Documentos {
    padding:15px;
    display:table;
    width:100%;
    border-bottom:5px solid #eaeaea;
    margin: 15px 0 35px 0;
}

.projectTabs-document {
    border-right:1px dotted #dbdbdb;
    padding: 20px;
    min-height:110px;
}

.projectTabs-document:last-child {
    border-right:none;
}

.projectTabs-document p > a {
    background:#ee3036;
    display:table;
    font-size:12px;
    color:#FFF;
    padding:0 3px;
}

.projectTabs-document img {
    margin:2px 5px 0 0;
    float:left;
}

.projectTabs-document a {
    color: #000;
    text-decoration: none;
    font-size:16px;
}

.TitleSection h2 { 
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0 0 20px;
    position: relative;
    text-align: left;
    color:#000;
}

.TitleSection h2::before { 
    content: ""; 
    position: absolute; 
    bottom: -5px; 
    left: 0px; 
    width: 60px; 
    height: 3px; 
    background-color: #ee3036; 
}
.ms-srch-item {
    border: 1px dotted #d1d1d1;
    border-bottom: 4px solid #d1d1d1;
    transition: border-bottom 0.5s, background 0.5s;
}
.ms-srch-item:hover {
    border-bottom: 4px solid #ee3036;
    background: #fafafa;
}
.TitleDocument .PathDocument{
    text-align: left;
    font-size: 28px;
    color: #333;
    margin: 15px auto;
}
.ms-srch-item a {
    display: block;
    color: #ee3036;
    margin: 15px auto;
}
.ms-srch-item a:hover, .ms-srch-item a:focus {
    text-decoration: none;
}
.ms-srch-item p {
    float: left;
    margin-right: 12px;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    color: #555;
    }
    div#Container > a.ms-ref-refinername > div.ms-displayInlineBlock {
    font-weight: bold;
    color:#000;
    position: relative;
    margin-bottom: 5px
}
div#Container > a.ms-ref-refinername > div.ms-displayInlineBlock::after { 
    content: ""; 
    position: absolute; 
    bottom: -8px; 
    left: 0px; 
    width: 45px; 
    height: 3px; 
    background-color: #ee3036; 
}
#TitleGeneral{

    float: left;
    margin-right: 12px;
    padding: 5px 10px;
	font-weight: bold;
    color: #555;
    }
.ViewAllResults a {
 	color: #fff;
    background: #ee3036;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: table;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    float: right;
    margin: 5px 12px 12px 0;    }
.ViewAllResults img {
    float: left;
    margin: 4px 8px 0  0;
}
.ViewAllResults  p {
    margin: 5px 0;
    float: left;
}
    
    