.module-coments {
			max-width: 650px;
			width: 96%;
			padding: 2%;
		}
		.coments-writetext textarea {
			width: 100%;
			border: 1px solid #cfcfcf;
			padding: 2%;
			font-size: 14px;
			display: block;
		}
		.coments-actioncoments {
			padding: 15px 0;
			display: table;
			width: 100%;
			border-bottom: 2px solid #cfcfcf; 
		}
		.coments-actioncoments-like {
			float: left;
			color: #8a8b8c;
			font-size: 16px;
		}
		.coments-actioncoments-like a {
			display: table;
			float: left;
			cursor:pointer;
		}
		.coments-actioncoments-like a img {
			width: 25px;
			height: 25px;
		}
		.coments-actioncoments-like span {
			margin: 5px 0 0 12px;
			display: table;
			float: left;
		}
		.coments-actioncoments-send {
			float: right;
		}
		.coments-actioncoments-send input[type="button"] {
			background: #ee3036;
			padding: 8px;
			font-size: 16px;
			border-radius: 6px;
			color: #FFF;
			border: none;
			min-width: 120px;
			cursor: pointer;
		}
		.coments-list {
			width: 100%;
			display: table;
			border-bottom: 2px solid #cfcfcf;
			padding: 15px 0;
		}
		.coments-item {
			width: 100%;
			float: left;
			display: table;
			border-bottom: 1px dotted #cfcfcf;
		}
		.coments-item:last-child {
			border-bottom: none;
		}
		.coments-item > div {
			width: 100%;
			padding: 8px 0 0 0;
			display: table;
		}
		.coments-item h3 {
			float: left;
			margin: 0px;
			display: table;
			font-size: 1.2em;
		}
		.coments-item h4 {
			color: #8a8b8c;
			margin: 0px;
			font-size: 12px;
		}
		.coments-item p {
			color: #666666;
			font-size: 14px;
			line-height: 20px;
			margin: 8px 0;
			font-weight: 300;
		}
		.coments-item .coments-delete {
			float: right;
			display: table;
		}
		.coments-item .coments-delete img {
			width: 25px;
			height: 25px;
			cursor:pointer;
		}