﻿.classifieds{
	background:url('../../../images/components/classifieds/bg-clasificados.png') no-repeat;
	background-position: left top;
	background-size: 25%;
	padding-bottom: 10%;
}

.desc-classified{
	text-align:center;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 0px;
	line-height: 1.6;
}
.classifieds-apps-item { 
	float: left; 
	width: 33.3%; 
	text-align: center;
	z-index: 5;
	position: relative;
}
.classifieds-apps-item a { 
	display: table;
	margin: 0 auto;
	text-decoration: none;
	cursor:pointer;
}
.classifieds-apps-item a:hover { 
	color: #ee3036;
	text-decoration: none;
}
.classifieds-apps-item h4 { 
	font-size: 22px; 
	background: #fff; 
	border: 1px solid #fff;
	padding: 20px; 
	border-radius: 40px; 
	height: 72px; 
	width: 72px; 
	margin: 28px auto;
	line-height: 30px;
}
.classifieds-apps-item h4.active, .classifieds-apps-item a:hover h4 { 
	border: 1px solid #cccccc;

}

.classifieds-apps-item div{
	display:none;
}
.classifieds-apps-line {
	width: 65%;
	position: absolute;
	bottom: 63px;
	height: 1px;
	left: 50%;
	background: #cccccc;
	margin-left: -32%;
}
.classifieds-apps-tooltip {
	background: #f0f0f0;
	width: 100%; 
	margin: 0 auto;
	padding: 2% 4%;
	max-width: 1360px;
	display: flex;
	align-content: center;
}
.classifieds-apps-tooltip h3 {
	color: #000;
	font-size: 20px;
	width: 25%;
	padding: 0 50px 25px 0;
	float: left;
	font-weight: bold;
	letter-spacing: 0.1em;
	position: relative;
}  
.classifieds-apps-tooltip h3::before {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 80px;
	height: 3px;
	background-color: #ee3036;
}
.classifieds-apps-tooltip p {
    font-size: 15px;
    border-left: 1px solid #c0c0c0;
    color: #000;
    padding-left: 5%;
    width: 60%;
}

.classifieds-apps-tooltip span {
    font-weight: bold;
    left: 2%;
    position: relative;
    cursor: pointer;
}
.classifieds-apps-tooltip span::after {
    content: '...';
}

.classifieds-apps-tooltip label{ 
     background-color: #ee3036;
 color: #FFFFFF;
 white-space: nowrap;
 position: relative;
 padding: 10px;
 vertical-align: bottom;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 cursor:pointer;
 height:45px;
}

#prev-classifieds{
	position:absolute !important;
	left:65px !important;
	border: 1px solid #1e2732 !important;
	border-radius: 50%;
	width: 54px;
	height: 55px;
	top: 30px;
	z-index: 1000;
	color:#000;
}

.classifieds > .slick-slider .slick-prev, .classifieds > .slick-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    display: block;
  	border: 1px solid #1e2732 !important;
	border-radius: 50%;
	width: 54px;
	height: 55px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 999;
}

.classifieds > .slick-slider > .slick-next{
	margin-right: -10px;
}

.classifieds > .slick-slider > .slick-next{
	right: 5%;
}

.classifieds > .slick-slider > .slick-prev{
	left: 5%;
}


.classifieds > .slick-slider .slick-prev:before, .classifieds > .slick-slider .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.classifieds > .slick-slider .slick-prev::before {
    content: "\e902";
}

.classifieds > .slick-slider .slick-next:before {
	content: "\e901";
}

.classifieds > .slick-slider .slick-next:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 30px 30px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 1s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.classifieds > .slick-slider .slick-next:hover:before{
	content:"";
}

.classifieds > .slick-slider .slick-prev:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 30px 30px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 1s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.classifieds > .slick-slider .slick-prev:hover:before{
	content:"";
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .classifieds-apps-tooltip {
        display: table;
    }
    .classifieds-apps-tooltip h3 {
        width: 100%;
        padding: 0 5% 6% 0;
        float: left;
    }
    .classifieds-apps-tooltip p {
        border-left: none;
        padding-left: 0%;
        width: 100%;
        float: left;
    }
    .desc-classified {
        font-size: 14px;
    }
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}