﻿.directory-header {
	background: url('/sites/Intranet/SiteAssets/Development/images/components/employeeDirectory/bg-directory.jpg') no-repeat center;
	width: 100%;
	padding: 50px 0;
	text-align: center;
}

.directory-formname {
	border: 1px solid #cfcfcf;
	padding: 8px;
	width: 45%;
	margin: 25px auto;
	display: block;
	text-align: center;
}

#module-directory {
	max-width: 990px;
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
	display: table;
}

.controls-directory {
	width: 100%;
	float: left;
	display: table;
	padding: 20px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
controls-directory-content {
	width: 75%;
	margin:auto;
}
.controls-region,
.controls-base,
.controls-paginator {
	float: left;
	margin-right: 20px;
}
.controls-region label, 
.controls-base label,
.controls-paginator label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
	display: block;
}
.controls-region select, 
.controls-base select,
.controls-paginator select
{
	padding: 5px;
	min-width: 200px;
}
#directory-list-contact {
    display: table;
    width: 100%;
    padding: 0px;
}
.controls-directory-content{
	width:75%;
	margin:auto;
}
.info-contact {
    width: 50%;
    padding: 25px 2%;
    border-bottom: 1px dotted #cfcfcf;
    display: inline-block;
    float: left;
    min-height: 220px; 
    max-height: 220px;    
}

li.item-contact {
    list-style-type: none;
}
#paginator {
	padding: 10px 0;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
	display: table;
	width: 100%
}
#paginator label {
	padding: 6px;
	cursor: pointer;
}
#paginator label:hover {
	color: #ee3036;
}
label.active-page {
    background: #ee3036;
 	padding: 6px;
 	color: #fff;
}
.ms-dialog #globalNavBox{
	height:0px !important;
}