﻿#dialogTitleSpan {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    }
    
.contact p{
	color: #575858;
    font-size: 18px;
    margin: 0 0 20px;
    text-align: justify;
}