﻿body {
    font-family: 'fselliot', sans-serif;
}
.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.productos-servicios .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
}
.productos-servicios .nav-tabs > li.active > a, 
.productos-servicios .nav-tabs > li.active > a:focus, 
.productos-servicios .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #ee3036;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.productos-servicios-contenido {
    padding: 35px 0;
}
.productos-servicios h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000;
    float: left;
    text-transform: capitalize;
}
.productos-servicios h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.productos-servicios-contenido-tittle img {
    float: left;
    margin-right: 15px;
    max-width: 150px;
    min-width: 150px;

}
.productos-servicios-contenido-tittle {
    display: table;
    width: 100%;
}
.productos-servicios-tab-content {
    margin-top: 25px;
}

.productos-servicios .accordion-titleSection {
    cursor: pointer;
    background: #f2f4f5;
    color: #434343;
    font-size: 14px;
    border: none;
    margin-top: 5px;
    display: table;
    width: 100%;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.productos-servicios .accordion-titleSection:not(.collapsed) {
    background: #ee3036;
    color: #ffffff;
   transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.productos-servicios .accordion-titleSection .accordion-iconTitle {
    width: 60px;
    height: 60px;
    background: url(../../../images/components/productsServices/accordion-ico-close.png) center #e9ebec no-repeat;
    display: block;
    float: left;
    margin-right: 25px;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.productos-servicios .accordion-titleSection:not(.collapsed) .accordion-iconTitle {
    background: url(../../../images/components/productsServices/accordion-ico-open.png) center #ee3036 no-repeat;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.productos-servicios .accordion-titleSection h3{
    font-size:2rem;
}
.productos-servicios .collapse{
    transition:2s;
    -moz-transition:2s;
    -webkit-transition:2s;
}
.productos-servicios .collapse.in{
    transition:2s;
    -moz-transition:2s;
    -webkit-transition:2s;
}


.prod-title h2, .contacto-title h2{
    text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	padding: 6px;
	margin-top: 16px;

}
.prod-title p, .contacto-title p, .contacto-title li {
	font-size: 14px;
	line-height: 38px;
	font-weight: 300;
	color: #575858;
	margin-left: 3em;
}

.prod-title span, .contacto-title span{
	font-weight:700;
}

.item-clase {
    border:1px dotted #c6c6c6;
	min-height:430px;
	margin-bottom:1em;
}
.item-clase p{
   text-align:justify;
}
.item-clase h3{
   text-align:center;
   color:#ee3036;
}
.nota-item {
	margin-left:3em;
}
.nota-item span{
	font-style: italic;
	color:#ee3036;
}
.nota-item h3{
	color:#ee3036;
}
.image-lifemiles{
	width:80%;
	margin:0 auto;
}
.link-especiales:hover{
	
	text-decoration:none;
}
.link-especiales:hover .accordion-titleSection {
	color:#ee3036;
}
.contacto-container{
	text-align: center;
}
.contacto-container p{
	font-size: 14px;
	font-weight: 300;
	color: #575858;
}
.text-contacto{
	width:60%;
	float:left;
}
.image-contacto{
	width:30%;
	float:right;
	margin-right: 1.5em;
}
.benf-life-silver{
	color: lightslategrey;
	
}
.benf-life-gold{
	color: goldenrod;
	
}
.benf-life-gold{
	color: goldenrod;
	
}
.benf-life-diamond{
	color: darkblue;
	
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.text-contacto{
		width:100%
	}
	.image-contacto{
		width:100%;
		float:right;
		margin-right: 1.5em;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
   
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .text-contacto{
		width:100%
	}
	.image-contacto{
		width:100%;
		float:right;
		margin-right: 0px;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}