﻿.container-fluid {
	background: url('../../images/master/bg-master.jpg') repeat-y;
	background-size: 100%;
}
.center-container {
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
}
.container-bannerimage {
	position: relative;
}
.container-bannerimage img {
	width: 100%;
	height: auto;
}
.container-bannerimage h2 {
	position: absolute;
	right: 0;
	bottom: 80px;
	background: rgba(238,48,54,0.8);
	padding: 15px;
	color: #FFF;
	display: table;
	font-size: 40px;
	width: 100%;
	max-width: 600px;
}
.text-managers {
	margin: 35px 0;
	display: table;
	width: 100%;
}
.text-managers h3 {
	color: #ee3036;
	font-size: 40px;
	text-align: center;
	display: block;
}
.text-managers p {
	color: #575858;
	font-size: 18px;
	line-height: 28px;
	display: block;
}
h2.titledark {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.linksdark  ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	display: block;
}
.linksdark ul li {
	text-align: center;
	display: inline-block;
	margin-right: 35px;
}
.linksdark ul li:last-child {
	margin-right: 0px;
}
.linksdark ul li a {
	background: #000;
	padding: 15px;
	color: #FFF;
	display: flex;
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
}
.linksdark ul li a img {
	max-height: 35px;
	margin-right: 12px; 
}
.linksdark ul li a:hover {
	text-decoration: none;
}
.directory-manager {
	margin: 35px 0;
	display: table;
	width: 100%;
}
.directory-manager h3 {
	display: table;
	width: 100%;
	padding: 15px;
	color: #FFF;
	background: #ee3036;
}
.directory-manager h3 img {
	float: left;
	margin-right: 12px;
}
.directory-manager h3 span {
	display: table;
	margin-top: 6px;
}


   /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  	.linksdark ul li {
		text-align: left;
		display: block;
		margin-right: 0px;
		margin-bottom: 8px;
	}
	.linksdark ul li a {
		width: 100%;
	}
	.container-bannerimage h2 {
		bottom: 20px;
		font-size: 32px;
		max-width: 400px;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.container-bannerimage h2 {
		position: initial;
		font-size: 24px;
		background: rgba(238,48,54,1);
		margin: 0;
		padding: 8px;
	}
	.linksdark ul li {
		text-align: left;
		display: block;
		margin-right: 0px;
		margin-bottom: 8px;
	}
	.linksdark ul li a {
		width: 100%;
	}  
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
#breadcrumb > ol.list-breadcrumb li:last-of-type, #breadcrumb-history > ol.list-breadcrumb li:last-of-type {
    color: #575858 !important;
}
.menu-container .menu > ul > li:hover > a {
    color: #575858 !important;
}
.menu{
    pointer-events: none;
}
div#logos-menu {
    pointer-events: none;
}