﻿.container-fluid {
	background: url('../../images/master/bg-master.jpg') repeat-y;
	background-size: 100%;
}
.center-container {
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
}
.container-bannerimage {
	position: relative;
}
.container-bannerimage img {
	width: 100%;
	height: auto;
}
.container-bannerimage h2 {
	position: absolute;
	right: 0;
	bottom: 80px;
	background: rgba(238,48,54,0.8);
	padding: 15px;
	color: #FFF;
	display: table;
	font-size: 40px;
	width: 100%;
	max-width: 600px;
}
.tabs-volunteers,
.training-teams,
.quiestions-volunteers {
	margin: 35px 0;
	display: table;
	width: 100%;
}
.tabs-volunteers h2,
.quiestions-volunteers h2 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.tabs-volunteers h3 {
	color: #ee3036;
	font-size: 30px;
	text-align: center;
	display: block;
}
.tabs-volunteers p {
	color: #575858;
	font-size: 14px;
	line-height: 24px;
	display: block;
}
.volunteers-training img,
.volunteers-teams img {
	width: 100%;
	height: auto;
}
.volunteers-training a h3,
.volunteers-teams a h3 {
	background: #ee3036;
	color: #FFF;
	display: block;
	padding: 15px;
	text-align: right;
	font-size: 25px;
	margin: 0;
	text-decoration: none;
}
.volunteers-training a:hover,
.volunteers-teams a:hover {
	text-decoration: none;
}
.quiestions-volunteers {
	margin: 35px 0;
	display: table;
	width: 100%;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  	.container-bannerimage h2 {
		bottom: 20px;
		font-size: 38px;
		max-width: 400px;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.container-bannerimage h2 {
		position: initial;
		font-size: 24px;
		background: rgba(238,48,54,1);
		margin: 0;
		padding: 8px;
	}
  	.volunteers-training {
		margin-bottom: 15px;
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}