﻿.container-fluid {
	background: url('../images/volunteers/bg-master.jpg') repeat-y;
	background-size: 100%;
}
.center-container {
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
}
.container-bannerimage {
	position: relative;
}
.container-bannerimage img {
	width: 100%;
	height: auto;
}
.container-bannerimage h2 {
	position: absolute;
	right: 0;
	bottom: 80px;
	background: rgba(0,0,0,0.8);
	padding: 15px;
	color: #FFF;
	display: table;
	font-size: 40px;
	width: 100%;
	max-width: 600px;
}
.featured-dark,
.tabs-dark,
.links-dark {
	margin: 35px 0;
	display: table;
	width: 100%;
}
.featured-dark h3 {
	font-weight: bold;
	font-size: 44px;
	padding: 35px;
	background: #000;
	display: block;
	color: #FFF;
}
.links-dark h3 {
	display: block;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 35px;
}
.links-dark a {
	display: block;
	width: 100%;
	color: #FFF;
	background: #4d4d4d;
	padding: 20px 0;
	text-align: center;
	font-size: 40px;
}
.links-dark a:hover {
	text-decoration: none;
}
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  	.featured-dark h3 {
		font-size: 32px;
		padding: 20px;
	}
  	.links-dark h3 {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	.links-dark a {
		font-size: 20px;
	}
	.container-bannerimage h2 {
		bottom: 20px;
		font-size: 38px;
		max-width: 400px;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.featured-dark h3 {
		font-size: 22px;
		padding: 20px;
	}
	.container-bannerimage h2 {
		position: initial;
		font-size: 24px;
		background: rgba(0,0,0,1);
		margin: 0;
		padding: 8px;
	}
	.links-dark h3 {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	.links-dark a {
		font-size: 22px;
		margin-bottom: 15px;
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
.linksdark ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	display: block;
}
.linksdark ul li {
	text-align: center;
	display: inline-block;
	margin-right: 35px;
	width: 100%;
}
.linksdark ul li:last-child {
	margin-right: 0px;
}
.linksdark ul li a {
	background: #000;
	padding: 15px;
	color: #FFF;
	display: flex;
	font-size: 22px;
	font-weight: bold;
	justify-content: center;
}
.linksdark ul li a img {
	max-height: 35px;
	margin-right: 12px; 
}
.linksdark ul li a:hover {
	text-decoration: none;
}
#DarkTitle{
	color: #000;
	}
#botones{
	max-width: 990px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    text-align: center;
}
