﻿.indicators {
	margin-top:3%;
}
.zona-indicadores { padding: 5px 34px; position: relative; box-shadow: 0px 1px 4px rgba(0,0,0,0.13); margin: 1em 0;}
.slide-indicadores { padding: 0 10px; }
.zona-indicadores::before, .zona-indicadores::after { position: absolute; top: 0; left: 34px; width: 1px; height: 100%; background-color: #e7e9e9; content: ""; }
.zona-indicadores::after { left: auto; right: 34px; }
.zona-indicadores .txt-indicador { display: inline-block; position: relative; padding-left: 45px; padding-right: 5px;  color: #ed7622; text-align: left; }
.zona-indicadores .txt-indicador.indicador-bajo { color: #ee3036; }
.zona-indicadores .txt-indicador i { font-size: 20px; position: absolute; top: 50%; left: 5px; }
.zona-indicadores .txt-indicador h1 {
	font-size: 14px;
	color: #000000;
	margin: 0 0 5px;
	font-weight: bold;
}
.zona-indicadores .txt-indicador h2 { font-size: 17px; margin: 0; font-weight: bold; }
.zona-indicadores .slide-siguiente, .zona-indicadores .slide-anterior { position: absolute; padding: 19px 10px; }
.zona-indicadores > .slide-indicadores > .swiper-wrapper > .slick-prev{
	margin-left: -42px;
}


.slide-indicadores > .swiper-wrapper .slick-prev, .slide-indicadores > .swiper-wrapper .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.zona-indicadores > .slide-indicadores > .swiper-wrapper > .slick-next{
	margin-right: -42px;
}

.zona-indicadores > .slide-indicadores > .swiper-wrapper .slick-next{
	right:0;
}

.slide-indicadores > .swiper-wrapper .slick-prev:before, .slide-indicadores > .swiper-wrapper .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.slide-indicadores > .swiper-wrapper .slick-prev::before {
    content: "\e902";
}

.slide-indicadores > .swiper-wrapper .slick-next:before {
	content: "\e901";
}

.slide-indicadores > .swiper-wrapper .slick-next:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.slide-indicadores > .swiper-wrapper .slick-next:hover:before{
	content:"";
}

.slide-indicadores > .swiper-wrapper .slick-prev:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../../images/components/classifieds/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.slide-indicadores > .swiper-wrapper .slick-prev:hover:before{
	content:"";
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
}
/* Small Devices Potrait */
@media (max-width : 767px){

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
}