﻿@import url('newTraining.css');

div[sp-static-name="NombrePersona1"],
div[sp-static-name="CodigoEmpleado"],
div[sp-static-name="Estacion"],
div[sp-static-name="CorreoElectronico"],
div[sp-static-name="Vicepresidencia"],
div[sp-static-name="UsuarioRed"],
div[sp-static-name="Entrenamiento"],
div[sp-static-name="Direccion"],
div[sp-static-name="Cargo"],
div[sp-static-name="PoseeLaptop"],
div[sp-static-name="MicroStrategy"],
div[sp-static-name="Justificacion"],
div[sp-static-name="GerenteAreaAutoriza"],
div[sp-static-name="DominioRed"],
div[sp-static-name="Gerencia"]
{

  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;

}
div[sp-static-name="FechaEntrenamiento"],
div[sp-static-name="LugarCapacitacion"],
div[sp-static-name="ResponsableCapacitacion"],
div[sp-static-name="URLDocumentacion0"]
{
	display:block;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help, .input-group-addon{
	display:none !important;
}
.form-group label i {
	display:none;
}

#ComentariosJefe {
	border-radius: 0px;
    border: 1px solid #cfcfcf !important;
    border-bottom: 3px solid #cfcfcf !important;
    transition: border-color 0.5s;
}

#ico-help-ComentariosJefe, #ico-help-sp-forms-attachment{
 display:inherit !important;
}
