﻿@import url('scoreTraining.css');

div[sp-static-name="NotaEntrenamiento"],
div[sp-static-name="FechaAprobacion"],
div[sp-static-name="FechaReasignacion"],
div[sp-static-name="UsuarioAprobador"]
div[sp-static-name="VoBoSteward"]
{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;

}
div[sp-static-name="NotaEntrenamiento"],
div[sp-static-name="FechaAprobacion"],
div[sp-static-name="FechaReasignacion"],
div[sp-static-name="UsuarioAprobador"]
div[sp-static-name="VoBoSteward"]
{
 display:block;

}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help, .input-group-addon{
	display:none !important;
}
.form-group label i {
	display:none;
}