﻿@import url('../../spForm.css');

div[sp-static-name="FechaReasignacion"],
div[sp-static-name="ComentarioTI"],
div[sp-static-name="VoBoSteward"],
div[sp-static-name="UsuarioAprobador"],
div[sp-static-name="EstadoEntrenamiento"],
div[sp-static-name="FechaAprobacion"],
div[sp-static-name="URLDocumentacion0"],
div[sp-static-name="FechaEntrenamiento"],
div[sp-static-name="LugarCapacitacion"],
div[sp-static-name="ResponsableCapacitacion"],
div[sp-static-name="NotaEntrenamiento"]
{
	display:none;
}

div[sp-static-name="NombrePersona1"]
{
	pointer-events:none;
	opacity:0.7;

}