﻿.module-newsInt {
	max-width: 990px;
	width: 96%;
	padding: 0 2%;
	margin: 0 auto;
	display: table;
}
.news-controls {
	width: 100%;
	float: left;
	display: table;
	padding: 20px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.news-controls-year,
.news-controls-month,
.news-controls-search,
.news-controls-paginator {
	float: left;
	margin-right: 20px;
}
.news-controls-year label, 
.news-controls-month label,
.news-controls-search label,
.news-controls-paginator label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
	display: block;
}
.news-controls-year select, 
.news-controls-month select,
.news-controls-paginator select,
.news-controls-paginator input {
	padding: 5px;
	min-width: 200px;
}
.news-controls input,
.news-controls input[type="text"] {
	padding: 5px !important;
}

.newsInt-list {
	width: 100%;
	float: left;
	display: table;
	padding-top: 20px;
}
.newsInt-item {
	width: 100%;
	float: left;
	display: flex;
	padding: 3%;
	border-bottom: 1px dotted #cfcfcf;
	align-items: center;
}
.newsInt-item img {
	width: 30%;
	float: left;
}
.newsInt-item .newsInt-item-info {
	width: 65%;
	margin-left: 5%;
	float: left;
}
.newsInt-item .newsInt-item-info h3 {
	font-size: 22px;
	margin-top: 0px;
    color:#ee3036;
}
.newsInt-item .newsInt-item-info p {
	font-size: 16px;
	color: #333;
}

.newsInt-item .newsInt-item-info a {
	padding: 8px;			
	border: none;
	min-width: 120px;
	cursor: pointer;
	display: table;
	text-decoration: none;
}
#newsInt {
	display: table;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}

#paginator {
	padding: 10px 0;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
	display: table;
	width: 100%
}
#paginator label {
	padding: 6px;
	cursor: pointer;
}
#paginator label:hover {
	color: #ee3036;
}
label.active-page {
    background: #ee3036;
 	padding: 6px;
 	color: #fff;
}

/* Small Devices, Tablets */

@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.newsInt-item {
		display: initial;
	}
	.newsInt-item img {
		width: 100%;
	}
    .newsInt-item .newsInt-item-info {
		width: 100%;
		margin-left: 0%;
	}
	.news-controls-month {
		margin-top: 15px;
	}
	.news-controls-year label, 
	.news-controls-month label,
	.news-controls-paginator label,
	.news-controls-search label{
		margin: 0px 0px 10px 0px;
		display: block;
	}
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}