﻿/******************** Breadcrumb **************************/
/* Breadcrum in news */
.module-breadcrumb {
	padding: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 9999;
}
#breadcrumb{
	padding: 12px;
	position: inherit;
	top: 12px;
	left: 0;
	z-index: 9999;

}
#breadcrumb-news > ol.list-breadcrumb {
  list-style-type: none;
}

#breadcrumb-news > ol.list-breadcrumb li {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
}
#breadcrumb-news > ol.list-breadcrumb li a {
  color: #FFF;
}
#breadcrumb-news > ol.list-breadcrumb li::before, #breadcrumb-news > ol.list-breadcrumb li::after {
  font-size: 1.5rem;
  color: #FFF;
  margin: 0 8px;
}


#breadcrumb-news > ol.list-breadcrumb li::after {
  content: ' > ';
}
#breadcrumb-news > ol.list-breadcrumb li:last-of-type {
  color: #ee3036;
}
#breadcrumb-news > ol.list-breadcrumb li:last-of-type::after {
  content: '';
}

/* Breadcrumb for another pages*/
#breadcrumb > ol.list-breadcrumb {
  list-style-type: none;
}

#breadcrumb > ol.list-breadcrumb li {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
}
#breadcrumb > ol.list-breadcrumb li a {
  color: #575858;
}
#breadcrumb > ol.list-breadcrumb li::before, #breadcrumb > ol.list-breadcrumb li::after {
  font-size: 1.5rem;
  color: #575858;
  margin: 0 8px;
}


#breadcrumb > ol.list-breadcrumb li::after {
  content: ' > ';
}
#breadcrumb > ol.list-breadcrumb li:last-of-type {
  color: #ee3036;
}
#breadcrumb > ol.list-breadcrumb li:last-of-type::after {
  content: '';
}


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
}
/* Small Devices Potrait */
@media (max-width : 767px){
  .module-breadcrumb {
    position: relative;
  }
  #breadcrumb-news > ol.list-breadcrumb {
    padding: 0;
  }
  #breadcrumb-news > ol.list-breadcrumb li {
    font-size: 1em;
  }
  #breadcrumb-news > ol.list-breadcrumb li a,
  #breadcrumb-news > ol.list-breadcrumb li::before, 
  #breadcrumb-news > ol.list-breadcrumb li::after {
    color: #333;
    font-size: 1em;
  }
  /* Breadcrum another pages*/
  #breadcrumb > ol.list-breadcrumb {
    padding: 0;
  }
  #breadcrumb > ol.list-breadcrumb li {
    font-size: 1em;
  }
  #breadcrumb > ol.list-breadcrumb li a,
  #breadcrumb > ol.list-breadcrumb li::before, 
  #breadcrumb > ol.list-breadcrumb li::after {
    color: #333;
    font-size: 1em;
  }

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  
 
} 
