﻿
#glossaryContainer {
	max-width: 990px;
    margin: 0 auto;
}
.searchGlossary, .dynatable-per-page { display: none; }
#Pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
}
.glossaryTerm{
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted #cfcfcf;
}
#Pagination .Item:last-child {
	margin-bottom: 20px;
}
.termTitle {
	font-size: 22px;
}
.termTitle::after {
	content: "";
	position: initial;
	margin: 5px 0 10px 0;
	width: 40px;
	height: 3px;
	background-color: #ee3036;
	display: block;
}
.termDefinition {
	font-size: 16px;
}
#letterFilter, 
#glossaryFooter {
	padding: 10px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 15px 0;
	text-align: left;
}
.letter,
#glossaryFooter label {
	padding: 6px;
	cursor: pointer;
}
.letter:hover,
#glossaryFooter label:hover {
	color: #ee3036;
}
.contentAreaCategory {
	width: 100%;
	float: left;
	margin: 4px 0 18px 0;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 16px;
}
.content-search,
#glossaryList,
#glossaryFooter,
#headerList {
	display: table;
	width: 100%;
}
#headerList {
	margin-bottom: 20px;
}
.searchPaginator {
	float: right;
}
.Search-Box, 
.business-list, 
.category-list {
	float: left;
}
.Search-Box label, 
.business-list label, 
.category-list label,
.searchPaginator label {
	margin-right: 10px;
	font-size: 18px;
	font-weight: normal;
}
.category-list {
	margin-left: 25px;
}
.Search-Box input, 
.business-list select, 
.category-list select,
.searchPaginator select {
	padding: 5px;
}
.Search-Box {
	width: 60%;
}
.Search-Box input {
	width: 60%;
}

.title-page-content {
	max-width:990px;
	margin: 0px auto
}
.title-page-content img{
	float:left;
}
.title-page-content h1 {
	font-size: 35px;
	letter-spacing: 1px;
	margin: 0px auto;
	color: #000;
	position: relative;
	text-align: left;	
	float: left;
	margin-left: 20px;
}
.title-page-content h1::after {
	content: "";
	position: initial;
	margin: 10px 0;
	width: 105px;
	height: 3px;
	background-color: #ee3036;
	display: block;
} 


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
    .category-list {
		margin-left: 0px;
	}
	
	.searchPaginator {
		float: left;
	}
	.Search-Box, 
	.business-list, 
	.category-list,
	.searchPaginator {
		width: 100% !important;
		margin-bottom: 15px; 
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    .CategoryGlossary {
		margin-left: 0;
		margin-top: 20px;
	}
	#glossaryContainer {
		width: 96%;
		padding: 2%;
	}
	.title-page-content h1 {
		font-size: 22px;
		margin-left: 10px;
	}
	.title-page-content img {
		width: 10%;
	}
	.Search-Box label, 
	.business-list label, 
	.category-list label, 
	.searchPaginator label {
		font-size: 16px;
		display: block;
		margin-bottom: 8px; 
	}
	
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
label.active-page {
     background: #ee3036;
	 padding: 6px;
	 color: #fff;
}
label.active-letter {
    background: #ee3036;
	 padding: 6px;
	 color: #fff;
}

}