﻿div[sp-static-name="AceptadoPqrs"],
div[sp-static-name="EsPreguntaPqrs"],
div[sp-static-name="EstadoPqrs"],
div[sp-static-name="IdAsuntoPqrs"],
div[sp-static-name="ka9a0dc9075e40b68498b7acd43885f1"],
div[sp-static-name="TipoPQRS"],
div[sp-static-name="AsuntoPqrs"],
div[sp-static-name="MensajePqrs"],
div[sp-static-name="Title"]{
	display:none;
}


/* Small Devices Potrait */
@media (max-width : 767px){
	.form-treeview label {
	    font-size: 14px;
	}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}