﻿@import url('pqrs.css');

div[sp-static-name="AsuntoPqrs"],
div[sp-static-name="TipoPQRS"]{
	display:block;	
}

#AsuntoPqrs, #CargoPersona, #ExtensionPersona, #CorreoPersona, #NombrePersona, #Vicepresidencia, #TipoPQRS, #MensajePqrs, #ComentariosRespuestaPqrs  {
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;
}

.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help{
	display:none !important;
}
.form-group label i {
	display:none;
}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}


/* Small Devices Potrait */
@media (max-width : 767px){
	.form-treeview label {
	    font-size: 14px;
	}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}