﻿/*---------------------------------------------------------------------------------
[Avianca Campañas Búsqueda Stylesheet]
Version: 1.0
Created: 13/06/2017
---------------------------------------------------------------------------------*/
.content-content,
.content-footer,
.content-header {
    width: 100%;
    max-width: 990px;
    margin: 0 auto
}
.content-detalle{
width: 99%;
}

.search-result-item {
	width: 94%;
	padding: 3%;
	display: block;
	float: left;
	border-bottom: 1px dotted #cfcfcf;
}
.search-result-item a h2{
	color: #000;
	margin: 0px;
	font-size: 18px;
	text-decoration: none;
}
.search-result-item p {
	color: #333;
	font-size: 14px;
}
.search-result-item a {
	color: #ee3036;
	margin: 0px;
	font-size: 14px;
	text-decoration: none;
}
.ms-srch-item,
#SearchBox,
#SearchBox > div,
#UpScopeLinkTop{
	width:100%!important;
}
.ms-srch-sbLarge > input{
	width:85%;
}
.ms-srch-sbLarge > a{
	left:2%;
}
.content{
	margin-left:5%;
}
.BusquedaHomeAvianca{
	display:none;
}