﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Stylesheet]
Version: 1.0
Created: 24/04/2017
---------------------------------------------------------------------------------*/
@import url('components/customers/module-customers.css');
@import url('components/links/module-links.css');
@import url('components/events/module-events.css');
@import url('fonts/style.css');
@import url('vps/components/slider/module-slider.css');
@import url('components/alerts/module-alerts.css');
@import url('components/regional/module-regional.css');
@import url('components/indicators/module-indicators.css');
@import url('components/news/module-news.css');
@import url('components/socialMedia/module-socialMedia.css');
@import url('components/classifieds/module-classifieds.css');
@import url('components/importantInformation/module-information.css');
@import url('components/apps/module-apps.css');
@import url('components/gallery/module-gallery.css');
@import url('components/campaing/module-campaing.css');
@import url('components/twitter/module-twitter.css');
@import url('components/PopupDiario/startPopup.css');

.container-fluid{
	background: url('../images/master/bg-master.jpg') repeat-y; 
	background-size: 100%;
}

.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
}
.ms-dlgTitleBtns{
	width: 100%;
	text-align: right;
	padding-right: 10px;
}
