﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Stylesheet]
Version: 1.0
Created: 24/04/2017
---------------------------------------------------------------------------------*/
@import url('components/accountBar/accountBar.css');
@import url('components/LikesComment/likesComment.css');
/* 0. Site Fonts */
@font-face {
    font-family: 'fselliot';
    src: url('fonts/fselliot/fselliotbold-webfont.eot');
    src: url('fonts/fselliot/fselliotbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fselliot/fselliotbold-webfont.woff2') format('woff2'),
         url('fonts/fselliot/fselliotbold-webfont.woff') format('woff'),
         url('fonts/fselliot/fselliotbold-webfont.ttf') format('truetype'),
         url('fonts/fselliot/fselliotbold-webfont.svg#fs_elliotbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'fselliot';
    src: url('fonts/fselliot/fselliotlight-webfont.eot');
    src: url('fonts/fselliot/fselliotlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fselliot/fselliotlight-webfont.woff2') format('woff2'),
         url('fonts/fselliot/fselliotlight-webfont.woff') format('woff'),
         url('fonts/fselliot/fselliotlight-webfont.ttf') format('truetype'),
         url('fonts/fselliot/fselliotlight-webfont.svg#fs_elliotlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'fselliot';
    src: url('fonts/fselliot/fselliotregular-webfont.eot');
    src: url('fonts/fselliot/fselliotregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fselliot/fselliotregular-webfont.woff2') format('woff2'),
         url('fonts/fselliot/fselliotregular-webfont.woff') format('woff'),
         url('fonts/fselliot/fselliotregular-webfont.ttf') format('truetype'),
         url('fonts/fselliot/fselliotregular-webfont.svg#fs_elliotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 1. Reset */

* { box-sizing: border-box; }

body { font-family: 'fselliot', sans-serif; color: #000000; }
a { color: #333; }
h1 { margin:30px auto; text-align:center;}

/* Caja de busqueda */
#CajaBusqueda, #imagenLupa {
    float: left;
}
#imagenLupa img{
	cursor:pointer;
	margin-left:10px;
	margin-top: 3px;
	width: 20px;
}
.BusquedaHomeAvianca{
    margin: 0 auto;
    float: right;
    padding: 2em 3.0em 0em 0em;
}

#SearchBox{
	border: 3px solid #e4e9eb !important;
    border-radius: 5px;

}

#s4-bodyContainer > header{
	width:100%;
	display:table;
}
/*2. Menú*/

.menu-container {
	font-size: 14px !important;
	width: 70%;
	margin: 0 auto;
	float: right;
}

.logos{
	width: 30%;
	margin: 0 auto;
	float: left;
	padding: 2.0em 1.5em 3.0em 1.0em;
}

.logos > a> img{
	width: 23%;
}

.menu-mobile {
  display: none;
  padding: 20px;
}

.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333;
}

.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}

.menu > ul:before, .menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after { clear: both; }

.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li a {
  text-decoration: none;
  padding: 3.0em 1.0em 3.0em 0.5em;
  display: block;
  color: #333 !important;
  font-weight:700;
}

.menu > ul > li:hover { 
	border-bottom: #ee3036 solid ;
}

.menu > ul > li:hover > a {
  color: #ee3036 !important; 
}

.menu > ul > li > ul {
	display: none;
    width: 120%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    left: -180px;
    margin: 4px;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before, .menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul:after { clear: both; }

.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 32%;
  background: none;
  float: left;
  min-height:44px;
}

.menu > ul > li > ul > li a {
  	color: #333;
	padding: .6em 0;
	width: 95%;
	display: block;
	font-size: 14px;
}

.ico::before{
display:inline-block;
margin-right:10px;
vertical-align:middle;
}

.menu > ul > li > ul > li.icon-graphics > a::before{
	content: url('../images/master/ico-menu22.png');
	display: inline-block;
	width: 10%;

}
.menu > ul > li > ul > li.icon-graphics > a{
		font-size: 18px;
}

.menu > ul > li > ul > li.icon-money > a{
		font-size: 18px;
}

.menu > ul > li > ul > li.icon-money > a::before{
	content: url('../images/master/ico-menu11.png');
	display: inline-block;
	width: 10%;
}
.option-parent,
.menu > ul > li > ul > li.icon-apps > a{
		font-size: 18px!important;
}

.menu > ul > li > ul > li.icon-apps > a::before{
	content: url('../images/master/ico-apps.png');
	display: inline-block;
	width: 10%;
}
.menu > ul > li > ul > li.icon-tutorials > a{
		font-size: 18px;
}

.menu > ul > li > ul > li.icon-tutorials > a::before{
	content: url('../images/master/ico-tutoriales.png');
	display: inline-block;
	width: 10%;
}


.menu > ul > li > ul > li .option-nochild{
	color: #000!important;
	transition: 0.5s;
	opacity:0.8;

}
.menu > ul > li > ul > li .option-nochild:hover {
  	color: #ee3036 !important;
    opacity: 1;
}

.menu > ul > li > ul > li a.title-suboption{
	color: #000!important;
	transition: 0.5s;
	opacity:0.8;
}
.menu > ul > li > ul > li a.title-suboption:hover {
  color: #ee3036 !important;
  width: 95%;
  display: block;
  opacity:1;
}


.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  margin-left: 10%;
}

.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after { clear: both; }

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  margin: 0;
  font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a { border: 0; }

.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li { width: 100%; }

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}


@media only screen and (max-width: 1200px) {

.logos{
	
	display:none;
}

.menu-container { width: 100%; }

.menu-mobile{
	display: block;
}
.menu-mobile:hover, .menu-mobile:active { color:#333; !important; }

.menu-dropdown-icon:before { display: block; }

.menu > ul { display: none; }

.menu > ul > li {
  width: 100%;
  float: none;
  display: block;
}

.menu > ul > li a {
  padding: 1.5em;
  width: 100%;
  display: block;
}

.menu > ul > li > ul {
    width: 100%;
	position: relative;
    background: #f0f0f0;
    left: 0;
}
.menu > ul > li > ul.normal-sub { width: 100%; }

.menu > ul > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.image-menu{
	display:none;
}

.menu > ul > li > ul > li:first-child { margin: 0; }

.menu > ul > li > ul > li > ul { position: relative; }

.menu > ul > li > ul > li > ul > li { float: none; }

.menu .show-on-mobile { display: block; }
}

/*2. Menú VPs */

.menu-container-vps {
	font-size: 14px !important;	
	margin: 0 auto;
	padding-right: 20px;
	float: right;
}

.logos-vps{
	width: 30%;
	margin: 0 auto;
	float: left;
	padding: 2.0em 1.5em 3.0em 1.0em;
}

.logos-vps > a> img{
	width: 23%;
}

.menu-mobile {
  display: none;
  padding: 20px;
}

.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333;
}

.menu-vps > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}

.menu-vps > ul:before, .menu-vps > ul:after {
  content: "";
  display: table;
}

.menu-vps > ul:after { clear: both; }

.menu-vps > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

/*.menu-vps > ul> li:last-child:hover{
	border-bottom:none;
}*/

.menu-vps > ul > li a {
  text-decoration: none;
  padding: 3.0em 1.0em 3.0em 0.5em;
  display: block;
  color: #333 !important;
  font-weight:bold;
}

.menu-vps > ul > li:hover { border-bottom: #ee3036 solid ;}

.menu-vps > ul > li:hover > a {  color: #ee3036 !important;  font-weight:bold;}

.menu-vps > ul > li > ul {
	display: none;
    width: 130%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    left: -180px;
    margin: 4px;
    list-style: none;
    box-sizing: border-box;
}

.menu-vps > ul > li > ul:before, .menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu-vps > ul > li > ul:after { clear: both; }

.menu-vps > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 32%;
  background: none;
  float: left;
}

.menu-vps > ul > li > ul > li a {
  color: #333;
  padding: .6em 0;
  width: 95%;
  display: block;
  font-size:14px;
}

.menu-vps > ul > li > ul > li a.title-suboption:hover {
  color: #ee3036 !important;
  padding: .2em 0;
  width: 95%;
  display: block;
  text-decoration:underline;
  font-weight: bold;
}


.menu-vps > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu-vps > ul > li > ul > li > ul:before, .menu-vps > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu-vps > ul > li > ul > li > ul:after { clear: both; }

.menu-vps > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  margin: 0;
  font-size: .8em;
}

.menu-vps > ul > li > ul > li > ul > li a { border: 0; }

.menu-vps > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu-vps > ul > li > ul.normal-sub > li { width: 100%; }

.menu-vps > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}


@media only screen and (max-width: 1200px) {

.BusquedaHomeAvianca{
	width: 70%;
}

#SearchBox{
	width: 380px;
}

.logos-vps{
	
	display:none;
}

.menu-container-vps { width: 100%; }

.menu-mobile{
	display: block;
}
.menu-mobile:hover, .menu-mobile:active { color:#333; !important; }

.menu-dropdown-icon:before { display: block; }

.menu-vps > ul { display: none; }

.menu-vps > ul > li {
  width: 100%;
  float: none;
  display: block;
}

.menu-vps > ul > li a {
  padding: 1.5em;
  width: 100%;
  display: block;
}

.menu-vps > ul > li > ul {
    width: 100%;
	position: relative;
    background: #f0f0f0;
    left: 0;
}
.menu-vps > ul > li > ul.normal-sub { width: 100%; }

.menu-vps > ul > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.image-menu{
	display:none;
}

.menu-vps > ul > li > ul > li:first-child { margin: 0; }

.menu-vps > ul > li > ul > li > ul { position: relative; }

.menu-vps > ul > li > ul > li > ul > li { float: none; }

.menu-vps .show-on-mobile { display: block; }
}

	
/* 3. Footer*/


footer{
	background: #4d4d4d;
	position: relative;
	padding: 2% 0;
	display: table;
	width: 100%;
}

.footer-custom{
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	border-top: 1px solid #c0c4c8;
	display: table;
	padding: 2% 0 0 0;
	position: relative;
}

.footer-custom .site-map ul{
	margin: 0;
	padding: 0;
}
.footer-custom .site-map ul li a:hover{
	text-decoration: underline;
}

.footer-custom .site-map ul li >a{
	font-size:14px;
	color: #FFF;
}

.footer-custom .site-map ul li{
	list-style-type: none;
	margin: 10px 5px 15px 5px;
}

.footer-custom> div.image-avianca{
	margin-top: 5%;
}

.container-submenu{
	width:700px;
}

.logos{
	float:left;
}

.social-media h3{
	font-size: 18px;
	font-weight: bold;
	display: table;
	color: #FFF;
	margin: 0px 0px 20px 0px;
}
.footer-custom .site-map  h3 {
	font-size: 18px;
	font-weight: bold;
	display: table;
	color: #FFF;
	margin: 0px 0px 65px 0px;
}
.footer-custom .site-map h3 {
	margin-bottom: 35px; 
}
.social-media h3::after, .footer-custom > div > h3::after {
	content: "";
	height: 1px;
	width: 100%;
	background: #767676;
	margin-top: 10px;
	display: table;
}
.social-media a {
	border-radius: 100%; 
	width: 35px; 
	height: 35px;
	border: 2px solid  #fff;
	display: table; 
	margin-right: 8px; 
	float: left;
}
.social-media a:hover {
	background: #ee3036;
	border: 2px solid  #ee3036;
}
.copyright {
	font-size: 14px;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 2% 0 0 0;
	border-top: 1px solid #c0c4c8;
	margin-top: 2%; 
	float: left;
}
#s4-bodyContainer{
	padding-bottom:0px !important;
}

.title-option{

	font-weight:bold;
	letter-spacing: 2px;
}
.circulo-avion { 
	border-radius: 100%; 
	width: 45px; 
	height: 45px; 
	background: url('../images/master/btn-avion.png') #ee3036 no-repeat center;
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
	z-index: 10;
}
.circulo-avion img { 
	position: absolute;
	top: 50%;
	left: 50%;
}



/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.circulo-avion { 
		display: none;
	}
	.social-media h3, .footer-custom .site-map  h3 {
		margin-bottom: 15px; 
	}
	
	#s4-workspace{
		width: 100% !important;
	}
	
	
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.circulo-avion { 
		display: none;
	}
	#s4-workspace{
		width: 100% !important;
	}
	
	.social-media h3, .footer-custom .site-map  h3 {
		margin: 15px 0px;
	}
	
	.social-media{
		margin-bottom:20px;
	}
	#SearchBox{
		width: 150px;
	}

}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}
.container-submenu{
	width:700px;
}

.logos{
	float:left;
}

.social-media {
    /*padding: 130px 0px 10px 0px !important;*/
}
#s4-bodyContainer{
	padding-bottom:0px !important;
}

.title-option{
	
	font-weight:bold;
	letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {

.image-avianca{
	display:none;
}

.footer-custom{
	
	height:auto;
}


}

.ms-dlgContent{
	-webkit-box-sizing: content-box !important;
	 -moz-box-sizing: content-box !important;   
    box-sizing: content-box !important;
}

#s4-workspace,
#ms-designer-ribbon{
	opacity:0;
	transition:2s;
	-webkit-transition:2s;
	-moz-transition:2s;
}

.twitter-timeline{
display:none;
}

.ms-dlgContent > .timeline-InformationCircle,.u-floatLeft{
	display:none;
}
.ms-dlgTitleBtns {
    width: 50%;
    text-align: right;
    padding-right: 15px;
    top: 10px;
	position: relative;
}
#dialogTitleSpan {
    height: 60px;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: center;
    color: #000 !important;
}


.ms-dlgTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 80px;
}
/******************** Breadcrumb **************************/
/* Breadcrum in news */
.container-breadcrumb {
  width: 100%;
  display: table;
}

.module-breadcrumb {
	padding: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 500;
}
#breadcrumb,
#breadcrumb-history {
	padding: 12px;
	position: inherit;
	top: 12px;
	left: 0;
	z-index: 500;

}

#breadcrumb-news > ol.list-breadcrumb {
  list-style-type: none;
}

#breadcrumb-news > ol.list-breadcrumb li {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
}
#breadcrumb-news > ol.list-breadcrumb li a {
  color: #FFF;
}
#breadcrumb-news > ol.list-breadcrumb li::before, #breadcrumb-news > ol.list-breadcrumb li::after {
  font-size: 1.5rem;
  color: #FFF;
  margin: 0 8px;
}


#breadcrumb-news > ol.list-breadcrumb li::after {
  content: ' > ';
}
#breadcrumb-news > ol.list-breadcrumb li:last-of-type {
  color: #ee3036;
}
#breadcrumb-news > ol.list-breadcrumb li:last-of-type::after {
  content: '';
}

/* Breadcrumb for another pages*/
#breadcrumb > ol.list-breadcrumb, 
#breadcrumb-history > ol.list-breadcrumb {
  list-style-type: none;
}

#breadcrumb > ol.list-breadcrumb li,
#breadcrumb-history > ol.list-breadcrumb li {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
}
#breadcrumb > ol.list-breadcrumb li a,
#breadcrumb-history > ol.list-breadcrumb li a {
  color: #575858;
}
#breadcrumb > ol.list-breadcrumb li::before, 
#breadcrumb > ol.list-breadcrumb li::after,
#breadcrumb-history > ol.list-breadcrumb li::before, 
#breadcrumb-history > ol.list-breadcrumb li::after {
  font-size: 1.5rem;
  color: #575858;
  margin: 0 8px;
}


#breadcrumb > ol.list-breadcrumb li::after,
#breadcrumb-history > ol.list-breadcrumb li::after {
  content: ' > ';
}
#breadcrumb > ol.list-breadcrumb li:last-of-type,
#breadcrumb-history > ol.list-breadcrumb li:last-of-type {
  color: #ee3036;
}
#breadcrumb > ol.list-breadcrumb li:last-of-type::after,
#breadcrumb-history > ol.list-breadcrumb li:last-of-type::after {
  content: '';
}

.view-all-news {
  text-align: right;
}
.view-all-news a {
  color: #fff;
  background: #ee3036;
  padding: 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: table;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 4px;
  float: right;
  margin: 5px 12px 0 0;
}
.view-all-news a:hover {
  text-decoration: none;
}
.view-all-news img {
  float: left;
  margin: 4px 8px 0 0;
}
.view-all-news p {
  margin: 5px 0;
  float: left;
}

/* Estilos para Dejanos Saber */
.module-dejanossaber {
	float: left;
	margin-top: 35px;
}
.module-dejanossaber ul {
	list-style: none;
	padding: 0;
	display: table;
}
.module-dejanossaber li {
	float: left;
	width: 100%;
}
.module-dejanossaber ul a {
	border: none;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	height: 100%;
}
.module-dejanossaber ul a img {
	width: 35px;
	height: 35px;
	margin: 0px 8px 0px 0px;
}
.module-dejanossaber ul a:hover,
.module-dejanossaber ul a:focus {
	background: transparent;
	border: none;
	text-decoration:none;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
}
/* Small Devices Potrait */
@media (max-width : 767px){
  .module-breadcrumb {
    position: relative;
  }
  #breadcrumb-news > ol.list-breadcrumb {
    padding: 0;
  }
  #breadcrumb-news > ol.list-breadcrumb li {
    font-size: 1em;
  }
  #breadcrumb-news > ol.list-breadcrumb li a,
  #breadcrumb-news > ol.list-breadcrumb li::before, 
  #breadcrumb-news > ol.list-breadcrumb li::after {
    color: #333;
    font-size: 1em;
  }
    
  /* Breadcrum another pages*/
  #breadcrumb > ol.list-breadcrumb,
  #breadcrumb-history  > ol.list-breadcrumb {
    padding: 0;
  }
  #breadcrumb > ol.list-breadcrumb li,
  #breadcrumb-history > ol.list-breadcrumb li {
    font-size: 1em;
  }
  #breadcrumb > ol.list-breadcrumb li a,
  #breadcrumb > ol.list-breadcrumb li::before, 
  #breadcrumb > ol.list-breadcrumb li::after,
  #breadcrumb-history > ol.list-breadcrumb li a,
  #breadcrumb-history > ol.list-breadcrumb li::before, 
  #breadcrumb-history > ol.list-breadcrumb li::after {
    color: #333;
    font-size: 1em;
  }
  .view-all-news a {
    float: none;
    margin: 0 auto;
  }
  
  .ms-dlgLoadingTextDiv.ms-alignCenter .ms-core-pageTitle.ms-accentText {
    font-size: 1.77em;
	}

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  
 
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
