﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master VPS Stylesheet]
Version: 1.0
Created: 15/05/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('vps/components/slider/module-slider.css');
@import url('vps/components/newsVP/module-newsVP.css');
@import url('vps/components/breadcrumb/module-breadcrumb.css');
@import url('vps/components/project/module-project.css');
@import url('vps/components/numbers/module-numbers.css');
@import url('vps/components/videoVP/module-videoVP.css');
@import url('vps/components/events/module-events.css');
@import url('vps/components/projects/module-projects.css');
@import url('vps/components/team/module-team.css');
@import url('aviancacargo/components/gallery/module-gallery.css');
@import url('vps/components/quickaccess/module-quickaccess.css');
@import url('components/indicators/module-indicators.css');
.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
}

