﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master PAE Stylesheet]
Version: 1.0
Created: 04/07/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('campaigns/components/slider/module-slider.css');
@import url('campaigns/components/newsVP/module-newsVP.css');
@import url('pae/components/projectTabs/module-projectTabs.css');
@import url('campaigns/components/events/module-events.css');
@import url('campaigns/components/keyQuestions/module-keyQuestions.css');
@import url('components/gallery/module-gallery.css');

.center-container {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
}