﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Noticias Stylesheet]
Version: 1.0
Created: 24/04/2017
---------------------------------------------------------------------------------*/

.detail-news {
    margin: 0 auto;
    width: 96%;
    max-width: 990px;
    padding: 1% 2%;
}
.detail-news-title h1 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
}
.detail-news-title h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.detail-news-date {
    color: #8a8b8c;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0 0 20px;
}
.detail-news-lead {
    color: #575858;
    font-size: 18px;
    margin: 0 0 20px;
}
.detail-news-img {
    text-align: center;
    margin-bottom: 20px;
}
.detail-news-img img {
    width: 100%;
    height: auto;
}
 
.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
}
.ms-dlgTitleBtns{
	width: 100%;
	text-align: right;
	padding-right: 10px;
}