﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Campañas Stylesheet]
Version: 1.0
Created: 24/05/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('beneficios/components/breadcrumb/module-breadcrumbOthers.css');
@import url('beneficios/components/otherBenfits/module-otherBenefits.css');




.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
	
}

.container-fluid{
	background: url('../images/beneficios/bg-details.jpg')repeat-y;
	background-size: 100%;
}
