﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Accesos Rápidos Stylesheet]
Version: 1.0
Created: 30/05/2017
---------------------------------------------------------------------------------*/

#accessApps {
    margin: 0 auto;
    width: 96%;
    max-width: 990px;
    padding: 1% 2%;
}
.apps-detail-area h1 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align:left;
    color:#000 !important;
}
.apps-detail-area h1::after {
    content: "";
    position: initial;
    margin: 15px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
    display: block;
}

.info-apps{
	 margin-bottom: 10%;
}
.info-apps a{
	color: #000!important;
    transition: 0.5s;
    opacity: 0.8;
}
.info-apps a:hover{
	text-decoration:none;
	opacity: 1;
	color: #ee3036 !important;
} 
.info-apps a:visited{
	color: #ee3036 !important;
	text-decoration:none;
}
.info-apps a:focus{
	color: #ee3036 !important;
	text-decoration:none;
}

.info-apps a img {
	display: block;
    margin: 0 auto;
    max-width: 150px;
}

.info-apps p{
	text-align:center;
}
.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
}
.ms-dlgTitleBtns{
	width: 100%;
	text-align: right;
	padding-right: 10px;
}