﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Campañas Stylesheet]
Version: 1.0
Created: 24/05/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('agreements/components/slider/module-slider.css');
@import url('agreements/components/breadcrumb/module-breadcrumbDetails.css');
@import url('agreements/components/agreementDetail/module-agreementDetail.css');
@import url('agreements/components/agreements/module-agreements.css');
@import url('agreements/components/agreementsSlider/module-agreementsSlider.css');
@import url('agreements/components/SliderConvenios/module-team.css');


.benefitdetail{
	margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
	
}

.agreements-container-section {
    position: relative;
}

.container-fluid{
	background: url('../images/beneficios/bg-details.jpg')repeat-y;
	background-size: 100%;
}
