﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Campañas Stylesheet]
Version: 1.0
Created: 24/05/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('campaigns/components/slider/module-slider.css');
@import url('campaigns/components/newsVP/module-newsVP.css');
@import url('campaigns/components/projectTabs/module-projectTabs.css');
@import url('campaigns/components/events/module-events.css');
@import url('campaigns/components/gallery/module-gallery.css');
@import url('campaigns/components/keyQuestions/module-keyQuestions.css');
@import url('campaigns/components/information/module-information.css');

.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
	
}

.projects-section, .events-gallery, .content-free, .gallery-cpms{
	margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.projects-section{
	background: url('../images/campaigns/campanas-bg.jpg');
	min-height: 400px;
	margin-bottom: 3em;
}
