﻿/*---------------------------------------------------------------------------------
[Avianca Intranet Master Campañas Stylesheet]
Version: 1.0
Created: 24/05/2017
---------------------------------------------------------------------------------*/
@import url('fonts/style.css');
@import url('beneficios/components/slider/module-slider.css');
@import url('beneficios/components/breadcrumb/module-breadcrumbDetails.css');
@import url('beneficios/components/benefitDetail/module-benefitDetail.css');
@import url('beneficios/components/agreements/module-agreements.css');
@import url('beneficios/components/requirements/module-requirements.css');
@import url('beneficios/components/apply/module-apply.css');
@import url('beneficios/components/keyQuestions/module-keyQuestions.css');


.info-requirements {
    margin: 0 auto;
    width: 100%;
    max-width: 1225px;
}
.info-benefit {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}
.center-container{
	width:100%;
	max-width:1360px;
	margin:0 auto;
	
}

.container-fluid{
	background: url('../images/beneficios/bg-details.jpg')repeat-y;
	background-size: 100%;
}
#accordion{
	width:100%;
}
.country-hidden{
	display:none
}
.country-visible{
	display:inline-block;
}
a{
	cursor:pointer;
}

