﻿.detail-news {
    margin: 0 auto;
    width: 96%;
    max-width: 990px;
    padding: 1% 2%;
}
.detail-news-title h1 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
}
.detail-news-title h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}