﻿@import url('fonts/style.css');
@import url('jquery-ui.css');
@import url('bootstrap-datetimepicker.min.css');

body {
    font-family: 'fselliot', sans-serif;
}

*{
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.forms-hide-element{
	opacity:0;
	visibility:hidden;
	line-height:0px;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.forms-template {
    max-width: 800px;
    margin: 0 auto;
}
.form-content {
    padding: 25px 0;
    display: table;
    width: 100%;
}

.form-header h2,
.title-section-form h3 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
}
.title-section-form h3 {
    font-size: 26px;
    margin-bottom: 35px;
}
.form-header h2::after,
.title-section-form h3::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}

.form-header p {
    color: #575858;
    font-size: 18px;
    line-height: 26px;
}

.form-body {
    padding: 50px 0;
}

.form-group label {
    text-align: right;
    font-size: 18px;
    color: #575858;
}
.form-group label i {
    font-size: 14px;
    color: #ee3036;
    font-style: normal;
}
.form-control-help {
    display: table;
    width: 100%;
}
.form-control-help .ico-help {
    width: 10%;
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    color: #bababa;
}
.form-control-help .ico-help:hover,
.ico-help-selected {
    color: #ee3036!important;
    text-decoration: none!important;
}
.form-control,
.sp-peoplepicker-topLevel {
    border-radius: 0px;
    border: 1px solid #cfcfcf !important;
    border-bottom: 3px solid #cfcfcf !important;
    transition: border-color 0.5s;
    width: 90%;
    float: left;
}
.sp-peoplepicker-topLevel {
    height: 46px;
    padding: 10px 5px;
    font-size: 18px;
    background-color: rgba( 255,255,255,0.85 );
    color: #444;
}
.sp-peoplepicker-initialHelpText {
    top: 8px;
    left: 8px;
    position: absolute;
}
.input-lg {
    padding: 6px 16px;
}
.multiselect-form .form-control {
    width: 100%;
}
.multiselect-form h4 {
    width: 100%;
    display: table;
    padding: 15px 0;
    margin: 0 0 35px 0;
    font-size: 18px;
    font-weight: bold;
    color: #575858;
    border-bottom: 1px solid #eaeaea;
}
.multiselect-form h4 i {
    font-size: 14px;
    color: #ee3036;
    font-style: normal;
}
.form-control:focus,
.form-control:active,
.form-control:hover,
.sp-peoplepicker-topLevel:hover,
.sp-peoplepicker-topLevelFocus {
    border-color: #b6b6b6 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #ee3036 !important;
}
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error a.ico-help {
    color: #ee3036;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label, .has-error h4 {
    color: #ee3036;
}
.has-error .form-control,
.has-error .form-control:focus,
.has-error textarea {
    border-color: #ee3036 !important;
}

.has-error .error-message{
	opacity:1!important;
	visibility:visible!important;
	line-height:11px!important;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.buttons-form {
    text-align: right;
    margin: 35px 0;
    padding: 15px 0;
    border-top: 1px dotted #cfcfcf; 
    border-bottom: 1px dotted #cfcfcf; 
}
.buttons-form .btn-form {
    background: #ee3036!important;
    padding: 8px!important;
    font-size: 16px!important;
    border-radius: 6px!important;
    color: #FFF!important;
    border: none!important;
    min-width: 120px!important;
    cursor: pointer!important;
    margin-left: 8px!important;
    margin-bottom: 8px!important;
    opacity: 1!important;
    transition: opacity 0.5s!important;
}
.buttons-form .btn-form:hover {
    color: #FFF!important;
    opacity: 0.8!important;
}

.multiselect-form .btn-form,
.multiselect-form .btn-form:active {
    background: transparent;
    margin: 0;
    box-shadow: none;
}
.multiselect-form .btn-form:hover {
    opacity: 1;
}
.multiselect-form .btn-form i {
    color: #555;
}
.multiselect-form .btn-form:hover i {
    color: #ee3036;
}

.input-group.date,
.list-checkbox-radio {
    width: 90%;
    float: left;
}

.form-date-hour .input-group.date {
    width: 60%;
}
.form-date-hour .input-group.hour {
    width: 30%;
    float: left;
}
.form-date-hour .input-group.hour input {
    width: 35%;
    text-align: center;
    margin-left: 10%; 
}
.form-date-hour .input-group.hour input:last-child {
    margin-left: 0%; 
    margin-right: 10%; 
}
.form-date-hour .input-group.hour span {
    float: left;
    width: 10%;
    font-size: 28px;
    text-align: center;
}

.multiselect-form .help-block {
    margin: 15px 0;
    float: left;
    width: 100%;
    display: table;
}

/* ------ TREE FORM ------ */

.form-treeview,
.form-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.form-treeview label[for]::before,
.form-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 7px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 11px;
}
 
.form-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.form-treeview *
{
    vertical-align: middle;
}
 
.form-treeview
{
    font: normal 12px/16px;
    width: 90%;
    float: left;
}
 
.form-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.form-treeview input[type="checkbox"]
{
    display: none;
}
 
.form-treeview label
{
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    display: initial;
}
 
.form-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.form-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.form-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.form-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none!important;
}
 
.form-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.form-treeview label span::before
{
    content: "";
    border: solid 1px #575858;
    color: #575858;
    opacity: .50;
}
 
.form-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}

[sp-hidden="true"]{
	opacity:0;
	line-height:0;
	height:0;
	display:inline-block;
	margin:0px;
	padding:0px;
	position:absolute;
	z-index:-1;
	transition:2s;
	-moz-transition:2s;
	-webkit-transition:2s;
}

[sp-hidden="false"]{
	z-index:0;
	transition:2s;
	-moz-transition:2s;
	-webkit-transition:2s;
}

input[type='number'] {
    -moz-appearance:textfield;
}


/* ------ END TREE FORM ------ */

/* ------ Loader -----*/
#ms-designer-ribbon,
#s4-workspace{
	opacity:0;
	transition:2s;
	-moz-transition:2s;
	-webkit-transition:2s;
}

.loader-container{
	opacity:0;
	height:0;
}

.loader-container,
.loader-container .loader,
.loader-container h3{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.loader {
	padding-top:10px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #ee3036;
	border-right: 10px solid #ee3036;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ------ End loader -----*/

/* ------ Attachments -----*/

#sp-forms-attachment{
  display: none; 
}

.header-table-docs div,
.table-docs-items div{
	padding:0;
}
a.disabled{
    pointer-events: none;
    color:#B3B7B8!important;
}
.title-table h2 {
    width: 100%;
	display: table;
	padding: 15px 0;
	margin: 0 0 35px 0;
	font-size: 18px;
	font-weight: bold;
	color: #575858;
	border-bottom: 1px solid #eaeaea;
}
.item-doc {
    padding: 8px 0; 
    border-bottom: 1px solid #eaeaea;
    line-height: 24px;
}
.name-doc a:hover {
    color: #000;
}
.delete-doc,
.weight-doc {
    text-align: center;
}
.delete-doc a,
.button-tittle a {
    text-decoration: none;
    font-size: 14px;
    color: #737373;
    opacity: 1;
    transition: opacity 0.5s;
}
.button-tittle a:hover,
.delete-doc a:hover {
    opacity: 0.8;
}
.button-tittle{
	text-align:right;
	/*position: absolute;
	padding-top: 40px;
	left: 90px*/;
}
.table-docs-items{
	min-height:40px;
}
#sp-forms-attachment-container{
	width:90%;
	min-width:90%;
	display:table;
	position:relative;
	float:left;
	top:10px;
}
#sp-forms-attachment-container .name-doc a[href="#"]{
	pointer-events:none;
}

/* ------ End Attachments -----*/

/* Small Devices Potrait */
@media (max-width : 767px){
    .button-tittle {
        text-align: left;
        margin: 15px 0;
    }
    .button-tittle a {
        margin: 15px 0;
    }
    .name-doc {
        margin: 10px 0;
    }
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
    
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}