﻿.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.capsules-image img {
	width: 100% ;
	height: auto;
}
.capsules-image-Plantillas img {
	width: 100% ;
	height: auto;
}

.capsules-text-tittle {
	margin: 35px 0;
}
.capsules-text-tittle h1,
.capsules-text-featured h2 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000 !important;
}
.capsules-text-featured h2 {
	font-size: 28px;
	color: #FFF !important;
}
.capsules-text-tittle h1::after,
.capsules-text-featured h2::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.capsules-text-featured {
	background: #1e2732;
	padding: 15px;
	margin: 35px 0;
}
.capsules-text-featured p {
	font-size: 22px;
	line-height: 28px;
	color: #FFF;
}
.imagenC{
    width: 25%;
    height: auto;
    float: left;
    display: flex;
    align-items: center;
    height: 100%;		
}
.Items{
	    FLOAT: left;
    width: 72%;
    margin-left: 3%;
	
}
.capsules-Compra h2 {
	font-size: 18px;
	color: #000 !important;
}
.capsules-Compra h2::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
/*Title Capsules*/
.titleCapsule ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	display: block;
}
.titleCapsule ul li {
	text-align: center;
	display: inline-block;
	margin-right: 35px;
	width: 24%;
}
.titleCapsule ul li:last-child {
	margin-right: 0px;
}
.titleCapsule ul li a {
	background: #ee3036;
	padding: 15px;
	color: #FFF;
	display: flex;
	font-size: 22px;
	font-weight: bold;
}
.titleCapsule ul li a img {
	max-height: 35px;
	margin-right: 12px; 
}
.titleCapsule ul li a:hover {
	text-decoration: none;
}

/*Grupos Primarios*/
li.DocumentGP {
    list-style: none;
    padding: 12px;
    border-bottom: 1px dotted #999;
    font-size: 18px;
}
li.DocumentGP img {
       margin-right: 10px;
}
li.DocumentGP a {
         display: flex;
    align-items: center;
    height: 100%;
}
  
ul.ContentDocument{
	    margin: 0;
    padding: 0;
}

/*style footer contente static */
body {
    font-family: 'fselliot', sans-serif;
}
.center-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.directorio {

}

.directorio .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    font-size: 16px;
}
.directorio .nav-tabs > li.active > a, 
.directorio .nav-tabs > li.active > a:focus, 
.directorio.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #ee3036;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.directorio-contenido {
    padding: 35px 0;
}
.directorio h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000;
    float: left;
}
.directorio h1::after {
    content: "";
    position: initial;
    margin: 10px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
      display: block;
}
.directorio-contenido-tittle img {
    float: left;
    margin-right: 15px;
}
.directorio-contenido-tittle {
    display: table;
    width: 100%;
}
.directorio-tab-content {
    margin-top: 25px;
    overflow: scroll;
}
 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    .titleCapsule ul li {
    	margin: 0 0 15px 0;
    	width: 100%;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
   .titleCapsule ul li {
    	margin: 0 0 15px 0;
    	width: 100%;
	}

}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
	.directorio .nav-tabs > li {
		font-size:14px;
		width:50%;
	}
	.directorio .nav-tabs > li > a {
		font-size:14px;
	}


}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}