﻿.form-group.row[sp-static-name=DeclaracionConocimiento],
.form-group.row[sp-static-name=EstadoSolicitudEPS],
.form-group.row[sp-static-name=ComentariosEPS],
.form-group.row[sp-static-name=bfdea3c69419401889188eaef5f9a62d],
.form-group.row[sp-static-name=Title]{
	display:none;
}

.form-group.row[sp-static-name=NumeroRadicado],
.form-group.row[sp-static-name=NombrePersona1],
.form-group.row[sp-static-name=DocumentoIdentidad],
.form-group.row[sp-static-name=NumeroCelular],
.form-group.row[sp-static-name=CorreoElectronico],
.form-group.row[sp-static-name=BasePersona],
.form-group.row[sp-static-name=EPS_AFP_Anterior],
.form-group.row[sp-static-name=EPS_AFP_Nueva],
.form-group.row[sp-static-name=DeclaracionConocimiento]{
	pointer-events: none;
	color: #B1B1B1;
	border-color: #E1E1E1;
}
.form-treeview label span::before{	
	color: #B1B1B1;
  border-color: #E1E1E1;

}

.form-treeview label input:checked + span::before{
	box-shadow:0 0 2px rgba(0, 0, 0, 1) inset;
}
.form-control, .sp-peoplepicker-topLevel{
	border:0px !important;
	border-bottom:0px !important;
}
.form-control-help .ico-help{
	display:none !important;
}
.form-group label i {
	display:none;
}
