﻿.form-group.row[sp-static-name=Title],
.form-group.row[sp-static-name=bfdea3c69419401889188eaef5f9a62d],
.form-group.row[sp-static-name=EstadoSolicitudEPS],
.form-group.row[sp-static-name=ComentariosEPS]{
	display:none;
}

div[sp-static-name="NumeroRadicado"]
{
display:block;
}
div[sp-static-name="NumeroRadicado"]
{
  pointer-events:none;
  color: #B1B1B1;
  border-color: #E1E1E1;

}

#NumeroRadicado{
	border:0px !important;
	border-bottom:0px !important;
}

#ico-help-NumeroRadicado{
	display:none;
}