﻿.regional-item1 img, .regional-item2 img, .regional-item3 img { width: 100%; height: auto; position: relative;}
    	.regional-item-content {
    		position: absolute;
    		top: 42%;
    		width: 93%;
    		padding: 0 15%;
    	}
    	.regional-item1 h3, .regional-item2 h3, .regional-item3 h3 {
    		    text-align: center;
			    overflow: hidden;
			    font-size: 2em;
			    color: #FFF;
			    width: 100%;
			    /*padding-top: 10%;
			    padding-bottom: 10%;   */
			    line-height:150px;
		}
		.regional-item1 h3 span, .regional-item2 h3 span, .regional-item3 h3 span{
			line-height:40px;
			display:inline-block;
			vertical-align:middle;
		}
    	.regional-item1.text-black h3, .regional-item2.text-black h3, .regional-item3.text-black h3 {
    		color: #000;
    		background:transparent;
		}
    	.regional .btn-regional {
  			background: #ee3036;
  			-webkit-border-radius: 8px;
  			-moz-border-radius: 8px;
  			border-radius: 8px;
  			color: #ffffff;
  			padding: 20px 0px;
  			text-decoration: none;
  			width: 65%;
  			display: table;
  			margin: 2em auto 0 auto;
  			text-align: center;
  			font-size: 12px;
  			font-weight: bold;
		} 
		div[class*="regional-item"] img{
			height:581px;
		}
					
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
	.regional-item-content {
	  	top: 50%;
	    width: 90%;
	    margin-left: 3%;
	}
	   .regional-item1 h3, .regional-item2 h3, .regional-item3 h3 {
	    height: 95px;
	    text-align: center;
	    overflow: hidden;
	    font-size: 1.3em;
	    color: #FFF;
	    width: 100%;
	}
    .regional .btn-regional {
  		font-size: 12px;
  		letter-spacing: normal;
  		padding: 10px 0px;
  		margin: 1em auto 0 auto;
	}
	
	.regional-item1 img, .regional-item2 img, .regional-item3 img {
	    width: auto;
	    height: auto;
	    position: relative;
	    margin: 0 auto;
	}
	
	 div[class*="regional-item"] img{
			height:auto;
	}
	
	

}

/* Small Devices Potrait */
@media (max-width : 767px){
	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.regional-item-content {
    		top: 30%;
    	}
    	
    .regional-item1 h3, .regional-item2 h3, .regional-item3 h3 {
       font-size: 1.5em;
    }
    div[class*="regional-item"] img{
			height:100%;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}