﻿.agreements-content-slider {
    display: block;
    text-align: center;
    width: 100%;
}

.container-img-agreement{
	border-radius: 100%;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	position: relative;	
	-webkit-transition: background 0.5s, color 0.5s; /* Safari */
    transition: background 0.5s, color 0.5s;
}
.list-agreements-slider .slick-list{
	width: 90%;
	margin: 0 auto;
}

.item-agreement-slider a {
    text-decoration: none !important;
    color: #000 !important;
    text-align: center;
    align-items: center;
    height: 100%;
}

.item-agreement-slider a:hover, .item-agreement-slider a:active, .item-agreement-slider a:visited {
  text-decoration: none !important;
}

.list-agreements-slider .item-agreement-slider:hover a .container-img-agreement {
	background-color: #ee3036;
}

.list-agreements-slider .item-agreement-slider:hover a div .img-icon-agreement{
	-webkit-filter: brightness(800%);
	filter:brightness(800%);
}

.list-agreements-slider .item-agreement-slider h3 {
    font-size: 18px;
    margin: 20px 0;
    width: 100%;
    display: table;
    font-weight:bold;
    height:40px;
}

.slick-slide .item-agreement-slider a .img-icon-agreement{
    margin: 0 auto;
    min-height: 60px;
	max-height: 60px;
	display: block;
	padding-top: 12px;
	padding-bottom: 2px;
}

.slick-slide .item-agreement-slider a .img-seemore{
	 margin: 0 auto;
}

.list-agreements-slider .item-agreement-slider {
    padding: 5px 0px 5px 0px;
    float: left;
    display: table;
    color: #000;
    margin-bottom: 5px;
    margin-right:5px;
    cursor:pointer;
}

.list-agreements-slider > .slick-prev, .list-agreements-slider > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
  	border: 2px solid #e1e1e1 !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

.list-agreements-slider > .slick-next{
	margin-right: 0;
}

.list-agreements-slider > .slick-next{
	right: 0%;
	background-color: #fff;
}

.list-agreements-slider > .slick-prev{
	left: 0%;
	background-color: #fff;
}


.list-agreements-slider .slick-prev:before, .list-agreements-slider .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 10px;
    line-height: 1;
    opacity: .75;
    color: #000;
    text-align:center;
    -moz-osx-font-smoothing: grayscale;
}
    
.list-agreements-slider .slick-prev::before {
    content: "\e902";
}

.list-agreements-slider .slick-next:before {
	content: "\e901";
}

.list-agreements-slider .slick-next:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../images/vps/projects/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}

.list-agreements-slider .slick-next:hover:before{
	content:"";
}

.list-agreements-slider .slick-prev:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../../images/vps/projects/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 1s; /* Safari */
     transition: width 0.5s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


.list-agreements-slider .slick-prev:hover:before{
	content:"";
}

.slick-dots {
 position: absolute;  
 list-style: none;
 display:block; 
 text-align: center;
 padding: 0; 
 width: 100%;
}

.slick-dots li { 
	position: relative; 
	display: inline-block; 
	height: 20px; 
	width: 20px; 
	padding: 0; 
	cursor: pointer;
}

.slick-dots li button { 
	border: 0; 
	background: transparent; 
	display: block; 
	height: 20px; width: 20px; 
	outline: none; 
	line-height: 0;
	font-size: 0; 
	color: transparent; 
	padding: 5px;
	cursor: pointer;
 }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; 
}

.slick-dots li button:hover:before, 
.slick-dots li button:focus:before {
 opacity: 1;
}

.slick-dots li button:before { 
	position: absolute; 
	top: 0; 
	left: 0; 
	content: "\f111";
	width: 20px; 
	height: 20px; 
	font-family: "FontAwesome"; 
	font-size: 10px;
	line-height: 20px;
	text-align: center; 
	color: #d6d6d6;

}

.slick-dots li.slick-active button:before {
 color: #ee3036; 
}

