﻿.collection{
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
.collection > div{
	padding-top:20px;
}
.collection div.cont-img {
	height:250px;
	position:relative;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.collection img{
	cursor:pointer;
}
.collection > a > img{
	max-width:21px;
	text-align:left;
	display:block;
	max-height:25px!important;
	height:25px!important;
}

.collection article h1{
	font-size: 35px;
    letter-spacing: 1px;
    margin: 0px;
    position: relative;
    text-align: left;
    color: #000 !important;
}

.collection article h1::after{
	content: "";
    position: initial;
    margin: 15px 0;
    width: 65px;
    height: 3px;
    background-color: #ee3036;
    display: block;
}

/* Small Devices Potrait */
@media (max-width : 767px){
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	.regional-item-content {
    		top: 30%;
    	}
    	
    .regional-item1 h3, .regional-item2 h3, .regional-item3 h3 {
       font-size: 1.5em;
    }
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}
