﻿.gallery {
  margin: 40px 0;
}
.gallery-image{
	display:table;
	margin:0 auto;
	overflow:hidden;
}
.gallery-image div:not(.gallery-ico):not(.container-window){
    /*background: url('../../../images/components/gallery/pasajero-1.jpg') no-repeat;*/
    width: 220px;
    height: 280px;
    top: -330px;
    position: relative;
    left: -4%;
    z-index: -1;
    border-radius: 30%;
    transition:1s;
    opacity: 1;
    margin: 0 auto;
    overflow:hidden;
}

.container-window {
    z-index: 1000;
    background: url('../../../images/components/gallery/ventana.png') no-repeat;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    position: relative;
    cursor: pointer;
}
.gallery-image .container-window:hover + .container-bg-gallery{
	background-color: rgba(255, 0, 0, 0.6);
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;

}

.gallery-image .container-window:hover + .container-bg-gallery a{
    opacity: 1;
}
.gallery-image .img-window{
    cursor: pointer;
    margin: 0 auto;
    mix-blend-mode: darken;
    z-index: 100;
}
.gallery-image .img-window > div{
	z-index: 1;
}
.img-bg-gallery {
	cursor: pointer;
	margin: 0 auto;
	mix-blend-mode: darken;
	border-radius: 30%;
	z-index: -1;
}
.gallery-ico{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: -170px;
    position: relative;
    cursor:pointer;
}
.gallery-ico a{
    width: 40%;
    text-decoration: none;
    text-align: center;
    display:block;
    color:#FFFFFF;
     opacity: 0;
     margin-left:auto;
     margin-right:auto;
     transition:1s;
     -webkit-transition:1s;
     -moz-transition:1s;
}
.gallery-ico img{
    max-width: 100%;
	/*margin-left: 20%;
	margin-top: 10px;
	position: relative;
	top: 10px;*/
}
#gallery-images .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    max-height: 430px;
}

#gallery-images > .slick-prev, #gallery-images > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    display: block;
  	border: 1px solid #1e2732 !important;
	border-radius: 50%;
	width: 54px;
	height: 55px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
}

#gallery-images > .slick-next{
	margin-right: 0;
}

#gallery-images > .slick-next{
	right: 0;
}

#gallery-images > .slick-prev{
	left: 0;
}


#gallery-images .slick-prev:before, #gallery-images .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -moz-osx-font-smoothing: grayscale;
}
    
#gallery-images .slick-prev::before {
    content: "\e902";
}

#gallery-images .slick-next:before {
	content: "\e901";
}

#gallery-images .slick-next:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 30px 30px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 1s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


#gallery-images .slick-next:hover:before{
	content:"";
}

#gallery-images .slick-prev:hover{ 
 	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 30px 30px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 1s;
     background-position: center;
     cursor:pointer;
     border-radius: 50%;
}


#gallery-images .slick-prev:hover:before{
	content:"";
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .container-window {
       width: 300px;
   }
  
}

/* Small Devices Potrait */
@media (max-width : 767px){
   	.container-window{
    	width: 300px;
	}
 
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  #gallery-images > .slick-prev, #gallery-images > .slick-next {
    width: 30px;
    height: 30px;
  }
  #gallery-images .slick-prev::before, #gallery-images .slick-next::before {
    font-size: 14px;
  }
  #gallery-images .slick-next:hover, #gallery-images .slick-prev:hover{ 
    background-size: 15px 15px;
  }
	
	.container-window{
    	width: 300px;
	}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  .container-window{
    	width: 300px;
	}
	.gallery-image div:not(.gallery-ico):not(.container-window){
	    left: 3%;
	}
	#gallery-images > .slick-next {
	    right: -12px;
	}



}