﻿.module-projectTabs {
  width: 100%;
  margin: 30px auto;
  position: relative;
  display: table;
  max-width: 1360px;
}
.module-projectTabs .nav-tabs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.module-projectTabs .projectTabs-image, 
.module-projectTabs .projectTabs-text {
  float: right;
  width: 50%;
  position: relative;
}
.module-projectTabs .projectTabs-image img {
  width: 100%;
  height: auto;
}
.module-projectTabs .projectTabs-text {
  padding: 115px 80px 0 80px;
  background: url('../../../../images/campaigns/projectTabs/bg-texttabs.png') no-repeat left 115px;
}
.module-projectTabs .circulo { 
  border-radius: 100%; 
}
.module-projectTabs .bg-play {
  width: 62px;
  height: 62px;
  background-color: #ee3036;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -31px;
}
.module-projectTabs .bg-play i { 
  position: absolute; 
  top: 32%; 
  left: 36%; 
  font-size: 24px; 
  color: #ffffff;
}
.btn-fullscreen {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.projectTabs-text h2 { 
  color: #8a8b8c; 
  font-size: 12px; 
  letter-spacing: 3px; 
  margin: 0 0 20px;
}
.projectTabs-text h1 { 
  font-size: 35px; 
  letter-spacing: 1px; 
  margin: 0 0 20px; 
  position: relative; 
  text-align: left;
}
.projectTabs-text p { 
  color: #575858; 
  font-size: 18px; 
  margin: 0 0 20px; 
}

.module-projectTabs .nav-tabs > li {
  margin-right: 8px;
  position: relative;
}
.module-projectTabs .nav-tabs > li > a {
  background: #e0e0e0;
  color: #000000;
  border-radius: 0px 10px 0 0;
}
.module-projectTabs .nav-tabs > li.active > a, 
.module-projectTabs .nav-tabs > li.active > a:focus, 
.module-projectTabs .nav-tabs > li.active > a:hover,
.module-projectTabs .nav-tabs > li > a:hover {
  background: #ee3036;
  color: #ffffff;
  border: 1px solid #ee3036;
}
.module-projectTabs .nav-tabs > li.active > a::after, 
.module-projectTabs .nav-tabs > li.active > a:focus::after, 
.module-projectTabs .nav-tabs > li.active > a:hover::after,
.module-projectTabs .nav-tabs > li > a:hover::after {
  content: url("../../../../images/campaigns/projectTabs/bg-avion-tab.png");
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -21px;
}

 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .module-projectTabs .nav-tabs {
    position: relative; 
    margin-bottom: 55px;
    width: 100%; 
  }
  .module-projectTabs .projectTabs-text {
    padding: 20px 20px 20px 80px;
    background-position: left 25px;
  }
}

/* Small Devices Potrait */
@media (max-width : 767px){
  .module-projectTabs .nav-tabs {
    position: relative;  
  }
  .module-projectTabs .projectTabs-image, .module-projectTabs .projectTabs-text {
    width: 100%;
  }
  .module-projectTabs .projectTabs-text {
    padding: 15px 10px 0 80px;
    background-position: left 15px;
  }
  .module-projectTabs .bg-play {
    margin-top: -31px;
  }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .module-projectTabs .nav-tabs > li {
    margin-right: 0px;
    width: 100%;
    border-bottom: 2px solid #d2d2d2;
  }
  .module-projectTabs .nav-tabs > li > a {
    border-radius: 0px;
    width: 100%;
  }
  .module-projectTabs .nav-tabs > li.active > a::after, 
  .module-projectTabs .nav-tabs > li.active > a:focus::after, 
  .module-projectTabs .nav-tabs > li.active > a:hover::after,
  .module-projectTabs .nav-tabs > li > a:hover::after {
    display: none;
  }
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}
