﻿.customers{
	width:100%;
	float:left;
	margin: 3em 0;
}
.customers > .row {
    max-width: 1318px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.customer-text {  display: flex;
  align-items: center;
  height: 100%;}
.video-clientes { position: relative; }
.circulo { border-radius: 100%; }
.bg-play i { position: absolute; top: 32%; left: 36%; font-size: 24px; color: #ffffff; }
.customers-text-int { padding-left: 68px; position: relative; max-width: 90%;}
.customers-text-int h2 { color: #8a8b8c; font-size: 12px; letter-spacing: 3px; margin: 0 0 20px; }
.customers-text-int h1 { font-size: 35px; letter-spacing: 1px; margin: 0 0 20px; position: relative; text-align: left; }
.customers-text-int h1::before { content: ""; position: absolute; bottom: 6px; left: -68px; width: 53px; height: 3px; background-color: #ee3036; }
.customers-text-int p { color: #575858; font-size: 18px; margin: 0 0 20px; text-align:justify; }
.customers-text-int a { display: inline-block; position: relative; letter-spacing: 5px; font-size: 11px; margin: 0; padding-right: 25px; color: #000000; font-weight: bold;}
.customers-text-int a i {
    color: #ee3035;
}
.video-clientes {
    position: relative;
    text-align: center;
}

.video-clientes > img { 
	display: initial;
	height:400px;
}

.bg-play {
    width: 62px;
    height: 62px;
    background-color: #ee3036;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -31px;
}
.information-numbers h5::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: -68px;
    width: 53px;
    height: 3px;
    background-color: #ee3036;
}


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
	.customers-text-int {
	    max-width: none;
	}
	.video-clientes > img { 
		display: initial;
		height:auto;
		width:100%;
	}

}
/* Small Devices Potrait */
@media (max-width : 767px){
    .customers > .row {max-width: none; margin: 0 auto; display: table;}
    .customers-text {  display: table; align-items: center; height: 100%;}
    .customers-text-int { padding-left: 0px; position: relative; max-width: none; margin-top: 15px;}
    .video-clientes > img { 
		display: initial;
		height:auto;
		width:100%;
	}

}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {

	.video-clientes > img { 
		display: initial;
		height:auto;
		width:100%;
	}

    
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
}