﻿.information{
	margin: 60px 0px;
}

.information-important h5 {
    padding-left:92px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.information-important h5::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 14px;
    width: 68px;
    height: 3px;
    background-color: #ee3036;
} 
#information-important img {
    width: 100% !important;
}


 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
 .information-important h5 {
	    padding-left: 60px;
	    font-size: 15px;
	}
	
	.information-important h5::before {
    	width: 40px;
    }


}
/* Small Devices Potrait */
@media (max-width : 767px){
  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .information-important h5 {
    font-size: 16px;
	}
}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


