﻿.module-quickaccess {
/* background: url('../../../../images/vps/quickaccess/bg-module-quick.jpg') no-repeat top center #cb272b;*/#FFF
  width: 100%;
  min-height: 340px;
}

.quickaccess-content {
  margin: 0 auto;
  
}

.list-quickaccess .slick-list {
    width: 90%;
    margin: 0 auto;
}

.list-quickaccess .list-quickaccess-item {
	border-radius: 100%;
 	float: left;
	width: 10%;
	z-index: 5;
	position: relative;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s; /* Safari */
	transition: opacity 0.5s;
	
}

.list-quickaccess {
      list-style: none;
      margin: 0;
      padding: 0;     
}

.list-quickaccess .list-quickaccess-item:hover {
      opacity: 1;
      cursor: pointer;
}

.list-quickaccess .slick-slide img {
    display: block;
    /* text-align: center; */
    margin: 0 auto;
    max-width: 200px;
}

.list-quickaccess .list-quickaccess-item a {
    border-radius: 100%;
    width: 115px;
    height: 115px;
    border: 2px solid transparent;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
    margin: 0 auto;
    position: relative;
    display: table;
    padding-top: 22px;
}

.list-quickaccess .list-quickaccess-item:hover a {
      border: 2px solid #fff;
}

.list-quickaccess .list-quickaccess-item h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 25px 0 20px 0;
    /*color: #FFF;*/
    width: 100%;
    text-align: center;
}

.title-quickaccess{
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: bold;
	/*color: #FFF;*/
	padding-top: 35px;
}

#quickaccess-items > .slick-prev, #quickaccess-items > .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: -48px;
	display: block;
	width: 35px;
	height: 35px;
	padding: 0;
	top: 30%;
	margin-top: -10px;
	cursor: pointer;
	/*color: transparent;*/
	border: 2px solid #e1e1e1 !important;
	border-radius: 50%;
	outline: none;
	background: transparent;
	z-index: 2;
}

#quickaccess-items > .slick-next{
	margin-right: 0;
	right: 2%;
}

#quickaccess-items > .slick-prev{
	left: 2%;
}


#quickaccess-items .slick-prev:before, #quickaccess-items .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 10px;
    line-height: 1;
    /*color: #FFF;*/
    text-align:center;
}
    
#quickaccess-items .slick-prev::before {
    content: "\e902";
}

#quickaccess-items .slick-next::before {
	content: "\e901";
}

#quickaccess-items .slick-next:hover:before{
	content:"";
}

#quickaccess-items .slick-prev:hover:before{
	content:"";
}

#quickaccess-items .slick-next:hover{
	border-color: #07539d !important;
	background: url('../../../../images/components/distributionTable/timeLine/ico-truck.png') #07539d no-repeat ;
	background-size: 20px 20px;
	-webkit-transition: width 1s;
	transition: width 0.5s;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;

}

#quickaccess-items .slick-prev:hover{
	border-color: #07539d !important;
	background: url('../../../../images/components/distributionTable/timeLine/ico-truck-prev.png') #07539d no-repeat ;
	background-size: 20px 20px;
	-webkit-transition: width 1s;
	transition: width 0.5s;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;
}



.slider-tag-access {
    left: 50%;
    margin-left: -17px;
    position: absolute;
    /*bottom: 10px;*/
    font-size: 12px;
}
.current-items-access {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
    /*color:#fff;*/
}

.total-items-access {
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
    /*color:#fff;*/
}

.txt-accesos img { min-width: 100px; max-width:100px; margin-bottom: 12px; }
.txt-accesos span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff !important;
}
.txt-accesos-apps {
	text-align: center;
	padding: 15px;
}
.txt-accesos-apps span {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ee3036 !important;
}

.txt-accesos-apps img { min-width: 100px; max-width:100px; margin-bottom: 12px; }
.apps-children > a:visited{
	color:#ee3036 !important;
     text-decoration: none !important;
}

.apps-children > a:hover{
	color:#ee3036 !important;
     text-decoration: none !important;
}

.more-access {
    margin-top: 105px;
    float: right;
    margin-bottom: 30px;
}
.more-access a { color: #000; letter-spacing: 0.4em; font-size: 11px; text-transform: uppercase; float: right; font-weight: 700; }
.more-access a:hover { text-decoration: none; }
.more-access i {color: #ee3036; font-size: 14px; }

