﻿.gallery-vps{
	margin-bottom:25px;
}

.gallery-image{
	
  position: relative;
}
.title-gallery {
  padding-left: 92px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2em;
  margin: 1em 0 3em 0;
  position: relative;
}

.title-gallery::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 68px;
  height: 3px;
  background-color: #ee3036;
  bottom: 8px;
}

.gallery-image div:not(.container-window) {
	width: 100%;
	z-index: -1;
	transition: 1s;
	opacity: 1;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 0px;
	padding-top: 115px;
	padding-left: 105px;
}

.img-bg-gallery {
	cursor: pointer;
    margin: 0 auto;
    z-index: -1;
     border-radius:30px;
}

.container-window {
	z-index: 1000;
	background: url('../../../../images/vps/gallery/bg-gallery-deprisa.png') no-repeat center;
	height: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	cursor: pointer;
	background-size: 100% 100%;
}

#gallery-images .slick-prev, #gallery-images > .slick-next {
    font-size: 0;
	line-height: 0;
	position: absolute;
	top: 30%;
	display: block;
	border: 2px solid #07539d !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: -10px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	z-index: 2;
}

#gallery-images > .slick-next{
	margin-right: 14px;
}

#gallery-images > .slick-prev{
	right: 26px;
	top: 195px;
}

#gallery-images > .slick-next{
	right: 12px;
	top: 145px;
}

#gallery-images .slick-prev:before, #gallery-images .slick-next:before {
   font-family: 'avianca' !important;
	font-size: 10px;
	line-height: 1;
	opacity: .75;
	color: #07539d;
	text-align: center;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
#gallery-images .slick-prev::before {
    content: "\e902";
}

#gallery-images .slick-next:before {
	content: "\e901";
}

#gallery-images .slick-next:hover:before{
	content: "\e901";
	color:#FFFFFF;
}

#gallery-images .slick-prev:hover:before{
	content: "\e902";
	color:#FFFFFF;
}

#gallery-images .slick-next:hover{
	border-color: #07539d !important;
	background: #07539d;
	background-size: 20px 20px;
	-webkit-transition: width 1s;
	transition: width 0.5s;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;

}

#gallery-images .slick-prev:hover{
	border-color: #07539d !important;
	background: #07539d;
	background-size: 20px 20px;
	-webkit-transition: width 1s;
	transition: width 0.5s;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;
}

#gallery-images .slick-slide {
	
	position:relative;
}

.zoom-img{
	background: #07539d;
	display: table;
	position: absolute;
	width: 45px;
	height: 45px;
	text-align: center;
	top: 50%;
	margin-top: -23px;
	padding: 8px;
	border-radius: 100%;
	left: 3%;
	z-index: 2000;
}

.slider-tag-images {
    right: 45px;
    margin-left: -17px;
    position: absolute;
    bottom: 160px;
    font-size: 11px;
    
}
.current-items-images {
    border-bottom: 1px solid #07539d;
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
    color:#07539d;
}

.total-items-images {
    padding: 5px;
    display: table;
    width: 34px;
    text-align: center;
    color:#07539d;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

}

/* Small Devices Potrait */
@media (max-width : 767px){
	
	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
.container-window {
	z-index: 1000;
	background: url('../../../../images/vps/gallery/bg-gallery-deprisa.png') no-repeat center;
	height: 220px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	cursor: pointer;
	background-size: 140%;
	max-height: 220px;
	min-height: 220px;
	max-width:290px;
}

.gallery-image div:not(.container-window) {
    width: 100%;
    z-index: -1;
    transition: 1s;
    opacity: 1;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0px;
    padding-top: 26px;
    max-height: 198px;
    min-height: 198px;
    max-width:290px;
    left:50%;
    margin-left:-145px;
    padding-left:65px;
}

#gallery-images .slick-slide img {
    display: block;
    max-width: 250px;
    max-height:185px;
}
.zoom-img {
 	display: none;
 }
 
#gallery-images > .slick-prev {
    right: inherit;
    top: inherit;
    bottom: -45px;
    left: 26px;
}

#gallery-images > .slick-next {
    right: 12px;
    top: inherit;
    bottom: -45px;
}

.slider-tag-images {
    right: inherit;
    margin-left: 0px;
    position: relative;
    bottom: inherit;
    font-size: 11px;
    margin: 0 auto;
    display: table;
}

.more-images {
    margin-top: 25px;
}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}
