﻿.campaing-item .centrado-x { -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.campaing-item .centrado-y {-webkit-transform: translateY(-50%); transform: translateY(-50%); }
.campaing-item .centrado-total {-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } 

.campaing{
	max-width: 1347px;
	margin: 0 auto; 
	/*display: table; */
	width: 100%;
}
.campaing-item { 
	position: relative; 
	text-align: center;
	margin-top: 4%;
	margin-right: 2%;
}
.campaing-item .circulo { 
	border-radius: 100%; 
}
.campaing-item .bg-play { 
	width: 62px; 
	height: 62px; 
	background-color: #ee3036; 
	z-index: 3; 
	position: absolute; 
	top: 44%; 
	left: 59%; 
}
.campaing-item .bg-play i { 
	position: absolute; 
	top: 50%; 
	left: 55%; 
	font-size: 24px; 
	color: #ffffff; 
}
.campaing-item .btn-campaing {
	background: #ee3036;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff;
	padding: 20px 0px;
	text-decoration: none;
	width: 60%;
	display: table;
	margin: 1em auto 0 auto;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	bottom: 35px;
	left: 47%;
	margin-left: -25%; 
}
.campaing-item .btn-campaing:hover {
	text-decoration: none;
}

.image-today {
	display: flex;
	align-content: center;
	height: 100%;
	position: relative;
	float: left;
}
.video-today{
	float: left;
    max-width: 470px !important;
}
.benefit-today{
	float: left
}

.image-today .image-today-text {
	align-content: center;
	height: 470px;
	max-width:97px;
}


.image-today-text > h3 {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	white-space:nowrap;
	position:relative;
	display:inline-block;
	margin-top:200px;

}
/*.image-today .image-today-image a {
	position: absolute;
	bottom: 15px;
	left: 15px;
}*/

.campaing-item > img {
	/*height: 470px !important;*/
}

.campaing div > img,
.image-today-image img{
	/*min-height:470px;
	max-height:470px;*/
}

.image-today .image-today-image img, .benefit-today img {
	position:relative;
	margin: 0 auto;
}


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
	.image-today {
    	margin-bottom: 25px;
	}
	.campaing-item, .campaing-item img {
	    overflow: hidden;
	}
	.campaing-item .bg-play {
	   left: 55%;
	}	
	.image-today .image-today-text {
		height: auto;
		max-width: none;
	}
	.image-today-text > h3 {
		-webkit-transform: none;
		transform: none;
		margin-top:0;
		position: relative;
		margin: 0 auto;
	}
	/*.image-today .image-today-image, .benefit-today {
		width: 100%;
	}*/
	.campaing-item .btn-campaing {
		width: 80%;
		left: 30px;
		bottom: 10px;
		margin-left: 0; 
	}
	.image-today, .image-today .image-today-image, .benefit-today, .video-today  {
		position: relative;
		width: 100%;
		float: left;
	}

	.image-today .image-today-image img, .benefit-today img, .video-today img  {
	    position: relative;
	    margin: 0 auto;
	}
	.image-today-text {
		float: none;
	}
	.image-today {
		display: table;
		width: 100%;
	}
	.campaing-item .btn-campaing {
	    width: 23%;
	    left: 50%;
	    margin-left: -12%;
	    bottom: 35px;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px){
	.image-today {
		display: table;
		width: 100%;
	}
	.campaing-item img {
		/*width: 100%;*/
	}
	.image-today .image-today-image, .benefit-today , .video-today {
		width: 100%;
	}
	.image-today .image-today-text {
		height: auto;
		max-width: none;
	}
	.image-today-text > h3 {
		-webkit-transform: none;
		transform: none;
		margin-top:0;
		position: relative;
		margin: 0 auto;
	}
	.campaing-item .btn-campaing {
	    width: 70%;
	    left: 50%;
	    margin-left: -35%;
	}
	.image-today-text {
		float: none;
	}
	
	.image-today .image-today-image img, .benefit-today img, .video-today img  {
	    position: relative;
	    margin: 0 auto;
	}

	.campaing-item .bg-play {
		width: 62px;
		height: 62px;
		background-color: #ee3036;
		z-index: 3;
		position: absolute;
		top: 44%;
		left: 55%;
	}
	.campaing-item .btn-campaing {
	    width: 23%;
	    left: 50%;
	    margin-left: -12%;
	    bottom: 35px;
	}
	.ms-core-pageTitle {
    	font-size: 1.77em!important;  
	}


}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	
.campaing-item .btn-campaing {
    width: 45%;
    left: 50%;
    margin-left: -21%;
    bottom: 35px;
}

}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {

}
