﻿.video-todayy h5 {
    padding-left:92px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.video-todayy h5::before{
    content: "";
    position: absolute;
    bottom: 18px;
    left: 14px;
    width: 68px;
    height: 3px;
    background-color: #ee3036;
} 


.video-todayy{
	max-width:470px !important;
	/*margin: 0 auto;*/
	float: left;
	width:100%;
}
.video-todayy .slick-prev, .video-todayy > .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
	width: 30px;
	height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 300;
    border-radius: 50%;
}

.video-todayy > .slick-next{
	margin-right: 14px;
}

.video-todayy > .slick-prev{
	left: 26px;
}

.video-todayy > .slick-next{
	right: 12px;
}

.video-todayy .slick-prev:before, .video-todayy .slick-next:before {
    font-family: 'avianca' !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ee3036;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
    
.video-todayy .slick-prev::before {
    content: "\e902";
}

.video-todayy 	.slick-next:before {
	content: "\e901";
}



.video-todayy .slick-next:hover {
	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}

.video-todayy .slick-prev:hover {
	 border-color: #ee3036 !important;
	 background: url('../../../images/components/classifieds/avion-hover-left.png') #ee3036 no-repeat ;
	 background-size: 20px 20px;
	 -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
     background-position: center;
}

.video-todayy .slick-slide{
	
	position:relative;
}



 /* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
	 .video-todayy h5 {
	    padding-left: 60px;
	    font-size: 15px;
	 }
		
	.video-todayy h5::before {
    	width: 40px;
    }
    .video-todayy {
    	margin: 0 auto;
    	float: none;

	}


}
/* Small Devices Potrait */
@media (max-width : 767px){

  
}
/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .video-todayy h5 {
    	font-size: 16px;
	}
		

}
/* Custom, iPhone Retina */ 
@media (max-width : 320px) and (max-width: 478px)  {
  
}


